Repository fleetdm/fleet, pull requests merged in 2022-11, with the labels that each got.

#8582 In handbook, update product and engineering rituals
  handbook/engineering/README.md
  handbook/product/README.md
Labels: #handbook

#8587 Brex updates
  handbook/business-operations/README.md
Labels: #handbook

#8591 handbook: total overhaul of bizops page
  handbook/business-operations/README.md
Labels: #handbook

#8610 handbook: heading updates for consistency
  handbook/business-operations/README.md
Labels: #handbook

#8612 handbook: CEO handbook/EA updates Notes docs chart
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#8617 handbook: security policies section for people ops
  handbook/business-operations/README.md
Labels: #handbook

#8634 Updated Fleet style guide
  handbook/marketing/README.md
  handbook/marketing/content-style-guide.md
  handbook/marketing/how-to-submit-and-publish-an-article.md
Labels: #handbook

#8677 Update README.md
  handbook/customers/README.md
Labels: #handbook

#8693 Added navigation links to Brand section.md
  handbook/marketing/README.md
Labels: #handbook

#8455 Add process for support DMs
  handbook/customers/README.md
Labels: #handbook

#8712 Update Slack channels
  handbook/company/README.md
Labels: #handbook

#8732 Update content-style-guide.md
  handbook/marketing/content-style-guide.md
Labels: #handbook

#8736 Update README.md
  handbook/customers/README.md
Labels: #handbook

#8623 UI: Remove preview payload button
  changes/issue-8506-remove-Preview-payload-button
  frontend/pages/admin/AppSettingsPage/cards/Statistics/Statistics.tsx
  frontend/pages/admin/AppSettingsPage/cards/constants.ts
  frontend/pages/admin/AppSettingsPage/components/OrgSettingsForm/_styles.scss
Labels: :frontend, #interface

#8763 Update fields for Linux packages
  orbit/pkg/packaging/linux_shared.go
Labels: #agent

#8756 handbook: removing @fleetdm in Marketing page
  handbook/marketing/README.md
Labels: #handbook

#8757 Handbook: sweep for @fleetdm
  handbook/customers/README.md
Labels: #handbook

#8796 Handbook: Acronym clarification
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#8536 document API endpoints for osquery and orbit
  docs/Contributing/FAQ.md
Labels: :improve documentation

#8809 Update README.md
  handbook/customers/README.md
Labels: #handbook

#8727 Handbook: Q&A in "why this way"
  handbook/company/why-this-way.md
Labels: #handbook

#8893 Handbook: compensation change process
  handbook/business-operations/README.md
Labels: #handbook

#8894 Handbook: edits to comp changes addition
  handbook/business-operations/README.md
Labels: #handbook
