Repository fleetdm/fleet, pull requests merged in 2022-08, with the labels that each got.

#6901 Bring 4.17.1 changelog into main
  CHANGELOG.md
  changes/bug-6594-convert-sso-no-password
  changes/bug-6595-edit-user-modal
  changes/bug-6658-export-live-query-results
  changes/bug-6700-live-query-results
  changes/bug-6777-update-version-regexp
  changes/issue-6763-battery-health
  charts/fleet/Chart.yaml
  charts/fleet/values.yaml
  docs/Deploying/Server-Installation.md
  infrastructure/dogfood/terraform/aws/variables.tf
  infrastructure/dogfood/terraform/gcp/variables.tf
  tools/fleetctl-npm/package.json
Labels: :improve documentation

#6723 Fleet desktop v1 announcement
  articles/fleet-desktop-says-hello-world.md
  docs/Deploying/fleetctl-agent-updates.md
  docs/Using-Fleet/Adding-hosts.md
  docs/Using-Fleet/Fleet-desktop.md
  website/assets/images/articles/fleet-desktop-says-hello-world-1600x900@2x.jpg
  website/assets/images/articles/fleet-desktop-says-hello-world-cover-1600x900@2x.jpg
Labels: #agent

#6936 Handbook - add article submission process
  handbook/digital-experience/README.md
  handbook/digital-experience/article-formatting-guide.md
  handbook/digital-experience/how-to-submit-and-publish-an-article.md
Labels: #handbook

#7041 Handbook: Update link to latest slide deck
  handbook/sales/README.md
Labels: #handbook

#6864 Markdown guide for the handbook
  handbook/digital-experience/markdown-guide.md
Labels: #handbook

#7048 Handbook - Digital Experience housekeeping
  handbook/digital-experience/README.md
  handbook/digital-experience/article-formatting-guide.md
  handbook/digital-experience/how-to-submit-and-publish-an-article.md
Labels: #handbook

#7049 Update how-to-submit-and-publish-an-article.md
  handbook/digital-experience/how-to-submit-and-publish-an-article.md
Labels: #handbook

#7059 Update guide to add a Windows host
  articles/how-to-install-osquery-and-enroll-windows-devices-into-fleet.md
  website/assets/images/articles/install-osquery-and-enroll-windows-devices-into-fleet-1-700x365@2x.png
Labels: :improve documentation

#6742 Feature 6588: Proposal for detecting Windows vulnerabilities
  proposals/Fleet-Windows-OS-vulns.md
Labels: !vuln, #platform

#6879 Bug 5983: Performance issues when listing software
  changes/issue-5983-performance-issues-when-listing-software
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
  server/service/integration_core_test.go
Labels: bug, #platform

#7157 Update pricing.ejs
  website/views/pages/pricing.ejs
Labels: #website

#7133 Add coworking reimbursement information
  handbook/people/README.md
Labels: #handbook

#7111 Remove generate installer verbiage and update screenshot
  articles/how-to-install-osquery-and-enroll-macos-devices-into-fleet.md
  website/assets/images/articles/install-osquery-and-enroll-macos-devices-into-fleet-1-454x225@2x.png
Labels: :improve documentation

#7188 Handbook: Update positioning canvas link
  handbook/growth/README.md
Labels: #handbook

#7185 Update README.md
  handbook/sales/README.md
Labels: #handbook

#7192 Handbook: calendar audit ritual
  handbook/people/README.md
Labels: #handbook

#7159 Handbook: Add links to SOC 2 and trust reports, and to security handbook
  handbook/sales/README.md
Labels: #handbook

#7219 Sales handbook update
  handbook/sales/README.md
Labels: #handbook

#7195 Fix typo in download installer modal
  frontend/components/AddHostsModal/DownloadInstallers/DownloadInstallers.tsx
Labels: bug, !sandbox

#7266 Handbook: Remove argument from authority, use more objective language
  handbook/company/README.md
Labels: #handbook

#7150 Modify engineering meeting DRI description
  handbook/people/README.md
Labels: #handbook

#7265 Generate targets for osquery 5.5.0
  .github/workflows/generate-osqueryd-targets.yml
Labels: #osquery core

#7278 Update README.md
  handbook/product/README.md
Labels: #handbook

#7297 Feature 6975: Populate vendor column in software inventory
  changes/feature-6975-populate-vendor-for-windows-software
  server/datastore/mysql/migrations/tables/20220818101352_ChangeSoftwareVendorWidth.go
  server/datastore/mysql/migrations/tables/20220818101352_ChangeSoftwareVendorWidth_test.go
  server/fleet/software.go
  server/service/osquery_utils/queries.go
  server/service/osquery_utils/queries_test.go
Labels: #platform

#7334 Bug 7332: Include software without CPE entries
  changes/bug-7332-software-list-includes-without-cpe
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
Labels: bug, #platform

#7031 Engineering README.md housekeeping
  handbook/community/README.md
  handbook/engineering/README.md
Labels: #handbook

#7339 Bug with Vendor Width migration
  server/datastore/mysql/migrations/tables/20220818101352_ChangeSoftwareVendorWidth.go
Labels: bug, #platform

#7311 Fixed flaky vulnerability CRON tests
  cmd/fleet/serve_test.go
Labels: bug

#7318 Handbook: #help-travel DRI for slack channel
  handbook/digital-experience/README.md
Labels: #handbook

#7342 Bug 7320: Fixed dulp. vulns. on software details.
  changes/bug-7320-duplicates-cves-in-software-page
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
Labels: bug, #platform

#7382 noticed some tags being outdated in sandbox
  infrastructure/sandbox/main.tf
Labels: !sandbox

#7383 Create executive-assistant.md
  handbook/people/executive-assistant.md
Labels: #handbook

#6587 Feature 6538: Remove cpe_id from the software_cve table
  changes/feature-6538-remove-cpe_id-column
  server/datastore/mysql/migrations/tables/20220711104651_RemoveCpeIDColumnFromSoftwareCve.go
  server/datastore/mysql/schema.sql
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
  server/fleet/datastore.go
  server/mock/datastore_mock.go
  server/vulnerabilities/cve.go
  server/vulnerabilities/cve_test.go
Labels: !vuln, #platform

#7378 Add "Deploying to dogfood" to engineering handbook
  handbook/engineering/README.md
Labels: #handbook

#7413 Handbook: Apply content standards
  handbook/community/README.md
Labels: #handbook

#7419 Handbook: update to scheduling section
  handbook/people/ceo-handbook.md
Labels: #handbook

#7138 Feature 7076: Ingest installed windows updates
  changes/feature-7076-store-windows-updates
  cmd/fleetctl/get_test.go
  cmd/osquery-perf/agent.go
  cmd/osquery-perf/windows_11.tmpl
  docs/Deploying/Configuration.md
  server/config/config.go
  server/datastore/mysql/hosts.go
  server/datastore/mysql/hosts_test.go
  server/datastore/mysql/migrations/tables/20220809091020_AddWindowsUpdatesTable.go
  server/datastore/mysql/migrations/tables/20220809091020_AddWindowsUpdatesTable_test.go
  server/datastore/mysql/schema.sql
  server/datastore/mysql/windows_updates.go
  server/datastore/mysql/windows_updates_test.go
  server/fleet/app.go
  server/fleet/datastore.go
  server/fleet/windows_updates.go
  server/fleet/windows_updates_tests.go
  server/mock/datastore_mock.go
  server/service/osquery_test.go
  server/service/osquery_utils/queries.go
  server/service/osquery_utils/queries_test.go
  server/service/service_appconfig.go
  server/vulnerabilities/testdata/windows/software/windows_11-software.json.bz2
Labels: !vuln, #platform

#7433 Handbook: Gong filing process
  handbook/people/ceo-handbook.md
Labels: #handbook

#7434 Handbook: Slack communications best practices
  handbook/people/README.md
Labels: #handbook

#7435 Handbook: wire-framing additional paragraph
  handbook/company/README.md
Labels: #handbook

#7437 Handbook: private whiteboard process
  handbook/people/ceo-handbook.md
Labels: #handbook

#7438 Handbook: new IT converstations
  handbook/people/ceo-handbook.md
Labels: #handbook

#7442 Handbook: API-access requests
  handbook/security/README.md
Labels: #handbook

#7446 Bug 7441: Upgrading to 4.19.0 might fail due to migration
  changes/bug-7441-make-migration-more-robust
  server/datastore/mysql/migrations/tables/20220818101352_ChangeSoftwareVendorWidth.go
  server/datastore/mysql/migrations/tables/20220818101352_ChangeSoftwareVendorWidth_test.go
Labels: bug, #platform

#7424 Feature 7077: Add MSRC feed parser
  changes/feature-7077-msrc-parser
  server/ptr/ptr.go
  server/vulnerabilities/msrc/io/fs.go
  server/vulnerabilities/msrc/io/fs_test.go
  server/vulnerabilities/msrc/io/github.go
  server/vulnerabilities/msrc/io/security_bulletin_name.go
  server/vulnerabilities/msrc/io/security_bulletin_name_test.go
  server/vulnerabilities/msrc/parsed/product.go
  server/vulnerabilities/msrc/parsed/product_test.go
  server/vulnerabilities/msrc/parsed/security_bulletin.go
  server/vulnerabilities/msrc/parser.go
  server/vulnerabilities/msrc/parser_test.go
  server/vulnerabilities/msrc/sync.go
  server/vulnerabilities/msrc/sync_test.go
  server/vulnerabilities/msrc/xml/feed_result.go
  server/vulnerabilities/msrc/xml/product.go
  server/vulnerabilities/msrc/xml/product_test.go
  server/vulnerabilities/msrc/xml/vulnerability.go
  server/vulnerabilities/msrc/xml/vulnerability_test.go
  server/vulnerabilities/testdata/msrc-2022-may.xml.bz2
Labels: !vuln, #platform
