Repository fleetdm/fleet, pull requests merged in 2022-12, with the labels that each got.

#8900 Update README.md
  handbook/customers/README.md
Labels: #handbook

#8930 Update README.md
  handbook/customers/README.md
Labels: #handbook

#8926 Update README.md
  handbook/customers/README.md
Labels: #handbook

#8939 Update README.md
  handbook/customers/README.md
Labels: #handbook

#8931 Short goals for Fleet's values.md
  handbook/company/README.md
Labels: #handbook

#8398 Document usage of `command_line_flags`
  docs/Using-Fleet/configuration-files/README.md
Labels: :improve documentation

#8946 follow up to #8931
  handbook/company/README.md
Labels: #handbook

#8954 Update pricing-features-table.yml
  handbook/product/pricing-features-table.yml
Labels: #handbook

#8970 Update pricing to reflect that osquery startup flags exists
  handbook/product/pricing-features-table.yml
Labels: #handbook

#8991 Send custom headers for live queries
  changes/add-live-query-custom-headers
  server/service/client_live_query.go
Labels: bug, #fleetctl

#9003 Real talk
  handbook/business-operations/README.md
Labels: #handbook

#9015 Fix typos in website code
  website/api/controllers/entrance/signup.js
  website/scripts/get-bug-and-pr-report.js
  website/views/layouts/layout-email-newsletter.ejs
  website/views/pages/homepage.ejs
Labels: #website

#9017 Updated marketing DRI in the handbook
  handbook/marketing/README.md
  handbook/marketing/how-to-submit-and-publish-an-article.md
Labels: #handbook

#9023 Update why-this-way.md
  handbook/company/README.md
  handbook/company/why-this-way.md
Labels: #handbook

#9049 Update to sales section
  handbook/customers/README.md
Labels: #handbook

#9056 Fix broken link
  handbook/company/README.md
Labels: #handbook

#9081 Update README.md
  handbook/customers/README.md
Labels: #handbook

#9104 docs: clarify orbit managed extensions
  docs/Using-Fleet/configuration-files/README.md
Labels: :improve documentation

#9066 Test larger runner for E2E test action
  .github/workflows/test.yml
Labels: #contributor experience

#9118 add vanta integration to the pricing page (premium)
  handbook/product/pricing-features-table.yml
Labels: #handbook

#9111 Add critical policies to pricing page
  handbook/product/pricing-features-table.yml
Labels: #handbook
