Repository fleetdm/fleet, pull requests merged in 2022-07, with the labels that each got.

#6387 Add server support for Fleet Sandbox demo login
  server/service/handler.go
  server/service/integration_core_test.go
  server/service/sessions.go
  server/service/transport.go
Labels: !demo

#6451 Feature 5676: Update vulnerability detection docs to include OVAL vulnerability detection.
  docs/Using-Fleet/Vulnerability-Processing.md
Labels: !vuln, #platform

#6485 Add Markdown bold closing token
  docs/Using-Fleet/FAQ.md
Labels: :improve documentation

#6535 Make universal binary for Desktop on macOS
  changes/desktop-universal-binary
  tools/desktop/desktop.go
Labels: #desktop

#6386 Proposal for improving vulnerability detection MacOS
  proposals/improv-mac-os-vuln-detection.md
Labels: !vuln, #platform

#6137 Add v1 to endpoints
  docs/Deploying/FAQ.md
  docs/Using-Fleet/Adding-hosts.md
  docs/Using-Fleet/configuration-files/README.md
  docs/Using-Fleet/fleetctl-CLI.md
  frontend/components/AddHostsModal/PlatformWrapper/PlatformWrapper.tsx
Labels: :improve documentation, #interface

#6660 Handbook: Fix broken link
  handbook/engineering.md
Labels: :improve handbook

#6705 Fix GCP Terraform link in docs
  docs/Deploying/Reference-Architectures.md
Labels: :improve documentation

#6686 Bug 6508: Don't show non-CVE entries
  changes/bug-6508-non-cve-entries
  server/datastore/mysql/software_test.go
  server/fleet/software.go
  server/vulnerabilities/oval/analyzer.go
  server/vulnerabilities/oval/analyzer_test.go
  server/vulnerabilities/oval/parsed/definition.go
  server/vulnerabilities/oval/parsed/definition_test.go
  server/vulnerabilities/oval/parsed/rhel_result.go
  server/vulnerabilities/oval/parsed/ubuntu_result.go
Labels: !vuln, #platform

#6691 Bump Fleet Desktop version to 1.0.0
  .github/workflows/generate-desktop-targets.yml
Labels: #desktop

#6667 Apply password requirements to admin-created users
  changes/admin-user
  server/fleet/users.go
  server/fleet/users_test.go
Labels: customer request

#6725 Update API-Only User doc
  docs/Using-Fleet/fleetctl-CLI.md
Labels: :improve documentation, 🏆 OKR

#6800 Bug 6777: Make the regexp used for detecting the oval platform major, min versions more permissive
  changes/bug-6777-update-version-regexp
  server/vulnerabilities/oval/oval_platform.go
  server/vulnerabilities/oval/oval_platform_test.go
Labels: bug, !vuln, #platform

#6843 Website: Follow up to strip leading slashes
  website/api/controllers/articles/view-basic-article.js
  website/api/controllers/docs/view-basic-documentation.js
  website/api/controllers/handbook/view-basic-handbook.js
Labels: #website

#6757 Update oncall responsibilities
  handbook/engineering/README.md
Labels: :improve handbook
