Repository fleetdm/fleet, pull requests merged in 2022-09, with the labels that each got.

#7513 Handbook: 5 things was too many things
  handbook/company/README.md
Labels: #handbook

#6985 improve vuln cpe matching on macos
  changes/issue-6628-macos-vuln
  cmd/fleet/cron.go
  cmd/fleetctl/get_test.go
  cmd/fleetctl/vulnerability_data_stream.go
  cmd/fleetctl/vulnerability_data_stream_test.go
  docs/Deploying/Configuration.md
  docs/Using-Fleet/Vulnerability-Processing.md
  server/config/config.go
  server/config/config_test.go
  server/fleet/app.go
  server/service/service_appconfig.go
  server/vulnerabilities/cpe.go
  server/vulnerabilities/cpe_test.go
  server/vulnerabilities/cpe_translations.json
  server/vulnerabilities/db.go
  server/vulnerabilities/sync.go
  server/vulnerabilities/sync_test.go
Labels: !vuln, #platform

#7528 Handbook: edit
  handbook/people/README.md
Labels: #handbook

#7531 Handbook: all hands prep
  handbook/people/ceo-handbook.md
Labels: #handbook

#7545 Handbook: Updated Markdown review instructions
  handbook/engineering/README.md
Labels: #handbook

#7546 Handbook: Update DigEx README.md
  handbook/digital-experience/README.md
Labels: #handbook

#7547 Handbook: Update community README.md
  handbook/community/README.md
Labels: #handbook

#7549 Handbook: How to add a handbook page
  handbook/handbook/README.md
Labels: #handbook

#7550 Handbook: Fix broken build I introduced in #7549
  handbook/handbook/README.md
Labels: #handbook

#7578 Handbook: todos + snip dramatic exits
  handbook/company/README.md
Labels: #handbook

#7478 Bug 7465: Bump out of date migrations
  changes/bug-7465-bump-migrations
  server/datastore/mysql/migrations/tables/20220831100036_RemoveCpeIDColumnFromSoftwareCve.go
  server/datastore/mysql/migrations/tables/20220831100151_AddWindowsUpdatesTable.go
  server/datastore/mysql/migrations/tables/20220831100151_AddWindowsUpdatesTable_test.go
  server/datastore/mysql/schema.sql
Labels: bug, #platform

#7595 Handbook: TPA access and ritual
  handbook/people/README.md
Labels: #handbook

#7596 Handbook: Balance iteration link
  handbook/company/README.md
Labels: #handbook

#6903 Gong updates to Handbook.
  handbook/people/README.md
Labels: #handbook

#7586 Update Sales handbook.md
  handbook/sales/README.md
Labels: #handbook

#7581 Feature 7559: Include 3rd party severity scores in the vulnerability web-hook payload
  changes/feature-7559-webhook-payload-includes-cve-scores
  cmd/fleet/cron.go
  cmd/fleet/cron_test.go
  cmd/fleet/serve.go
  cmd/fleet/serve_test.go
  docs/Using-Fleet/Automations.md
  ee/server/webhooks/mapper.go
  ee/server/webhooks/mapper_test.go
  frontend/pages/software/ManageSoftwarePage/components/PreviewPayloadModal/PreviewPayloadModal.tsx
  server/webhooks/mapper.go
  server/webhooks/mapper_test.go
  server/webhooks/vuln_args.go
  server/webhooks/vulnerabilities.go
  server/webhooks/vulnerabilities_test.go
Labels: !vuln, #platform

#7443 Handbook: adding contact information for customers
  handbook/customers/README.md
Labels: #handbook

#7520 Fix broken links in handbook
  handbook/engineering/README.md
Labels: #handbook

#7648 Updated language to reflect "talk to an expert"
  handbook/growth/README.md
Labels: #handbook

#7662 Update standard policies and policy templates
  docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
  frontend/utilities/constants.ts
Labels: #interface

#7625 Update deploying to dogfood instructions.
  handbook/engineering/README.md
Labels: #handbook

#7665 Handbook: coworking update
  handbook/people/README.md
Labels: #handbook

#7674 Handbook: payroll in gross line
  handbook/people/README.md
Labels: #handbook

#7678 Remove errors tooltips from Fleet Desktop menu
  orbit/changes/remove-desktop-errors-tooltip
  orbit/cmd/desktop/desktop.go
Labels: #desktop

#7491 Feature 7394: Use MSRC parser to generate security bulletin artifacts
  changes/feature-7394-generate-msrc-artifacts
  cmd/msrc/generate.go
  server/vulnerabilities/msrc/io/fs.go
  server/vulnerabilities/msrc/io/fs_test.go
  server/vulnerabilities/msrc/io/github.go
  server/vulnerabilities/msrc/io/github_test.go
  server/vulnerabilities/msrc/io/msrc.go
  server/vulnerabilities/msrc/io/msrc_test.go
  server/vulnerabilities/msrc/io/security_bulletin_name.go
  server/vulnerabilities/msrc/parsed/security_bulletin.go
  server/vulnerabilities/msrc/parsed/security_bulletin_test.go
  server/vulnerabilities/msrc/parser.go
  server/vulnerabilities/msrc/parser_test.go
  server/vulnerabilities/msrc/sync.go
  server/vulnerabilities/msrc/sync_test.go
Labels: !vuln, #platform

#7701 Bug 7682: Fixed issue with migration not running on MariaDB
  changes/bug-7682-bug-migration-maria-db
  server/datastore/mysql/migrations/tables/20220831100036_RemoveCpeIDColumnFromSoftwareCve.go
  server/datastore/mysql/migrations/tables/migration.go
Labels: bug, #platform

#7530 Feature 7084: Add new EE endpoint for Fleet Desktop
  changes/feature-7084-ee-fleet-desktop-endpoint
  cmd/osquery-perf/agent.go
  docs/Contributing/API-for-contributors.md
  ee/server/service/devices.go
  server/datastore/mysql/hosts.go
  server/datastore/mysql/hosts_test.go
  server/fleet/datastore.go
  server/fleet/service.go
  server/mock/datastore_mock.go
  server/service/devices.go
  server/service/handler.go
  server/service/integration_enterprise_test.go
Labels: #interface

#7698 Bug 6717: Duplicate calls on vulnerability third party integrations.
  changes/bug-6717-duplicate-calls-third-party-integrations
  cmd/fleet/cron_test.go
  ee/server/webhooks/mapper.go
  ee/server/webhooks/mapper_test.go
  server/webhooks/mapper.go
  server/webhooks/mapper_test.go
  server/webhooks/vulnerabilities.go
  server/webhooks/vulnerabilities_test.go
  server/worker/jira.go
  server/worker/jira_test.go
  server/worker/zendesk.go
  server/worker/zendesk_test.go
Labels: bug, #platform

#7724 Update README.md
  handbook/company/README.md
Labels: #handbook

#7739 Handbook: help-ceo slack channel
  handbook/digital-experience/README.md
Labels: #handbook

#7670 Handbook: OKR doc update
  handbook/product/README.md
Labels: #handbook

#7710 Website: update "For editors" section in the handbook
  handbook/digital-experience/README.md
  handbook/digital-experience/how-to-submit-and-publish-an-article.md
Labels: #handbook

#7536 Feature 6946: Fleet Desktop should use minimal api end-point for data
  changes/6946-fleet-desktop-uses-min-endpoint
  orbit/cmd/desktop/desktop.go
  server/service/device_client.go
  server/service/device_client_test.go
  server/service/devices.go
  server/service/integration_enterprise_test.go
Labels: #agent

#7785 Handbook: communicating departures
  handbook/people/README.md
Labels: #handbook

#7786 handbook: new ritual for OKRs on Product page
  handbook/people/README.md
Labels: #handbook

#7787 Handbook: New ritual for OKR logs
  handbook/product/README.md
Labels: #handbook

#7799 Add go1.19.1 update to 4.20.1 changelog
  CHANGELOG.md
Labels: :improve documentation

#7847 Handbook: Update customers page
  handbook/customers/README.md
  handbook/people/README.md
  website/config/custom.js
Labels: #handbook

#7851 Use directories to organize msrc assets
  .gitignore
  cmd/msrc/generate.go
Labels: #platform

#7858 Add missing XML tag in macOS Orbit packaging template
  orbit/pkg/packaging/macos_templates.go
Labels: :community

#7791 Charlie company handbook patch
  handbook/company/README.md
  handbook/company/development-groups.md
  handbook/company/why-this-way.md
Labels: #handbook

#7867 Update Digital Experience README.md
  handbook/digital-experience/README.md
Labels: #handbook

#7868 update to article submission guide
  handbook/digital-experience/article-formatting-guide.md
  handbook/digital-experience/how-to-submit-and-publish-an-article.md
Labels: #handbook

#7854 Use Group SID on fleetctl on Windows
  changes/5065-fleetctl-package-language
  orbit/pkg/packaging/windows.go
Labels: bug, #agent

#7881 7848 table `yum_sources` and intel me info show as Mac compatible in fleet but are not according to osquery
  frontend/osquery_tables.json
Labels: #handbook

#7822 update engineering handbook to include dogfood connection details
  handbook/engineering/README.md
Labels: #handbook

#7672 Frontend Tech Debt: Software card API dependency moved to page level component
  frontend/pages/Homepage/Homepage.tsx
  frontend/pages/Homepage/cards/Software/Software.tsx
  frontend/pages/Homepage/components/InfoCard/InfoCard.tsx
Labels: :frontend, techdebt, #interface

#7363 Windows desktop theme detection
  orbit/changes/windows-theme-detection
  orbit/cmd/desktop/desktop.go
  orbit/cmd/desktop/desktop_unix.go
  orbit/cmd/desktop/desktop_windows.go
  orbit/cmd/desktop/generated_syscall_windows.go
  orbit/cmd/desktop/icon_dark.ico
  orbit/cmd/desktop/icon_dark.png
  orbit/cmd/desktop/icon_light.ico
  orbit/cmd/desktop/icon_light.png
  orbit/cmd/desktop/theme.go
Labels: #agent, #desktop

#7699 Strongly discourage use of MariaDB
  docker-compose.yml
  docs/Contributing/Building-Fleet.md
  docs/Deploying/FAQ.md
  docs/Getting-started/FAQ.md
Labels: :improve documentation

#7919 Reverted changes made to Fleet Desktop (no longer using the lightweight 'desktop' endpoint
  changes/6946-fleet-desktop-uses-min-endpoint
  orbit/cmd/desktop/desktop.go
  server/service/device_client.go
  server/service/device_client_test.go
Labels: #agent

#7704 Add on call procedure for sandbox
  handbook/engineering/README.md
Labels: #handbook

#7960 Update osquery validations from 5.4.0 to 5.5.1
  changes/issue-7871-update-osquery-validations-to-5.5.1
  server/fleet/agent_options.go
  server/fleet/agent_options_test.go
  tools/osquery-agent-options/README.md
Labels: #interface

#7973 Use dark theme icon in Fleet Desktop by default
  orbit/cmd/desktop/desktop.go
Labels: #agent, #desktop

#7976 Handbook: new equipment requests
  handbook/people/README.md
Labels: #handbook

#7900 Handbook: customer response templates
  handbook/customers/README.md
Labels: #handbook

#7994 Update README.md
  handbook/sales/README.md
Labels: #handbook

#7996 Update engineering oncall documentation
  handbook/engineering/README.md
Labels: #handbook

#7961 Update Fleet Desktop version
  .github/workflows/generate-desktop-targets.yml
Labels: #agent, #desktop

#8026 Handbook: Bizops Key Review
  handbook/people/README.md
Labels: #handbook

#8029 Handbook: per diem change
  handbook/people/README.md
Labels: #handbook

#8052 Handbook: ceo shadow program finalization
  handbook/people/ceo-handbook.md
Labels: #handbook

#8053 Handbook: Product edits
  handbook/product/README.md
Labels: #handbook

#8055 Handbook: added new links
  handbook/people/ceo-handbook.md
Labels: #handbook
