Repository fleetdm/fleet, pull requests merged in 2022-05, with the labels that each got.

#5433 feat: reorder entities on REST API page
  docs/Using-Fleet/REST-API.md
Labels: :improve documentation

#5429 Add user agent to Orbit HTTP client
  .gitignore
  go.mod
  go.sum
  orbit/.goreleaser.yml
  orbit/cmd/orbit/orbit.go
  orbit/cmd/orbit/orbit_info.go
  orbit/pkg/build/build.go
  orbit/pkg/update/update.go
Labels: #agent

#5500 Add description for delete pack by name endpoint
  docs/Using-Fleet/REST-API.md
Labels: :improve documentation

#5480 Adding access control policy
  handbook/security-policies.md
Labels: :security

#5234 Updated "Contribute" title
  docs/Contributing/README.md
Labels: :improve documentation

#5155 Handbook editor pass - Growth
  handbook/growth.md
Labels: :improve handbook

#5302 Editor pass Handbook: Add rituals section to engineering page
  handbook/community.md
Labels: :improve handbook

#5482 Handbook: Adding encryption policy
  handbook/security-policies.md
Labels: :improve handbook, :security

#5570 Editor pass - Adding access control policy
  handbook/security-policies.md
Labels: :improve handbook

#5492 Editor pass - Adding acceptable use policy
  handbook/security-policies.md
Labels: :improve handbook

#5576 Editor pass - fix SELinux issue
  changes/4176-orbit-fix-selinux-permissions
Labels: :improve changelog

#5584 Handbook: Digital Experience Slack channels
  handbook/brand.md
Labels: :improve handbook

#5484 Handbook: Adding risk management policy
  handbook/security-policies.md
Labels: :improve handbook, :security

#5571 Editor pass - Handbook: CorpNet registration
  handbook/people.md
Labels: :improve handbook

#5496 Editor pass - handbook-operations-section
  handbook/brand.md
Labels: :improve handbook

#5360 Editor Pass - Add community PR guidelines
  handbook/community.md
Labels: :improve handbook

#5605 Handbook: Add list of unable to hire countries in handbook
  handbook/people.md
Labels: :improve handbook

#5228 Handbook editor pass - Customers
  handbook/customers.md
Labels: :improve handbook

#5495 https://github.com/fleetdm/fleet/pull/5210
  handbook/customers.md
Labels: :improve handbook

#5548 Handbook: Add missed demo follow up ritual description
  handbook/growth.md
Labels: :improve handbook

#5238 Website editor pass - Contribute
  docs/Contributing/README.md
Labels: :improve documentation

#4755 Update docs for deploying Fleet on Kubernetes
  docs/Contributing/Releasing-Fleet.md
  docs/Deploying/Server-Installation.md
Labels: :improve documentation

#5568 Editor pass - Add to Handbook: Weekly updates (2)
  handbook/growth.md
Labels: :improve handbook

#5560 feat: add faq about updating fleetctl preview
  docs/Using-Fleet/FAQ.md
Labels: :improve documentation

#5512 Handbook: weekly updates ritual info
  handbook/people.md
Labels: :improve handbook

#5556 Handbook: Update handbook labels description
  handbook/company.md
Labels: :improve handbook

#5553 Adding many policies
  handbook/security-policies.md
Labels: :security

#5465 Handbook: People update
  handbook/people.md
Labels: :improve handbook

#5672 Update changelog for Orbit 0.0.11
  orbit/CHANGELOG.md
  orbit/changes/4176-orbit-fix-selinux-permissions
  orbit/changes/orbit-legacy-targets
Labels: :improve documentation

#5603 Feature 5307: Add capability for parsing OVAL files (for Ubuntu)
  changes/feature-5307-create-an-oval-file-parser
  cmd/fleet/cron.go
  cmd/fleetctl/vulnerability_data_stream.go
  cmd/fleetctl/vulnerability_data_stream_test.go
  server/fleet/datastore.go
  server/vulnerabilities/oval/downloader.go
  server/vulnerabilities/oval/downloader_test.go
  server/vulnerabilities/oval/input/constant_variable.go
  server/vulnerabilities/oval/input/definition.go
  server/vulnerabilities/oval/input/dpkg_object.go
  server/vulnerabilities/oval/input/dpkg_state.go
  server/vulnerabilities/oval/input/dpkgtest.go
  server/vulnerabilities/oval/input/ubuntu_result.go
  server/vulnerabilities/oval/mappers.go
  server/vulnerabilities/oval/oval_platform.go
  server/vulnerabilities/oval/oval_platform_test.go
  server/vulnerabilities/oval/parsed/data_type.go
  server/vulnerabilities/oval/parsed/data_type_test.go
  server/vulnerabilities/oval/parsed/definition.go
  server/vulnerabilities/oval/parsed/definition_test.go
  server/vulnerabilities/oval/parsed/dpkginfo_state_evr_string.go
  server/vulnerabilities/oval/parsed/dpkginfo_state_evr_string_test.go
  server/vulnerabilities/oval/parsed/dpkginfotest.go
  server/vulnerabilities/oval/parsed/dpkginfotest_test.go
  server/vulnerabilities/oval/parsed/host_package.go
  server/vulnerabilities/oval/parsed/object_match_type.go
  server/vulnerabilities/oval/parsed/object_match_type_test.go
  server/vulnerabilities/oval/parsed/operation_type.go
  server/vulnerabilities/oval/parsed/operation_type_test.go
  server/vulnerabilities/oval/parsed/operator_type.go
  server/vulnerabilities/oval/parsed/operator_type_test.go
  server/vulnerabilities/oval/parsed/rpmvercmp.go
  server/vulnerabilities/oval/parsed/rpmvercmp_test.go
  server/vulnerabilities/oval/parsed/state_match_type.go
  server/vulnerabilities/oval/parsed/state_match_type_test.go
  server/vulnerabilities/oval/parsed/ubuntu_result.go
  server/vulnerabilities/oval/parser.go
  server/vulnerabilities/oval/sync.go
  server/vulnerabilities/oval/sync_test.go
Labels: !vuln, #platform

#5510 Handbook: weekly updates heading
  handbook/README.md
Labels: :improve handbook

#5789 Update handbook content related to oncall
  handbook/community.md
  handbook/customers.md
  handbook/engineering.md
Labels: :improve handbook

#5797 Scan Ubuntu hosts using OVAL definitions
  changes/feature-5648-update-software_cve-shema
  cmd/fleet/cron.go
  cmd/fleetctl/debug.go
  cmd/fleetctl/get_test.go
  go.sum
  orbit/cmd/desktop/desktop.go
  orbit/pkg/execuser/execuser_linux.go
  server/datastore/mysql/hosts.go
  server/datastore/mysql/hosts_test.go
  server/datastore/mysql/migrations/tables/20220510110838_AddIdxOnHostsPlatform.go
  server/datastore/mysql/migrations/tables/20220518124708_AddSourceToSoftwareCveTable.go
  server/datastore/mysql/schema.sql
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
  server/fleet/datastore.go
  server/fleet/software.go
  server/mock/datastore_mock.go
  server/service/hosts.go
  server/service/hosts_test.go
  server/service/integration_core_test.go
  server/vulnerabilities/cpe.go
  server/vulnerabilities/cve.go
  server/vulnerabilities/cve_test.go
  server/vulnerabilities/oval/analyzer.go
  server/vulnerabilities/oval/analyzer_test.go
  server/vulnerabilities/oval/oval_platform.go
  server/vulnerabilities/oval/oval_platform_test.go
  server/vulnerabilities/oval/parsed/definition.go
  server/vulnerabilities/oval/parsed/definition_test.go
  server/vulnerabilities/oval/parsed/dpkginfotest.go
  server/vulnerabilities/oval/parsed/dpkginfotest_test.go
  server/vulnerabilities/oval/parsed/result.go
  server/vulnerabilities/oval/parsed/ubuntu_result.go
  server/vulnerabilities/oval/sync.go
  server/vulnerabilities/oval/sync_test.go
Labels: !vuln, #platform

#5551 Handbook: Salesforce contributor experience ritual
  handbook/growth.md
Labels: :improve handbook

#5907 Feature 5893: Add integration tests for detecting vulnerable software using OVAL
  server/vulnerabilities/oval/analyzer_test.go
  server/vulnerabilities/oval/oval_platform.go
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_1604-software.json.bz2
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_1604-software_cves.csv.bz2
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_1804-software.json.bz2
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_1804-software_cves.csv.bz2
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_2004-software.json.bz2
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_2004-software_cves.csv.bz2
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_2104-software.json.bz2
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_2104-software_cves.csv.bz2
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_2110-software.json.bz2
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_2110-software_cves.csv.bz2
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_2204-software.json.bz2
  server/vulnerabilities/oval/testdata/ubuntu/software/ubuntu_2204-software_cves.csv.bz2
  server/vulnerabilities/oval/testdata/ubuntu/ubuntu_1604-oval_def.json.bz2
  server/vulnerabilities/oval/testdata/ubuntu/ubuntu_1804-oval_def.json.bz2
  server/vulnerabilities/oval/testdata/ubuntu/ubuntu_2004-oval_def.json.bz2
  server/vulnerabilities/oval/testdata/ubuntu/ubuntu_2104-oval_def.json.bz2
  server/vulnerabilities/oval/testdata/ubuntu/ubuntu_2110-oval_def.json.bz2
  server/vulnerabilities/oval/testdata/ubuntu/ubuntu_2204-oval_def.json.bz2
Labels: !vuln, #platform

#5930 Update Orbit changelog for v0.0.12
  orbit/CHANGELOG.md
  orbit/changes/issue-5579-fleet-desktop-policies
Labels: :improve documentation

#5931 Explicitly set goreleaser version in Orbit release
  .github/workflows/goreleaser-orbit.yaml
Labels: #contributor experience

#5932 Update Fleet Desktop version to 0.0.2
  .github/workflows/generate-desktop-targets.yml
Labels: !desktop

#5933 Bump Orbit Go version to 1.18.2
  .github/workflows/goreleaser-orbit.yaml
Labels: dependencies

#5934 Use goreleaser v1.1.0 for Orbit build
  .github/workflows/goreleaser-orbit.yaml
Labels: dependencies
