Repository fleetdm/fleet, pull requests merged in 2022-10, with the labels that each got.

#7963 Fixes various bugs with NVD vulnerability detection
  changes/bug-various-nvd-related
  cmd/cpe/generate.go
  cmd/fleet/cron.go
  cmd/fleetctl/vulnerability_data_stream.go
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
  server/vulnerabilities/cpe.go
  server/vulnerabilities/cpe_test.go
  server/vulnerabilities/nvd/cpe.go
  server/vulnerabilities/nvd/cpe_test.go
  server/vulnerabilities/nvd/cpe_translations.go
  server/vulnerabilities/nvd/cpe_translations.json
  server/vulnerabilities/nvd/cve.go
  server/vulnerabilities/nvd/cve_test.go
  server/vulnerabilities/nvd/db.go
  server/vulnerabilities/nvd/indexed_cpe_item.go
  server/vulnerabilities/nvd/sanitize.go
  server/vulnerabilities/nvd/sanitize_test.go
  server/vulnerabilities/nvd/sync.go
  server/vulnerabilities/nvd/sync_test.go
  server/vulnerabilities/nvd/testing_utils.go
  server/vulnerabilities/oval/oval_platform.go
Labels: bug, !vuln, #platform

#8069 Handbook: key review edits
  handbook/people/README.md
Labels: #handbook

#7991 Add handling for Apple Team ID in Notarization
  .github/workflows/generate-desktop-targets.yml
  changes/notarization-team-id
  docs/Using-Fleet/Adding-hosts.md
  orbit/README.md
  orbit/pkg/packaging/macos_notarize.go
  tools/desktop/desktop.go
Labels: #agent

#7983 Bug process
  docs/Contributing/Releasing-Fleet.md
  handbook/people/README.md
  handbook/product/README.md
  handbook/quality/README.md
Labels: #handbook

#8097 Template: CEO shadow onboarding
  handbook/people/ceo-handbook.md
Labels: #handbook

#8089 Fixed bug with duplicated vulnerabilities
  server/vulnerabilities/nvd/cve.go
  server/vulnerabilities/nvd/cve_test.go
Labels: bug, #platform

#7814 Link to documentation improvement backlog
  handbook/engineering/README.md
Labels: #handbook

#8132 Adding details about contacting the CEO.md
  handbook/people/ceo-handbook.md
Labels: #handbook

#8133 Adding turnaround time for deck revisions.md
  handbook/digital-experience/README.md
Labels: #handbook

#8126 Handbook: slack channel update
  handbook/digital-experience/README.md
Labels: #handbook

#8143 Product handbook: Update link to projects
  handbook/product/README.md
Labels: #handbook

#8158 Update ceo-handbook.md
  handbook/people/ceo-handbook.md
Labels: #handbook

#8078 fix formatting and spelling
  handbook/quality/README.md
Labels: #handbook

#8164 Handbook: Remove rotation schedule from CEO shadow
  handbook/people/ceo-handbook.md
Labels: #handbook

#8134 Add new page explaining how osquery children process are terminated
  docs/Using-Fleet/Monitoring-Fleet.md
  docs/Using-Fleet/Osquery-process.md
  docs/Using-Fleet/README.md
Labels: :improve documentation

#8177 Handbook: Add link to key review deck explanation
  handbook/people/README.md
Labels: #handbook

#8160 Only ingest installed deb_packages
  changes/bug-7804-uninstalled-software-appears-on-software-page
  server/service/osquery_utils/queries.go
Labels: #platform

#8170 Remove info banner from Team details > Agent options
  frontend/pages/admin/TeamManagementPage/TeamDetailsWrapper/AgentOptionsPage/AgentOptionsPage.tsx
Labels: :frontend, #interface

#8191 Vulnerabilities not detected if NVD CVE feed is unavailable or rate limited
  changes/bug-7912-keep-scanning-if-nvd-cannot-be-synched
  cmd/fleet/cron.go
Labels: bug, #platform

#8159 Fleet desktop should use lightweight endpoint for getting failing policies count
  changes/feature-6946-fleet-desktop-uses-minimal-endpoint
  orbit/cmd/desktop/desktop.go
  server/service/device_client.go
  server/service/device_client_test.go
  server/service/devices.go
  server/service/integration_enterprise_test.go
Labels: #agent

#8038 Update deploy to dogfood instructions
  handbook/engineering/README.md
Labels: #handbook

#8101 Add 2 steps to the "Releasing Fleet" process
  docs/Contributing/Releasing-Fleet.md
Labels: :improve documentation

#8196 Handbook: Fix link in customers ritual table
  handbook/customers/README.md
Labels: #handbook

#8192 Update Agent options empty state
  frontend/utilities/yaml/index.ts
Labels: :frontend, #interface

#7838 BizOps updates in handbook
  handbook/people/README.md
Labels: #handbook

#7839 Handbook updates: SVB reporting
  handbook/people/README.md
Labels: #handbook

#7956 Handbook update
  handbook/people/README.md
Labels: #handbook

#8276 Handbook to Culture section
  handbook/handbook/README.md
Labels: #handbook

#8277 Culture edits
  handbook/company/README.md
Labels: #handbook

#8279 Rename People to BizOps in handbook.
  handbook/business-operations/README.md
  handbook/business-operations/ceo-handbook.md
  handbook/digital-experience/README.md
Labels: #handbook

#8280 Merge Sales and Customers into Customers section.
  handbook/customers/README.md
  handbook/sales/README.md
Labels: #handbook

#8275 Creating Marketing division of the handbook
  handbook/marketing/README.md
  handbook/marketing/article-formatting-guide.md
  handbook/marketing/commonly-used-terms.md
  handbook/marketing/community.md
  handbook/marketing/digital-experience.md
  handbook/marketing/growth.md
  handbook/marketing/how-to-submit-and-publish-an-article.md
  handbook/marketing/markdown-guide.md
Labels: #handbook

#8242 Update log destination docs
  articles/fleet-4.11.0.md
  docs/Deploying/Configuration.md
  docs/Using-Fleet/Fleet-UI.md
  docs/Using-Fleet/Log-destinations.md
  docs/Using-Fleet/README.md
Labels: :improve documentation

#8317 Handbook: merges to marketing page
  handbook/marketing/README.md
Labels: #handbook

#8315 Handbook: rehoming Dig-ex page to marketing
  handbook/marketing/digital-experience.md
Labels: #handbook

#8316 Handbook: Rehoming Community page under Marketing
  handbook/marketing/community.md
Labels: #handbook

#8321 Merging Quality section with Engineering
  handbook/engineering/README.md
  handbook/quality/README.md
Labels: #handbook

#8328 Handbook: Company page edits
  handbook/company/README.md
Labels: #handbook

#8322 Set Mo as owner of product office hours
  handbook/product/README.md
Labels: #handbook

#8284 Handbook: 😮🤷
  handbook/security/README.md
Labels: #handbook

#8329 Handbook: delete community
  handbook/marketing/community.md
  handbook/marketing/digital-experience.md
  handbook/marketing/growth.md
Labels: #handbook

#8353 Handbook update
  handbook/business-operations/README.md
Labels: #handbook

#8379 Fixing writing documentation link.md
  handbook/engineering/README.md
Labels: #handbook

#8356 Handbook: Marketing page edits
  handbook/engineering/README.md
  handbook/marketing/README.md
Labels: #handbook

#8442 Handbook: Added Dripify to Rituals
  handbook/customers/README.md
Labels: #handbook

#8458 Update README.md
  handbook/customers/README.md
Labels: #handbook

#8468 Handbook: removed #g-brand
  handbook/marketing/README.md
Labels: #handbook

#7889 Feature 7494: Use the MSRC security bulletin artifacts for detecting Win OS vulnerabilities
  changes/feature-7494-use-msrc-bulletins-to-scan-win-vulns
  cmd/fleet/cron.go
  cmd/fleet/cron_test.go
  cmd/fleetctl/vulnerability_data_stream.go
  cmd/fleetctl/vulnerability_data_stream_test.go
  cmd/msrc/generate.go
  server/datastore/mysql/hosts.go
  server/datastore/mysql/hosts_test.go
  server/datastore/mysql/migrations/tables/20221027085019_CreateOperatingSystemVulnerabilitiesTable.go
  server/datastore/mysql/operating_system_vulnerabilities.go
  server/datastore/mysql/operating_system_vulnerabilities_test.go
  server/datastore/mysql/schema.sql
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
  server/datastore/mysql/windows_updates.go
  server/datastore/mysql/windows_updates_test.go
  server/fleet/datastore.go
  server/fleet/software.go
  server/fleet/vulnerabilities.go
  server/mock/datastore_mock.go
  server/service/integration_core_test.go
  server/vulnerabilities/msrc/analyzer.go
  server/vulnerabilities/msrc/analyzer_test.go
  server/vulnerabilities/msrc/io/github.go
  server/vulnerabilities/msrc/io/github_test.go
  server/vulnerabilities/msrc/io/security_bulletin_name.go
  server/vulnerabilities/msrc/parsed/product.go
  server/vulnerabilities/msrc/parsed/product_test.go
  server/vulnerabilities/msrc/parsed/security_bulletin.go
  server/vulnerabilities/msrc/parsed/security_bulletin_test.go
  server/vulnerabilities/msrc/parser.go
  server/vulnerabilities/msrc/parser_test.go
  server/vulnerabilities/msrc/sync.go
  server/vulnerabilities/msrc/sync_test.go
  server/vulnerabilities/nvd/cve.go
  server/vulnerabilities/nvd/cve_test.go
  server/vulnerabilities/oval/analyzer.go
  server/vulnerabilities/oval/analyzer_test.go
  server/vulnerabilities/oval/parsed/dpkg_infotest.go
  server/vulnerabilities/oval/parsed/object_info_state.go
  server/vulnerabilities/oval/parsed/object_state_simple_value.go
  server/vulnerabilities/utils/rpmvercmp.go
  server/vulnerabilities/utils/rpmvercmp_test.go
  server/vulnerabilities/utils/utils.go
  server/vulnerabilities/utils/utils_test.go
  server/webhooks/vulnerabilities.go
  server/webhooks/vulnerabilities_test.go
  server/worker/jira.go
  server/worker/zendesk.go
Labels: !vuln, #platform

#8501 Edwardsb/deployment guide updates
  articles/deploying-fleet-on-aws-with-terraform.md
Labels: #handbook
