Repository fleetdm/fleet, pull requests merged in 2022-06, with the labels that each got.

#5965 Performance improvements & bug fixes
  cmd/fleet/cron.go
  cmd/osquery-perf/agent.go
  cmd/osquery-perf/ubuntu_16.04.tmpl
  cmd/osquery-perf/ubuntu_1604-vulnerable_software.json
  cmd/osquery-perf/ubuntu_18.04.tmpl
  cmd/osquery-perf/ubuntu_1804-vulnerable_software.json
  cmd/osquery-perf/ubuntu_20.04.tmpl
  cmd/osquery-perf/ubuntu_2004-vulnerable_software.json
  cmd/osquery-perf/ubuntu_21.04.tmpl
  cmd/osquery-perf/ubuntu_21.10.tmpl
  cmd/osquery-perf/ubuntu_2104-vulnerable_software.json
  cmd/osquery-perf/ubuntu_2110-vulnerable_software.json
  cmd/osquery-perf/ubuntu_22.04.tmpl
  cmd/osquery-perf/ubuntu_2204-vulnerable_software.json
  server/datastore/mysql/hosts.go
  server/datastore/mysql/hosts_test.go
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
  server/fleet/datastore.go
  server/mock/datastore_mock.go
  server/vulnerabilities/oval/analyzer.go
  server/vulnerabilities/oval/analyzer_test.go
  server/vulnerabilities/oval/oval_platform.go
  server/vulnerabilities/oval/oval_platform_test.go
  server/vulnerabilities/oval/sync.go
Labels: !vuln, #platform

#6048 Update SockJS client
  package.json
  yarn.lock
Labels: dependencies

#5583 Update SSO Documentation
  docs/Deploying/Configuration.md
  docs/images/okta-retrieve-links.png
  docs/images/sso-setup.png
Labels: :improve documentation

#5977 Adding Suspicious AutoStart Windows
  docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
Labels: #query library, :community

#6146 Bug: Issue while parsing dpkg objects with inline names
  server/vulnerabilities/oval/input/dpkg_object.go
  server/vulnerabilities/oval/mappers.go
  server/vulnerabilities/oval/parser.go
Labels: bug, !vuln, #platform

#6158 Add policies
  docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
  frontend/utilities/constants.ts
Labels: #query library

#6179 Fix bug with Organisation settings yaml example
  docs/Using-Fleet/configuration-files/README.md
Labels: :improve documentation

#6208 Build universal macOS binaries for Orbit
  .github/workflows/goreleaser-orbit.yaml
  orbit/.gon.hcl
  orbit/.goreleaser.yml
  orbit/changes/universal-binary
  orbit/tools/build/sign-macos.sh
Labels: #agent

#6247 Prepare changelog for Orbit v0.0.13
  orbit/CHANGELOG.md
  orbit/changes/issue-5689-decouple-orbit-logs
  orbit/changes/issue-5875-orbit-start-up-update-check
  orbit/changes/issue-5947-custom-transparency-url
  orbit/changes/osquery-runner-withstdout
  orbit/changes/universal-binary
Labels: :improve documentation, #agent

#6255 Bump Fleet Desktop version
  .github/workflows/generate-desktop-targets.yml
Labels: #agent

#6342 Fix links in AWS Terraform blog post
  articles/deploying-fleet-on-aws-with-terraform.md
Labels: #website

#6343 Add link to usage analytics in product handbook
  handbook/product.md
Labels: :improve handbook

#6330 Feature 6242: Use oval to detect vulnerabilities on Fedora hosts
  changes/feature-6242-add-Fedora-oval-support
  cmd/fleet/cron.go
  server/vulnerabilities/oval/oval_platform.go
  server/vulnerabilities/oval/oval_platform_test.go
  server/vulnerabilities/oval/parsed/object_info_state.go
  server/vulnerabilities/oval/parsed/utils.go
  server/vulnerabilities/oval/parser_test.go
Labels: !vuln, #platform

#6381 Update docs to include how to get the API token of an api-only user
  docs/Using-Fleet/fleetctl-CLI.md
Labels: :improve documentation

#6361 Create tales-from-fleet-security-deploying-nudge.md
  articles/tales-from-fleet-security-speeding-up-macos-updates-with-nudge.md
  website/assets/images/articles/tales-from-fleet-security-speeding-up-macos-updates-with-nudge-1-1012x590@2x.png
Labels: :security

#6460 Improve logging for fleetctl with permissions errors
  changes/fleetctl-permissions
  cmd/fleetctl/fleetctl.go
  cmd/fleetctl/preview.go
  tools/fleetctl-npm/run.js
Labels: #fleetctl
