Repository fleetdm/fleet, pull requests merged in 2023-12, with the labels that each got.

#15397 2023-12-01 Update communications.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#15404 Update README.md
  handbook/demand/README.md
Labels: #handbook, #g-ceo

#15372 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#15263 2023-11-21 Website: Add new usage statistics
  docs/Using Fleet/Usage-statistics.md
  website/api/controllers/webhooks/receive-usage-analytics.js
  website/api/models/HistoricalUsageSnapshot.js
Labels: #g-ceo

#15451 Update air guitar process
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#15389 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#15443 Add Andre's video testimonial
  website/assets/images/video-testimonial-andre-shields-1440x810@2x.jpg
  website/assets/js/pages/vulnerability-management.page.js
  website/assets/styles/pages/vulnerability-management.less
  website/views/pages/vulnerability-management.ejs
Labels: #g-website

#15469 Website: Update Vanta integration script to report extension_id if it is included in an API response
  website/scripts/send-data-to-vanta.js
Labels: #g-ceo

#15481 Website: Update how meta tags are parsed in `build-static-content` script
  website/scripts/build-static-content.js
Labels: #g-ceo

#15503 Handbook: Update org chart description
  handbook/company/README.md
Labels: #handbook, #g-ceo

#15517 Update product maintenance ritual
  handbook/product/README.md
Labels: #handbook, #g-ceo

#15533 Handbook: CEO: fix google drive folder link
  handbook/ceo.md
Labels: #handbook, #g-ceo

#15544 Handbook: Update ceo.md: Clear double-bookings
  handbook/ceo.md
Labels: #handbook, #g-ceo

#15546 Handbook: Program the CEO to do something
  handbook/ceo.md
Labels: #handbook, #g-ceo

#15554 Add new open/close bugs and product group KPIs
  website/scripts/get-bug-and-pr-report.js
Labels: #g-ceo

#15400 Website: Add "Explore data"
  website/api/controllers/try-fleet/view-explore-data.js
  website/api/controllers/try-fleet/view-query-report.js
  website/assets/images/banner-cloud-city-656x369@2x.png
  website/assets/images/chevron-down-75-16x16@2x.png
  website/assets/images/chevron-left-6x10@2x.png
  website/assets/images/chevron-right-6x10@2x.png
  website/assets/images/logo-aws-linux-muted-48x61@2x.png
  website/assets/images/logo-macos-muted-48x60@2x.png
  website/assets/images/logo-windows-muted-49x60@2x.png
  website/assets/js/pages/try-fleet/explore-data.page.js
  website/assets/js/pages/try-fleet/query-report.page.js
  website/assets/js/pages/try-fleet/register.page.js
  website/assets/js/pages/try-fleet/sandbox-login.page.js
  website/assets/styles/bootstrap-overrides.less
  website/assets/styles/importer.less
  website/assets/styles/pages/try-fleet/explore-data.less
  website/assets/styles/pages/try-fleet/query-report.less
  website/assets/styles/pages/try-fleet/register.less
  website/assets/styles/pages/try-fleet/sandbox-login.less
  website/config/custom.js
  website/config/policies.js
  website/config/routes.js
  website/generators/landing-page/index.js
  website/scripts/build-static-content.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/articles/basic-article.ejs
  website/views/pages/compliance.ejs
  website/views/pages/fleet-mdm.ejs
  website/views/pages/homepage.ejs
  website/views/pages/imagine/higher-education.ejs
  website/views/pages/imagine/jamf-alternative.ejs
  website/views/pages/imagine/rapid-7-alternative.ejs
  website/views/pages/osquery-management.ejs
  website/views/pages/reports/state-of-device-management.ejs
  website/views/pages/try-fleet/explore-data.ejs
  website/views/pages/try-fleet/query-report.ejs
  website/views/pages/try-fleet/register.ejs
  website/views/pages/try-fleet/sandbox-login.ejs
Labels: #g-ceo

#15628 Adding in new CSA teammate
  handbook/customer-success/README.md
Labels: #handbook, #g-ceo

#15629 Update teammate's GH username
  handbook/customer-success/README.md
Labels: #handbook, #g-ceo

#15637 Update product page in handbook
  handbook/product/README.md
Labels: #handbook, #g-ceo

#15658 update osquery image in db migration testing tool
  test/upgrade/docker-compose.yaml
Labels: :release

#15627 UI – render all global queries on queries page
  changes/show-all-global-queries-for-global-users
  frontend/pages/queries/ManageQueriesPage/ManageQueriesPage.tsx
Labels: ~unreleased bug

#15645 Website update page titles and descriptions
  website/api/controllers/articles/view-articles.js
  website/api/controllers/articles/view-basic-article.js
  website/api/controllers/view-endpoint-ops.js
  website/api/controllers/view-osquery-management.js
  website/api/controllers/view-query-detail.js
  website/assets/js/pages/compliance.page.js
  website/assets/js/pages/endpoint-ops.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/compliance.less
  website/assets/styles/pages/endpoint-ops.less
  website/config/policies.js
  website/config/routes.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/compliance.ejs
  website/views/pages/endpoint-ops.ejs
  website/views/pages/homepage.ejs
  website/views/pages/integrations.ejs
Labels: #g-ceo

#15652 Add performance feedback
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#15587 Update communications.md to clarify the specifics around noun labels
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#15708 Handbook/ceo: prepare for ceo office minutes meeting
  handbook/ceo.md
  handbook/company/ceo.rituals.yml
Labels: #handbook, #g-ceo

#15659 Update product design handbook
  handbook/product/README.md
Labels: #handbook, #g-ceo

#15719 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#15663 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#15669 Website: Update receive-from-github webhook.
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#15638 Website: Build testimonials in <scrollable-tweets> component from YAML.
  handbook/company/testimonials.yml
  website/api/controllers/imagine/view-defcon-31.js
  website/api/controllers/imagine/view-higher-education.js
  website/api/controllers/imagine/view-jamf-alternative.js
  website/api/controllers/imagine/view-rapid-7-alternative.js
  website/api/controllers/imagine/view-unused-software.js
  website/api/controllers/view-endpoint-ops.js
  website/api/controllers/view-fleet-mdm.js
  website/api/controllers/view-landing.js
  website/api/controllers/view-vulnerability-management.js
  website/assets/js/components/scrollable-tweets.component.js
  website/assets/js/pages/landing.page.js
  website/assets/styles/components/scrollable-tweets.component.less
  website/assets/styles/importer.less
  website/assets/styles/pages/landing.less
  website/config/policies.js
  website/generators/landing-page/index.js
  website/scripts/build-static-content.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/endpoint-ops.ejs
  website/views/pages/fleet-mdm.ejs
  website/views/pages/imagine/higher-education.ejs
  website/views/pages/imagine/jamf-alternative.ejs
  website/views/pages/imagine/rapid-7-alternative.ejs
  website/views/pages/imagine/unused-software.ejs
  website/views/pages/landing.ejs
  website/views/pages/vulnerability-management.ejs
Labels: #g-ceo

#15534 Update README.md with process around booking prospect calls
  handbook/sales/README.md
Labels: #handbook, #g-ceo

#15722 Add weekly update to responsibilities
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#15739 Website: Update /try-fleet/explore-data redirect
  website/api/controllers/try-fleet/view-query-report.js
Labels: #g-ceo

#15775 Remove irrelevant screenshot
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#15813 Added nonpunctual GitHub User to humans list
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#15828 Update communications.md with slack to github issue
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#15835 Website: Update categories on pricing page features table
  handbook/company/pricing-features-table.yml
  website/api/controllers/view-pricing.js
  website/scripts/build-static-content.js
  website/views/pages/pricing.ejs
Labels: #g-ceo

#15843 Minor typo fixes
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#15844 Add section for updating personnel details
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#15840 Add in converting Fleetie to consultant
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#15851 Add in Fleet IT dogfood responsibilities to BizOps handbook
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo
