Repository fleetdm/fleet, pull requests merged in 2023-01, with the labels that each got.

#8884 Signing tool for MDM Push CSRs
  ee/tools/mdm/README.md
  ee/tools/mdm/certs.go
  ee/tools/mdm/certs_test.go
  go.mod
  go.sum
Labels: !mdm

#9210 Adding Nudge info
  handbook/security/README.md
Labels: #handbook

#9224 Update handbook GitHub labels section to remove rules column
  handbook/company/README.md
Labels: #handbook

#8713 Update SLAs
  handbook/customers/README.md
Labels: #handbook

#9299 Fleet UI: Show software on dashboard only if software
  frontend/pages/DashboardPage/DashboardPage.tsx
Labels: :reproduce

#9317 remove help-release-qa channel
  handbook/engineering/README.md
Labels: #handbook

#9319 Handbook: CEO contact - Customer calls
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#9327 Update ceo-handbook.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#9331 Change help-customers to g-customer-experience README.md
  handbook/customers/README.md
Labels: #handbook

#9330 Updating Kathy to owner of docs changes
  handbook/engineering/README.md
Labels: #handbook

#9333 Add_scrum_documentation
  handbook/engineering/README.md
Labels: #handbook

#9353 Product groups 2.0
  handbook/company/README.md
  handbook/company/development-groups.md
Labels: #handbook

#9361 Marcos joins compliance group and leaves MDM group in late Jan
  handbook/company/development-groups.md
Labels: #handbook

#9390 Fewer words
  handbook/company/README.md
Labels: #handbook

#9392 Update why-this-way.md
  handbook/company/why-this-way.md
Labels: #handbook

#9393 Update why-this-way.md
  handbook/company/why-this-way.md
Labels: #handbook

#9391 Update README.md
  handbook/customers/README.md
Labels: #handbook

#9363 Handbook: Update bug process
  handbook/engineering/README.md
Labels: #handbook

#9230 Fix broken links in Adding-hosts.md and Orbit.md
  docs/Using-Fleet/Adding-hosts.md
  docs/Using-Fleet/Orbit.md
Labels: :improve documentation

#9403 Update development-groups.md
  handbook/company/development-groups.md
Labels: #handbook

#9405 Handbook: Estimating released bugs and outages
  handbook/engineering/README.md
Labels: #handbook

#9426 Handbook: Update bug process
  handbook/engineering/README.md
Labels: #handbook

#9416 Docs: Update MDM settings and configuration
  docs/Deploying/Configuration.md
  docs/Using-Fleet/configuration-files/README.md
Labels: :improve documentation

#9444 Handbook: update markdown article formatting guide
  handbook/marketing/article-formatting-guide.md
Labels: #handbook

#9450 Handbook: security migration to bizops
  handbook/business-operations/README.md
  handbook/business-operations/security-policies.md
  handbook/security/README.md
  website/config/routes.js
Labels: #handbook

#9474 Update coworking policy in handbook
  handbook/business-operations/README.md
Labels: #handbook

#9483 handbook: journal and agenda info
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#9507 Handbook: Update `<call-to-action>` component example
  handbook/marketing/article-formatting-guide.md
Labels: #handbook

#9514 Low-level MDM commands are free
  handbook/product/pricing-features-table.yml
Labels: #handbook

#9520 Charlotte chance patch 2
  handbook/business-operations/README.md
  handbook/engineering/README.md
  handbook/product/README.md
Labels: #handbook

#9521 Handbook: Cadence updates
  handbook/engineering/README.md
Labels: #handbook

#9454 Update QA process and filters
  handbook/engineering/README.md
Labels: #handbook

#9564 handbook: Breezy tutorial
  handbook/business-operations/README.md
Labels: #handbook

#9516 Use stricter file permissions in `fleetctl updates add`
  changes/fleetctl-update-permissions
  ee/fleetctl/updates.go
Labels: #agent

#9115 Generate targets for osqueryd 5.7.0
  .github/workflows/generate-osqueryd-targets.yml
Labels: #agent

#9547 Update xprotect_meta.yml
  schema/tables/xprotect_meta.yml
Labels: :improve documentation
