Repository fleetdm/fleet, pull requests merged in 2023-06, with the labels that each got.

#12060 Update release rituals to include freeze ritual and dependency check
  handbook/engineering/README.md
Labels: #handbook

#12112 Clarify that community contributions go through standard process
  handbook/product/README.md
Labels: #handbook

#12011 🎁 Feature Fest?
  handbook/product/README.md
Labels: #handbook

#12114 Fix handbook typo
  handbook/engineering/README.md
Labels: #handbook

#12115 Add lukeheath to engineering handbook auto approvals
  handbook/engineering/README.md
  website/config/custom.js
Labels: #g-ceo

#12091 Update platform value for ChromeOS tables, Update Fleet website to use new value, and regenerate schema JSON
  schema/osquery_fleet_schema.json
  schema/tables/chrome_extensions.yml
  schema/tables/geolocation.yml
  schema/tables/network_interfaces.yml
  schema/tables/os_version.yml
  schema/tables/osquery_info.yml
  schema/tables/system_info.yml
  schema/tables/users.yml
  website/api/helpers/get-extended-osquery-schema.js
  website/assets/js/pages/osquery-table-details.page.js
  website/views/pages/osquery-table-details.ejs
  website/views/pages/query-detail.ejs
  website/views/pages/query-library.ejs
Labels: #g-ceo

#12122 Create Head of Public Sector
  handbook/company/README.md
  handbook/company/head-of-public-sector.md
Labels: #handbook, #g-ceo

#12125 open position: Apprentice to CEO
  handbook/company/README.md
Labels: #handbook

#12083 Handbook changes
  handbook/engineering/README.md
  handbook/product/README.md
Labels: #handbook

#12099 Tidy up and bugs info
  handbook/engineering/README.md
Labels: #handbook

#12149 Update engineering-initiated stories section
  handbook/engineering/README.md
Labels: #handbook

#12079 Remove unknown TODO
  handbook/product/README.md
Labels: #handbook

#12155 Update README.md
  handbook/company/README.md
Labels: #handbook

#12102 Bug 11525: Fixed navigation issues on 'My Device' page
  changes/11525-bug-software-table-device-page
  frontend/pages/hosts/details/DeviceUserPage/DeviceUserPage.tests.tsx
  frontend/pages/hosts/details/DeviceUserPage/DeviceUserPage.tsx
  frontend/pages/hosts/details/HostDetailsPage/HostDetailsPage.tsx
  frontend/pages/hosts/details/cards/Software/Software.tsx
  frontend/router/index.tsx
  frontend/router/paths.ts
Labels: ~bug analysis : functional tests

#12181 Move scaling Fleet section to its own handbook page
  handbook/engineering/README.md
  handbook/engineering/scaling-fleet.md
Labels: #handbook

#11928 Step 1: vendor questionnaires
  handbook/business-operations/README.md
  handbook/business-operations/vendor-questionnaires.md
Labels: #handbook

#12241 Engineering handbook fixes and merge freeze instructions
  handbook/engineering/README.md
Labels: #handbook

#12249 Handbook: Update prep rituals (ceo-handbook.md)
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#12226 Exclude handbook and ceo labels from contributor PR count
  website/scripts/get-bug-and-pr-report.js
Labels: #g-ceo

#12203 Update bug process in handbook
  .github/ISSUE_TEMPLATE/story.md
  .github/ISSUE_TEMPLATE/unestimated-sub-task.md
  handbook/engineering/README.md
  handbook/marketing/README.md
Labels: #handbook

#12269 Website: Update customer migration webhook
  website/api/controllers/webhooks/receive-from-customer-fleet-instance.js
  website/config/custom.js
Labels: #g-ceo

#12276 Update days of the week for product rituals
  handbook/product/README.md
Labels: #handbook

#12148 Website: Change pricing table based on selected use case
  handbook/product/pricing-features-table.yml
  website/api/controllers/view-pricing.js
  website/assets/js/pages/pricing.page.js
  website/views/pages/pricing.ejs
Labels: #g-ceo

#12277 Website: Fix bug in customer migration webhook
  website/api/controllers/webhooks/receive-from-customer-fleet-instance.js
Labels: #g-ceo

#12280 Update ceo-handbook.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook, #g-ceo

#12281 Marketing and brand handbook house keeping.
  handbook/marketing/README.md
  handbook/marketing/commonly-used-terms.md
  handbook/marketing/content-style-guide.md
  handbook/marketing/docs-handbook.md
  handbook/marketing/editor-guide.md
  handbook/marketing/markdown-guide.md
  handbook/marketing/website-handbook.md
Labels: #handbook

#12282 Mike j thomas handbook patch
  handbook/marketing/docs-handbook.md
  handbook/marketing/website-handbook.md
Labels: #handbook

#12286 Move product group members
  handbook/company/development-groups.md
Labels: #handbook, #g-ceo

#12176 Update feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: #g-ceo

#12320 Added username to receive from github webhook
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#12321 Add teammate to humans on receive from github webhook
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#12324 Add API design and documentation DRI
  handbook/company/development-groups.md
Labels: #handbook, #g-ceo

#12317 remove puppet PoC
  ee/tools/puppet-fleet/examples/profiles.pp
  ee/tools/puppet-fleet/lib/puppet/functions/add_host_to_team.rb
  ee/tools/puppet-fleet/lib/puppet/functions/batch_send_profiles.rb
  ee/tools/puppet-fleet/lib/puppet/util/fleet_client.rb
  ee/tools/puppet-fleet/manifests/add_profiles.pp
  ee/tools/puppet-fleet/manifests/add_to_team.pp
  ee/tools/puppet-fleet/manifests/profile.pp
  ee/tools/puppet-fleet/metadata.json
Labels: :release, #g-mdm

#12325 Website: Update regex used to change markdown links
  website/scripts/build-static-content.js
Labels: #g-ceo

#12380 Website: Add MDM demo video modal to /device-management
  website/api/controllers/deliver-mdm-demo-email.js
  website/assets/js/cloud.setup.js
  website/assets/js/components/modal.component.js
  website/assets/js/pages/fleet-mdm.page.js
  website/assets/styles/components/modal.component.less
  website/assets/styles/pages/fleet-mdm.less
  website/config/policies.js
  website/config/routes.js
  website/views/emails/email-mdm-video.ejs
  website/views/layouts/layout-email.ejs
  website/views/pages/fleet-mdm.ejs
Labels: #g-ceo

#12364 Website: Throw error in build script if a handbook page is missing a `maintainedBy` meta tag
  handbook/company/head-of-public-sector.md
  website/scripts/build-static-content.js
Labels: #g-ceo

#12407 Clarify that PMs should bring items back to FF if desired.
  handbook/product/README.md
Labels: #handbook

#12400 Handbook: Fix broken links in marketing handbook
  handbook/marketing/editor-guide.md
  handbook/marketing/website-handbook.md
Labels: #handbook

#12085 BizOps Handbook changes
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12087 Handbook update DRI for Hiring process
  handbook/business-operations/README.md
Labels: #g-ceo

#12433 Handbook: Rename emergency drafting to expedited drafting
  handbook/product/README.md
Labels: #handbook

#12445 Clarify sprint naming
  handbook/product/README.md
Labels: #handbook

#12444 Add infrastructure section to engineering handbook
  handbook/engineering/README.md
Labels: #handbook

#12447 Rename sprint backlog to estimated in product handbook
  handbook/product/README.md
Labels: #handbook

#12408 update instructions to connect to dogfood db
  handbook/engineering/scaling-fleet.md
Labels: #handbook

#12397 Update Eng Together meeting
  handbook/engineering/README.md
Labels: #handbook

#12458 Website: update `fleetRepoUrl` for tables that don't have Fleet overrides
  website/api/helpers/get-extended-osquery-schema.js
Labels: #g-ceo

#12386 Website: Update route for article pages, update sub-page meta title in engineering handbook.
  handbook/engineering/scaling-fleet.md
  website/config/routes.js
Labels: #g-ceo

#12461 schema
  handbook/engineering/README.md
Labels: #handbook

#12457 Website: add /support page
  website/api/controllers/view-support.js
  website/assets/images/icon-ask-anything-64x64@2x.png
  website/assets/images/icon-bug-64x64@2x.png
  website/assets/images/icon-premium-support-64x64@2x.png
  website/assets/images/icon-suggestion-64x64@2x.png
  website/assets/images/logo-macadmins-48x48@2x.png
  website/assets/images/logo-osquery-48x48@2x.png
  website/assets/js/pages/support.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/support.less
  website/config/policies.js
  website/config/routes.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/docs/basic-documentation.ejs
  website/views/pages/support.ejs
Labels: #g-ceo

#12478 Exclude uninitialized macOS hosts in Vanta sync script
  website/scripts/send-data-to-vanta.js
Labels: #g-ceo

#11706 adding solutions consultant job descr
  handbook/company/README.md
  handbook/company/solutions-consultant.md
Labels: #handbook, #g-ceo

#12516 Add engineering accounts section to handbook
  handbook/engineering/README.md
Labels: #handbook

#12468 Added new user under humans for receive-from-github webhook
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#12524 Fix broken md link
  handbook/engineering/README.md
Labels: #handbook

#12561 Mo officially CX PM
  handbook/product/README.md
Labels: #handbook

#12431 Ritual for checking new versions of macOS and CIS benchmarks (macOS and Windows Enterprise)
  handbook/product/README.md
Labels: #handbook, #g-ceo

#12564 Update README.md
  handbook/product/README.md
Labels: #handbook

#12537 Website: update meta descriptions
  website/api/controllers/articles/view-articles.js
  website/config/routes.js
Labels: #g-ceo

#12347 Update engineering-initiated stories process
  handbook/engineering/README.md
Labels: #handbook

#12576 Revert to feature request
  handbook/engineering/README.md
Labels: #handbook

#12327 propose product ops role
  handbook/company/README.md
  handbook/company/product-ops.md
Labels: #handbook, #g-ceo

#12309 Add Sabrina Coy to MDM product group
  handbook/company/development-groups.md
Labels: #handbook, #g-ceo

#12094 Update handbook acceptable use computing policy
  handbook/business-operations/security-policies.md
Labels: #handbook, #g-ceo

#12047 Handbook: Add clarification about packs to "Why this way"
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo
