Repository fleetdm/fleet, pull requests merged in 2023-02, with the labels that each got.

#9660 Wire up UI and server for correct ABM credentials download
  frontend/pages/admin/IntegrationsPage/cards/Mdm/Mdm.tsx
  frontend/services/entities/mdm_apple_bm.ts
  frontend/utilities/endpoints.ts
  server/service/handler.go
Labels: :release, release_blocker, #mdm

#9674 Charlotte chance patch 1
  handbook/business-operations/README.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#9675 Update ceo-handbook.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#9676 Update ceo-handbook.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#9647 Update development-groups.md
  handbook/company/development-groups.md
Labels: #handbook

#9704 Update ceo-handbook.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#9705 Update ceo-handbook.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#9706 Update ceo-handbook.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#9723 fleetdm.com pricing page: Add "Audit log"
  handbook/product/pricing-features-table.yml
  website/views/pages/pricing.ejs
Labels: #handbook

#9725 List open positions
  handbook/business-operations/README.md
Labels: #handbook

#9727 Handbook Outreach
  handbook/customers/README.md
Labels: #handbook

#9744 Update product office hours
  handbook/customers/README.md
  handbook/product/README.md
Labels: #handbook

#9741 Bizops handbook
  handbook/business-operations/README.md
Labels: #handbook

#9761 Update pricing-features-table.yml
  handbook/product/pricing-features-table.yml
Labels: #handbook

#9777 Handbook: backlog contributor ex audits
  handbook/business-operations/README.md
Labels: #handbook

#9779 Charlotte chance patch 2
  handbook/business-operations/README.md
  handbook/marketing/README.md
Labels: #handbook

#9788 Handbook: moving / relocation info
  handbook/business-operations/README.md
Labels: #handbook

#9555 Update how-to-submit-and-publish-an-article.md
  handbook/marketing/how-to-submit-and-publish-an-article.md
Labels: #handbook

#9804 handbook: security account recovery process update
  handbook/business-operations/security.md
Labels: #handbook

#9855 Clarify native macOS update reminders vs. Nudge reminders
  handbook/product/pricing-features-table.yml
Labels: #handbook

#9869 Adjust DRI for content style guide and add guidance about how to use fleets
  handbook/marketing/content-style-guide.md
Labels: #handbook

#9729 Update engineering handbook
  handbook/engineering/README.md
Labels: #handbook

#9446 Handbook: Sales deck updated
  handbook/customers/README.md
Labels: #handbook

#9387 Handbook; Scrum Section Typos
  handbook/engineering/README.md
Labels: #handbook

#9873 Combine "why open source" and "why the focus on openness" into a sing…
  handbook/company/why-this-way.md
Labels: #handbook

#9874 Pull human interest stuff to the top, plus trim back some things, var…
  handbook/business-operations/README.md
Labels: #handbook

#9878 handbook: trivial linkage
  handbook/company/README.md
Labels: #handbook

#9879 Handbook: Fix heading indentation (sprung a leak)
  handbook/business-operations/README.md
Labels: #handbook

#9880 Add CTA to apply to Fleet, swapped with company page for visibility
  handbook/business-operations/README.md
  handbook/company/README.md
  handbook/company/why-this-way.md
Labels: #handbook

#9890 Fix handbook link
  handbook/business-operations/README.md
Labels: #handbook

#9897 Avoid confusing what is and isn’t a department + punctuation
  handbook/company/README.md
Labels: #handbook

#9899 standardize a default value for empty cells
  changes/default-cell-values
  frontend/components/TableContainer/DataTable/DataTable.tsx
  frontend/components/TableContainer/DataTable/TextCell/TextCell.tests.tsx
  frontend/components/TableContainer/DataTable/TextCell/TextCell.tsx
  frontend/pages/hosts/details/cards/Policies/HostPoliciesTable/HostPoliciesTableConfig.tsx
  frontend/pages/software/ManageSoftwarePage/SoftwareTableConfig.tsx
  frontend/pages/software/SoftwareDetailsPage/components/Vulnerabilities/VulnTableConfig.tsx
  frontend/utilities/constants.ts
Labels: 1, ~frontend, :release, #mdm

#9904 Use dynamic serial numbers in osquery-perf
  cmd/osquery-perf/agent.go
  cmd/osquery-perf/mac10.14.6.tmpl
Labels: ~backend, :release, #mdm

#9917 Friendlier
  handbook/marketing/README.md
Labels: #handbook

#9937 Training is important
  handbook/business-operations/README.md
Labels: #handbook

#9953 Add Legal Document Review Section
  handbook/customers/README.md
Labels: #handbook

#9955 Include "Why should you join us?"
  handbook/company/README.md
  handbook/company/why-this-way.md
Labels: #handbook

#9964 Define okrs, change labels
  handbook/business-operations/README.md
Labels: #handbook

#9965 add year prefix for temp channels
  handbook/business-operations/README.md
Labels: #handbook

#9968 Move org chart, etc back to /company so it's easier to find
  handbook/company/README.md
  handbook/company/why-this-way.md
Labels: #handbook

#9967 Define DRI
  handbook/marketing/how-to-submit-and-publish-an-article.md
Labels: #handbook

#10015 Sub-tasks
  handbook/company/development-groups.md
Labels: #handbook

#9981 Delete #g-community
  handbook/marketing/README.md
Labels: #handbook

#9990 Fix formatting
  handbook/business-operations/README.md
Labels: #handbook

#10024 Add Fleet’s W-9
  handbook/customers/README.md
Labels: #handbook

#10031 Add positioning link
  handbook/company/README.md
Labels: #handbook

#10040 Creating job posting sub pages for current roles open
  handbook/business-operations/README.md
  handbook/company/⚗️ Product Designer.md
  handbook/company/🚀 Engineering Manager, MDM.md
  handbook/company/🫧 Field Marketer.md
  handbook/company/🫧 Revenue Operations Manager.md
Labels: #handbook

#10041 Breezy migration last steps
  handbook/company/README.md
  handbook/company/⚗️ Product Designer.md
  handbook/company/🚀 Engineering Manager, MDM.md
  handbook/company/🫧 Field Marketer.md
  handbook/company/🫧 Revenue Operations Manager.md
Labels: #handbook

#10043 Charlotte chance patch 1
  handbook/company/⚗️ Product Designer.md
  handbook/company/🫧 Field Marketer.md
  handbook/company/🫧 Revenue Operations Manager.md
Labels: #handbook

#10054 kebab case and remove emojis from the filename of JDs
  handbook/company/engineering-manager-mdm.md
  handbook/company/field-marketer.md
  handbook/company/product-designer.md
  handbook/company/revenue-operations-manager.md
Labels: #handbook

#10061 Include preamble
  handbook/company/field-marketer.md
Labels: #handbook

#10066 Reiterate training commitments
  handbook/company/why-this-way.md
Labels: #handbook

#10068 Charlotte chance patch 1
  handbook/company/README.md
  handbook/company/engineering-manager-mdm.md
  handbook/company/product-designer.md
  handbook/company/revenue-operations-manager.md
Labels: #handbook

#10027 Release post rituals
  handbook/product/README.md
Labels: #handbook

#10037 Update README.md
  handbook/company/README.md
Labels: #handbook

#10052 fix: don't try to send commands to non MDM enrolled hosts
  server/datastore/mysql/apple_mdm.go
  server/datastore/mysql/apple_mdm_test.go
  server/service/integration_mdm_test.go
Labels: bug, :release, #g-mdm

#10073 Clarify ugly wireframes are ok, because they'll be drafted into somet…
  handbook/company/why-this-way.md
Labels: #handbook

#10085 Signature process for agreements where customer kicks off the signature request
  handbook/customers/README.md
Labels: #handbook

#10082 Shut down g-compliance channel, handbook cleanup
  handbook/engineering/README.md
Labels: #handbook

#10119 Add Loom tutorials about hiring
  handbook/business-operations/README.md
Labels: #handbook

#10131 Offboarding Charlie
  handbook/business-operations/README.md
Labels: #handbook

#10152 Update policy ownership and language
  handbook/business-operations/security-policies.md
Labels: #handbook

#10156 Remove contents:write from build-orbit action
  .github/workflows/build-orbit.yaml
Labels: #contributor experience, #security

#10153 Create 4.28.0 release notes
  articles/fleet-4.28.0.md
  website/assets/images/articles/fleet-4.28.0-800x450@2x.png
Labels: #website

#10169 Add SLA to monthly accounting, and shift creation time back
  handbook/business-operations/README.md
Labels: #handbook

#10155 Move JS deps to devDependencies
  package.json
  yarn.lock
Labels: #contributor experience

#10165 Update README.md
  handbook/engineering/README.md
Labels: #handbook

#10124 Update codecov action
  .github/workflows/test-go.yaml
Labels: #contributor experience

#10175 Update README.md
  handbook/engineering/README.md
Labels: #handbook

#10162 Update to infra oncall process
  handbook/engineering/README.md
Labels: #handbook

#10191 Handbook: Update Customers runbook
  handbook/customers/README.md
Labels: #handbook

#10199 Update shadow program
  handbook/business-operations/ceo-handbook.md
Labels: #handbook
