Repository fleetdm/fleet, pull requests merged in 2023-09, with the labels that each got.

#13620 Handbook: CSE hired!
  handbook/company/README.md
  handbook/company/customer-support-engineer.md
Labels: #handbook, #g-ceo

#13674 Automation: Report on CEO PR open time
  website/scripts/get-bug-and-pr-report.js
Labels: #g-ceo

#13673 Add air guitar process
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#13677 Handbook: Beware the thicket
  handbook/company/README.md
Labels: #handbook, #g-ceo

#13678 handbook: open by design
  handbook/company/README.md
Labels: #handbook, #g-ceo

#13679 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#13693 Website: Update GH webhook to handle draft PRs that have been marked as ready for review
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#13672 Website: build handbook pages for open positions from YAML.
  handbook/company/README.md
  handbook/company/account-executive.md
  handbook/company/business-operations-engineer.md
  handbook/company/head-of-public-sector.md
  handbook/company/leadership.md
  handbook/company/open-positions.yml
  handbook/company/software-engineer-windows.md
  handbook/company/software-engineer.md
  handbook/company/solutions-consultant.md
  website/api/controllers/handbook/view-basic-handbook.js
  website/assets/js/components/open-positions.component.js
  website/scripts/build-static-content.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
Labels: #g-ceo

#13671 added updated event MQL definitions to why this was
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#13682 Updating Competition section
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13694 Philosophical stuff in marketing page
  handbook/marketing/README.md
Labels: #handbook, #g-ceo

#13681 Website: Create `Platform` model and use platform record to track mergefreeze status.
  website/.eslintrc
  website/api/controllers/webhooks/receive-from-github.js
  website/api/models/Platform.js
  website/assets/.eslintrc
  website/config/bootstrap.js
Labels: #g-ceo

#13729 Handbook: Fix outdated social media philosophy content in marketing h…
  handbook/marketing/README.md
Labels: #handbook, #g-ceo

#13735 Handbook: Consolidate bullets in open positions
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#13736 open-positions.yml: Fix github picture for alex
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#13733 Update README.md
  handbook/marketing/README.md
Labels: #handbook, #g-ceo

#13746 Rename rituals.yml to ceo-rituals.yml
  handbook/company/ceo-rituals.yml
Labels: #handbook, #g-ceo

#13737 All Hands
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13763 Handbook: Make it clear how to suggest ideas for articles/videos/soci…
  handbook/marketing/README.md
Labels: #handbook, #g-ceo

#13787 Handbook: Request equipment from Fleet IT
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13724 Add website rituals to product rituals
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13726 Include "needs clarity" column for drafting process
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13662 Handbook: Product dept#Maintenance
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13754 Automation: Add support for *.rituals.yml
  handbook/ceo.md
  handbook/company/ceo.rituals.yml
  website/scripts/create-issues-for-todays-rituals.js
Labels: #g-ceo

#13791 Handbook: Marketing dept: Normalize caption
  handbook/marketing/README.md
Labels: #handbook, #g-ceo

#13732 2023-09-07: Handbook: Figma
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13783 2023-09-07: Handbook: Engineering dept: Sprint ceremonies
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#13636 2023-09-07: Handbook: Communications: Shared calendars
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13631 2023-09-07: Add freeze period exception to handbook
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#13816 Handbook: CEO: Please don't add events to CEO's calendar.
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13817 Handbook: CEO: Clarify that calendar cannot be edited.
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13808 Typo fix
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13792 Handbook: leadership#vision for departmental handbook page
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13785 Beginnings of Sale page
  handbook/customers/README.md
  handbook/customers/sales.rituals.yml
Labels: #handbook, #g-ceo

#13841 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#13844 Update leadership.md
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13846 Handbook/company/open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#13838 4.37.0 release article & echelon 1 article
  articles/fleet-4.37.0.md
  articles/introducing-cross-platform-script-execution.md
  website/assets/images/articles/fleet-4.37.0-1600x900@2x.png
  website/assets/images/articles/introducing-cross-platform-script-execution-800x450@2x.png
Labels: #g-marketing

#13851 Handbook: Leadership: Changing someone's position
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13850 Added Head of Demand Gen
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#13760 2023-09-07: Handbook: Product dept: Wireframing (FUTURE: Move to "Product groups")
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13843 Update the sales statement for introduction
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#13840 Website: remove /overview & unused images
  website/api/controllers/view-sales-one-pager.js
  website/assets/images/background-cta.svg
  website/assets/images/background-homepage-hero.svg
  website/assets/images/background-sales-banner.svg
  website/assets/images/feature-file-integrity-monitoring-440x277.png
  website/assets/images/feature-file-integrity-monitoring-500x296@2x.png
  website/assets/images/feature-file-integrity-monitoring-600x355@2x.png
  website/assets/images/feature-file-integrity-monitoring-600x357@2x.png
  website/assets/images/feature-increase-install-rates-500x322@2x.png
  website/assets/images/feature-inventory-management-488x305@2x.png
  website/assets/images/feature-realtime-440x277.png
  website/assets/images/feature-realtime-600x378@2x.png
  website/assets/images/feature-realtime-600x382@2x.png
  website/assets/images/feature-threat-detection-440x277.png
  website/assets/images/icon-globe-error-36x36@2x.png
  website/assets/images/icon-hourglass-36x36@2x.png
  website/assets/images/icon-imcomplete-checklist-36x36@2x.png
  website/assets/images/icon-incomplete-setup-36x36@2x.png
  website/assets/images/icon-insecure-device-36x36@2x.png
  website/assets/images/icon-no-visibility-36x36@2x.png
  website/assets/js/pages/sales-one-pager.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/sales-one-pager.less
  website/config/policies.js
  website/config/routes.js
  website/views/pages/sales-one-pager.ejs
Labels: #g-ceo

#13842 Handbook: Customer - Team
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#13823 Update receive-from-github.js
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#13822 Update custom.js
  website/config/custom.js
Labels: #g-ceo

#13853 Update README.md
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#13854 Handbook: Leadership: Use "contact us"
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13801 Handbook: Product groups > Defining "done" formatting fix
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#13814 Update to product rituals
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13865 Update leadership.md
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13869 Update ceo.md
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13868 Handbook: Customers: Add monthly ritual to make sure we're leaving pe…
  handbook/customers/README.md
  handbook/customers/sales.rituals.yml
Labels: #handbook, #g-ceo

#13871 Update README.md
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13866 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#13867 Add infrastructure engineer position
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#13818 2023-09-08: Handbook: Engineering: Bug states
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#13881 Update Eng Leadership
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#13874 Update "Hiring a new team member" to include adding location
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13704 Update product group assignees
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#13892 Handbook/CEO#Contact us
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13888 Update oncall rotation documentation
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#13898 Add policy for PRs to engineering handbook
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#13873 Handbook instructions for editing Audit log docs
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13911 Handbook: Marketing: Contact us: Swag for events
  handbook/marketing/README.md
Labels: #handbook, #g-ceo

#13915 Sales page reorg
  handbook/company/communications.md
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#13813 2023-09-11 Establishing completion criteria for "Settled"
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13899 Update open-positions.yml adding sherpa role
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#13946 Fix ceo.rituals
  handbook/ceo.md
  handbook/company/ceo.rituals.yml
Labels: #handbook, #g-ceo

#13936 Update taking time off
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13951 Added new user to "humans" list
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#13970 Handbook: Product groups: Air guitar
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#13971 Pattern match all "Contact us" sections
  handbook/business-operations/README.md
  handbook/ceo.md
  handbook/company/leadership.md
  handbook/customers/README.md
  handbook/marketing/README.md
Labels: #handbook, #g-ceo

#13935 Bug prioritization order
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13968 Adding 'to be scheduled' step into churned bug clean-up
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13833 Website: Update pricing page styles
  website/assets/styles/pages/pricing.less
  website/views/pages/pricing.ejs
Labels: #g-ceo

#13725 2023-09-16: Website: Update sitemap, set `lastModifedAt` timestamps for osquery schema pages.
  website/api/controllers/download-sitemap.js
  website/api/helpers/get-extended-osquery-schema.js
  website/scripts/build-static-content.js
Labels: #g-ceo

#13959 Website: sort merged osquery schema
  schema/osquery_fleet_schema.json
  website/api/helpers/get-extended-osquery-schema.js
Labels: #g-ceo

#13944 Update Supported-host-operating-systems.md
  docs/Using Fleet/Supported-host-operating-systems.md
Labels: #g-ceo

#13991 Update README.md
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#13487 2023-09-19: Handbook: Writing error messages
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13996 Update ceo.md
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13987 Change software opening to explicitly call out MDM team
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#14016 Manage intake
  handbook/ceo.md
  handbook/company/ceo.rituals.yml
  handbook/company/communications.md
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#14032 Handbook: process for equipment requests
  handbook/ceo.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#14041 Update ceo.md
  handbook/ceo.md
Labels: #handbook, #g-ceo

#14043 Update README.md
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#14065 Handbook: Communications#spending-company-money
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#14061 Handbook: Swag responsibilities and ritual
  handbook/marketing/README.md
Labels: #handbook, #g-ceo

#13974 2023-09-19 Update open-positions.yml - SDR
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#14107 Handbook: Update customer team
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#14063 Handbook: CEO#contact-us
  handbook/ceo.md
Labels: #handbook, #g-ceo

#14109 Handbook: Spending company money > Spend less
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#14075 Handbook: communications#equipment
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#14110 Handbook: CEO flaws
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13932 Document milestone release ritual
  .github/workflows/fleet-and-orbit.yml
  .github/workflows/fleetctl-preview-latest.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/test-db-changes.yml
  .github/workflows/test-go.yaml
  .github/workflows/test-native-tooling-packaging.yml
  .github/workflows/test-packaging.yml
  .github/workflows/test-yml-specs.yml
  .github/workflows/test.yml
  docs/Contributing/Releasing-Fleet.md
  handbook/engineering/README.md
Labels: #g-ceo

#14120 adding Jahziel to humans list
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#14118 Update README.md
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#14025 2023-09-25 Update macOS supported version to match MDM
  docs/Using Fleet/MDM-setup.md
  docs/Using Fleet/Supported-host-operating-systems.md
Labels: #g-ceo

#14101 2023-09-26 Drew bakerfdm swag handbook
  handbook/marketing/README.md
  handbook/marketing/marketing.rituals.yml
Labels: #handbook, #g-ceo

#14152 Drew bakerfdm handbook ads
  handbook/marketing/README.md
  handbook/marketing/marketing.rituals.yml
Labels: #handbook, #g-ceo

#14142 Update communications.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#14146 Update story template to be more explicit about doc changes
  .github/ISSUE_TEMPLATE/story.md
Labels: #g-ceo

#14018 New Figma component library and processes related to component changes
  handbook/product/README.md
Labels: #handbook, #g-ceo

#14164 Handbook 2 things
  handbook/ceo.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#14172 Update security-audits.md
  handbook/business-operations/security-audits.md
Labels: #handbook, #g-ceo

#14169 Update communications.md
  handbook/ceo.md
  handbook/company/ceo.rituals.yml
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#14174 Handbook/communications: ReOrg heading sections
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#14189 Website: Fix website deploy workflow
  handbook/company/ceo.rituals.yml
  website/assets/styles/pages/articles/basic-article.less
  website/views/pages/articles/basic-article.ejs
Labels: #g-ceo

#14200 Update leadership.md
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#14124 Website: Improve support for indented content in Markdown lists, update MDM macOS setup docs page.
  docs/Using Fleet/MDM-macOS-setup.md
  website/api/helpers/strings/to-html.js
  website/scripts/build-static-content.js
Labels: #g-ceo

#14203 Add KPI round up + weekly update to rituals
  handbook/business-operations/README.md
  handbook/ceo.md
Labels: #handbook, #g-ceo

#14218 Handbook: leadership#steps after the offer is accepted.
  handbook/company/leadership.md
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#14226 Handbook/ceo Fleet IT equipment ahippeing and receiving process
  handbook/ceo.md
Labels: #handbook, #g-ceo
