Repository fleetdm/fleet, pull requests merged in 2023-03, with the labels that each got.

#10201 Clarify specialties
  handbook/company/development-groups.md
Labels: #handbook

#10128 Adding product marketing Tiers to the Product section.
  handbook/product/README.md
Labels: #handbook

#10202 Remove debug on failure from integration test action
  .github/workflows/integration.yml
Labels: #contributor experience

#10026 Update oncall escalation docs
  handbook/engineering/README.md
Labels: #handbook

#10203 Update ceo-handbook.md
  handbook/business-operations/README.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#10171 Replace import-glob-loader with node-sass-glob-importer
  .storybook/main.js
  package.json
  webpack.config.js
  yarn.lock
Labels: #contributor experience, ~frontend, ~dependencies

#10245 Generate targets for osqueryd 5.8.1
  .github/workflows/generate-osqueryd-targets.yml
Labels: #agent

#10255 Update OSSF Scorecards action
  .github/workflows/scorecards-analysis.yml
Labels: #contributor experience, #security

#10264 Update open roles
  handbook/company/README.md
  handbook/company/engineering-manager-mdm.md
Labels: #handbook

#10278 Fix error writing coverage when running tests
  cmd/fleetctl/convert_test.go
  cmd/fleetctl/trigger_test.go
Labels: #contributor experience

#10280 How to queue up an equity grant? (Plus fix board)
  handbook/business-operations/README.md
Labels: #handbook

#10320 add advisors/investors
  handbook/company/README.md
Labels: #handbook

#10311 Decision: Zero tolerance for 5xx errors, failed scheduled jobs, failed requests, timeouts, and out-of-SLA response times
  handbook/company/why-this-way.md
Labels: #handbook

#10331 Position filled (revenue-operations-manager.md)
  handbook/company/README.md
  handbook/company/revenue-operations-manager.md
Labels: #handbook

#10333 RIP "👩‍🏭 Roles (job descriptions)"
  handbook/business-operations/README.md
Labels: #handbook

#10323 Reduce words and explain source of truth
  handbook/business-operations/README.md
Labels: #handbook

#10172 Add candidate correspondence section
  handbook/business-operations/README.md
Labels: #handbook

#10101 Clarify reproduction steps in QA process
  handbook/engineering/README.md
Labels: #handbook

#10387 Extrapolate things from hiring template
  handbook/business-operations/README.md
Labels: #handbook

#10403 Openness » "Why open source?" (context: offer emails)
  handbook/company/README.md
Labels: #handbook

#10405 fix broken link
  handbook/company/README.md
Labels: #handbook

#10400 Broken link
  handbook/company/why-this-way.md
Labels: #handbook

#10414 CEO == DRI of bizops during transition
  handbook/business-operations/README.md
Labels: #handbook

#10415 Fix typo
  handbook/business-operations/README.md
Labels: #handbook

#10436 Fix obvious typo in why-this-way.md
  handbook/company/why-this-way.md
Labels: #handbook

#10482 add CEO/CTO interview step
  handbook/business-operations/README.md
Labels: #handbook

#9886 Update README.md
  handbook/marketing/README.md
Labels: #handbook

#10498 Clean up offer process
  handbook/business-operations/README.md
Labels: #handbook

#10460 Add stub section to business operations handbook page
  handbook/business-operations/README.md
  handbook/company/README.md
Labels: #handbook

#10500 clarification of who ISN'T a consultant
  handbook/business-operations/README.md
Labels: #handbook

#10501 Whoever smelt it dealt it
  handbook/business-operations/README.md
Labels: #handbook

#10539 "Significant product changes"
  handbook/product/README.md
Labels: #handbook

#10548 Update offer acceptance process
  handbook/business-operations/README.md
Labels: #handbook

#10551 Make the CEO "archive channel" to eliminate back-and-forths
  handbook/business-operations/README.md
Labels: #handbook

#10554 Thanks for being a helper
  handbook/company/README.md
Labels: #handbook

#10555 Thanks for using correct formatting
  handbook/company/README.md
Labels: #handbook

#10556 ADd recommendations for the fleeties
  handbook/business-operations/README.md
Labels: #handbook

#10543 Handbook: Add section about testing website changes
  handbook/marketing/README.md
Labels: #handbook

#10586 welcome tee!
  handbook/company/README.md
Labels: #handbook

#10611 Remove outdated Objectives from Product handbook
  handbook/product/README.md
Labels: #handbook

#10612 Update design process
  handbook/product/README.md
Labels: #handbook

#10613 Clarify role of main description vs. comments in github issue
  handbook/product/README.md
Labels: #handbook

#10615 Update links and process product handbook
  handbook/product/README.md
Labels: #handbook

#10617 Update process for generating sprintly blog post
  handbook/product/README.md
Labels: #handbook

#10618 Add remittance link
  handbook/customers/README.md
Labels: #handbook

#10620 Fix the "missing address" problem
  handbook/business-operations/README.md
Labels: #handbook

#10584 Update product groups for shuffles and new fleeties
  handbook/company/development-groups.md
Labels: #handbook

#10621 Remove more steps. Make sending rejection emails an explicit ask+tas…
  handbook/business-operations/README.md
Labels: #handbook

#10553 Handle status columns during offer acceptance process
  CODEOWNERS
  handbook/business-operations/README.md
Labels: #handbook

#10544 Update hiring handbook
  handbook/business-operations/README.md
Labels: #handbook

#10622 Formatting and further impovments to hiring process
  handbook/business-operations/README.md
Labels: #handbook

#10623 Fix formatting
  handbook/business-operations/README.md
Labels: #handbook

#10624 Better linkable heading
  handbook/business-operations/README.md
Labels: #handbook

#10625 clarify SLA for monthly close
  handbook/business-operations/README.md
Labels: #handbook

#10626 full fledged fleeties and other flun flacts
  handbook/business-operations/README.md
Labels: #handbook

#10627 Automate one ritual
  handbook/business-operations/README.md
Labels: #handbook

#10628 Update ceo-handbook.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#10629 Update ceo-handbook.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#10630 Update README.md
  handbook/business-operations/README.md
Labels: #handbook

#10643 update DRI for creating blog post to be HOP
  handbook/product/README.md
Labels: #handbook

#10574 Customer events postmortem
  handbook/engineering/README.md
Labels: #handbook

#10653 Non-US consulting agreements
  handbook/business-operations/README.md
Labels: #handbook

#10654 Tracking hours
  handbook/business-operations/README.md
Labels: #handbook

#10660 Add custom request issue.
  handbook/business-operations/README.md
Labels: #handbook

#10663 Use crown jewels
  handbook/company/README.md
Labels: #handbook

#10665 Fix uppercase
  handbook/company/README.md
Labels: #handbook

#10667 correct #g-cx label
  handbook/company/development-groups.md
Labels: #handbook

#10668 Fix outdated label
  handbook/company/development-groups.md
Labels: #handbook

#10669 Add missing links
  handbook/company/why-this-way.md
Labels: #handbook

#10677 Peepops => bizops
  handbook/business-operations/README.md
Labels: #handbook

#10670 Consolidation, deduplication, and pruning old content
  handbook/product/README.md
Labels: #handbook

#10701 Why sentence case? (+examples)
  handbook/marketing/content-style-guide.md
Labels: #handbook

#10713 Why don't we sell like everyone else?
  handbook/company/why-this-way.md
Labels: #handbook

#10732 Handbook: Apply onboarding feedback and add links, encourage interrupting the CEO
  handbook/company/README.md
Labels: #handbook

#10733 typo fix for #10732
  handbook/company/README.md
Labels: #handbook

#10740 Use source of truth for partnerships
  handbook/marketing/README.md
Labels: #handbook

#10747 Remove customer announcement process
  handbook/product/README.md
Labels: #handbook

#10765 Fix OTHER broken link
  handbook/company/why-this-way.md
Labels: #handbook

#10770 Adjust for changes in fleetdm/fleet#10769
  handbook/product/README.md
Labels: #handbook

#10769 Clarification of repos + some small corrections and improvements + links
  handbook/company/why-this-way.md
Labels: #handbook

#10768 Apply learnings to company values.
  handbook/company/README.md
Labels: #handbook

#10771 Above all else... clarity
  handbook/marketing/README.md
Labels: #handbook

#10690 Added explanation for contractor hour approvals.
  handbook/business-operations/README.md
Labels: #handbook

#10571 Turn down dependabot settings
  .github/dependabot.yml
Labels: #contributor experience

#10570 Downgrade Docker client version
  go.mod
  go.sum
Labels: #contributor experience, ~dependencies

#10725 updated hiring section with ceo interview addition
  handbook/business-operations/README.md
Labels: #handbook

#10773 Add viz and podcast link
  handbook/company/README.md
Labels: #handbook

#10839 Contributor of the month
  handbook/README.md
Labels: #handbook

#10838 Ick, sorry
  handbook/company/development-groups.md
Labels: #handbook

#10840 Followthrough from change to some definitions
  handbook/company/development-groups.md
Labels: #handbook

#10804 Update why-this-way.md
  handbook/company/why-this-way.md
  handbook/marketing/README.md
Labels: #handbook

#10844 Better link for "first principles thinking"
  handbook/company/README.md
Labels: #handbook

#10845 Wireframes welcome
  handbook/company/development-groups.md
Labels: #handbook

#10846 Cut tangent
  handbook/company/why-this-way.md
Labels: #handbook

#10856 Beef up laptops
  handbook/business-operations/README.md
Labels: #handbook

#10852 Add new infrastructure product group
  handbook/company/development-groups.md
Labels: #handbook

#10813 Create senior-customer-success-manager.md
  handbook/company/senior-customer-success-manager.md
Labels: #handbook

#10902 Update preferred pronoun adding underscore
  handbook/business-operations/README.md
Labels: #handbook

#10842 Explain why the weird “CEO sees all the consultant hours thing
  handbook/business-operations/README.md
Labels: #handbook

#10914 Update README.md
  handbook/customers/README.md
Labels: #handbook

#10908 Add namecheap to tools we use
  handbook/business-operations/README.md
Labels: #handbook

#10919 Updates from latest hours report
  handbook/business-operations/README.md
Labels: #handbook

#10920 Clean up bizops rituals
  handbook/business-operations/README.md
Labels: #handbook
