Repository fleetdm/fleet, pull requests merged in 2023-11, with the labels that each got.

#14820 Add API support for Windows OS updates settings
  changes/issue-14028-support-windows-os-updates
  cmd/fleetctl/apply_test.go
  cmd/fleetctl/get_test.go
  cmd/fleetctl/testdata/expectedGetConfigAppConfigJson.json
  cmd/fleetctl/testdata/expectedGetConfigAppConfigYaml.yml
  cmd/fleetctl/testdata/expectedGetConfigIncludeServerConfigJson.json
  cmd/fleetctl/testdata/expectedGetConfigIncludeServerConfigYaml.yml
  cmd/fleetctl/testdata/expectedGetTeamsJson.json
  cmd/fleetctl/testdata/expectedGetTeamsYaml.yml
  cmd/fleetctl/testdata/macosSetupExpectedAppConfigEmpty.yml
  cmd/fleetctl/testdata/macosSetupExpectedAppConfigSet.yml
  cmd/fleetctl/testdata/macosSetupExpectedTeam1And2Empty.yml
  cmd/fleetctl/testdata/macosSetupExpectedTeam1And2Set.yml
  cmd/fleetctl/testdata/macosSetupExpectedTeam1Empty.yml
  docs/REST API/rest-api.md
  docs/Using Fleet/Audit-logs.md
  ee/server/service/teams.go
  pkg/optjson/optjson.go
  pkg/optjson/optjson_test.go
  server/datastore/mysql/schema.sql
  server/datastore/mysql/teams_test.go
  server/fleet/activities.go
  server/fleet/app.go
  server/fleet/app_test.go
  server/fleet/teams.go
  server/service/appconfig.go
  server/service/appconfig_test.go
  server/service/integration_core_test.go
  server/service/integration_enterprise_test.go
Labels: #g-ceo

#14863 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14239 MDM commands API changes
  docs/REST API/rest-api.md
Labels: #g-ceo

#14865 Handbook: Update communications.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#14868 Update freeze ritual and release readiness
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#14876 Handbook/ceo#sharing the all hands
  handbook/ceo.md
  handbook/company/ceo.rituals.yml
Labels: #handbook, #g-ceo

#14819 Update why-fleet.md
  docs/Get started/why-fleet.md
Labels: #g-ceo

#14844 Update FAQ.md
  docs/Get started/FAQ.md
Labels: #g-ceo

#14857 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#14873 Handbook: more decisive language in "Developing from wireframes"
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#14897 Update README.md
  handbook/customer-success/README.md
Labels: #handbook, #g-ceo

#14197 Switching systray dependency to one without glibc requirements
  Makefile
  charts/example-tuf-skaffold.yaml
  charts/tuf/.helmignore
  charts/tuf/Chart.yaml
  charts/tuf/templates/NOTES.txt
  charts/tuf/templates/_helpers.tpl
  charts/tuf/templates/deployment.yaml
  charts/tuf/templates/hpa.yaml
  charts/tuf/templates/ingress.yaml
  charts/tuf/templates/service.yaml
  charts/tuf/templates/serviceaccount.yaml
  charts/tuf/templates/tests/test-connection.yaml
  charts/tuf/values.yaml
  docs/Using Fleet/Supported-host-operating-systems.md
  go.mod
  go.sum
  orbit/changes/11958-remove-glibc-requirements
  orbit/cmd/desktop/desktop.go
  tools/file-server/main.go
  tools/tuf/test/Dockerfile
  tools/tuf/test/docker_package.sh
  tools/tuf/test/main.sh
Labels: #g-ceo

#14307 Docs: how the product sets the name attribute of the scheduled query
  docs/Get started/FAQ.md
  docs/Using Fleet/Log-destinations.md
Labels: #g-ceo

#14807 2023-11-01 Website: Update script for Vanta integration
  website/scripts/send-data-to-vanta.js
Labels: #g-ceo

#14913 Handbook/sales remove duplicate content
  handbook/customer-success/README.md
  handbook/sales/README.md
Labels: #handbook, #g-ceo

#14910 Fixed grammatical error
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#14914 Update ATC docs for TCC.db example
  docs/Configuration/agent-configuration.md
Labels: #g-ceo

#14864 Handbook: Update leadership.md
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#14890 Use go variable to set version in workflows
  .github/workflows/build-and-push-fleetctl-docker.yml
  .github/workflows/build-binaries.yaml
  .github/workflows/build-orbit.yaml
  .github/workflows/fleet-and-orbit.yml
  .github/workflows/generate-desktop-targets.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/goreleaser-snapshot-fleet.yaml
  .github/workflows/integration.yml
  .github/workflows/test-db-changes.yml
  .github/workflows/test-go.yaml
  .github/workflows/test-native-tooling-packaging.yml
  .github/workflows/test-packaging.yml
  .github/workflows/test-yml-specs.yml
  handbook/engineering/README.md
Labels: #g-ceo

#14938 Fixing typos
  handbook/sales/README.md
Labels: #handbook, #g-ceo

#14937 Add phtardif1 to list of humans
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#14946 Docs: Config file changes for #7766
  docs/Configuration/configuration-files/README.md
Labels: #g-ceo

#14943 Docs: update backticks in parameter description
  docs/REST API/rest-api.md
Labels: #g-ceo

#14884 Update heading position on why-fleet.md
  docs/Get started/why-fleet.md
Labels: #g-ceo

#14948 Docs: Update FAQ.md
  docs/Get started/FAQ.md
Labels: #g-ceo

#14949 Update README.md
  handbook/company/README.md
Labels: #handbook, #g-ceo

#14950 Fix fleetdm.com/docs
  docs/Get started/why-fleet.md
Labels: #g-ceo

#14951 Update FAQ.md
  docs/Get started/FAQ.md
Labels: #g-ceo

#14952 Adding REST API example how to delete all hosts.
  docs/REST API/rest-api.md
Labels: #g-ceo

#14960 Adding Michael Pinto as a CSM
  handbook/customer-success/README.md
Labels: #handbook, #g-ceo

#14978 Update Endpoint ops capacity
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#14980 Update product groups handbook
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#14992 Update CEO page
  handbook/ceo.md
  handbook/company/ceo.rituals.yml
  handbook/company/communications.md
  handbook/company/leadership.md
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#14993 Handbook: Update ceo.md
  handbook/ceo.md
Labels: #handbook, #g-ceo

#14828 Generate targets for osquery 5.10.2
  .github/workflows/generate-osqueryd-targets.yml
Labels: #agent, #osquery core

#15007 Update README.md
  handbook/sales/README.md
Labels: #handbook, #g-ceo

#15010 Update communications.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#15025 Add pintomi1989 to "Humans" list
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#15030 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#15036 Docs: tiny formatting fix
  docs/REST API/rest-api.md
Labels: #g-ceo

#15042 Handbook: Update leadership.md
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#14928 Improve layout of autogenerated documentation for activities log
  docs/Using Fleet/Audit-logs.md
  server/fleet/gen_activity_doc.go
Labels: #g-ceo

#15052 Handbook: Update README.md
  handbook/demand/README.md
Labels: #handbook, #g-ceo

#15053 Handbook: Update README.md
  handbook/demand/README.md
Labels: #handbook, #g-ceo

#15005 Adding csm/linkedin sales nav to the tools we use table
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#15043 Further clarify observer permissions to view queries & query reports
  docs/Using Fleet/manage-access.md
Labels: #g-ceo

#15061 Added 'after' param to /carves endpoint.
  docs/REST API/rest-api.md
Labels: #g-ceo

#15049 adding variable comp language.
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#15072 Docs: CIS Benchmarks for Windows 10
  docs/Using Fleet/CIS-Benchmarks.md
Labels: #g-ceo

#14966 Add YouTube video uploads to handbook
  handbook/demand/README.md
  handbook/demand/demand.rituals.yml
Labels: #handbook, #g-ceo

#14815 2023-11-06 Handbook: Demand: Book an event
  handbook/demand/README.md
Labels: #handbook, #g-ceo

#14977 Docs: Using Fleet > Fleet UI changes for #7766
  docs/Using Fleet/Fleet-UI.md
Labels: #g-ceo

#15070 Mark critical policies in standard query library.
  docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
  website/assets/styles/pages/query-library.less
  website/scripts/build-static-content.js
  website/views/pages/query-library.ejs
Labels: #g-ceo

#15090 Docs: Add pageOrderInSection meta tag to high-level-architecture.md
  docs/Contributing/high-level-architecture.md
Labels: #g-ceo

#15094 Handbook: Bizops: Add SVB ritual
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#15091 Handbook: Add ritual for checking osquery Slack invitation link.
  handbook/engineering/engineering.rituals.yml
Labels: #handbook, #g-ceo

#15098 Handbook: Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#15100 Update pricing-features-table.yml: Add quote
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#15118 Guide for which API endpoints to expose
  articles/what-api-endpoints-to-expose-to-the-public-internet.md
  docs/Configuration/fleet-server-configuration.md
Labels: #g-ceo

#15106 Update Automations.md - removed references for jira and zendesk desti…
  docs/Using Fleet/Automations.md
Labels: #g-ceo

#15149 Update engineering handbook page
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#15129 Make Rachael Shaw CODEOWNER of docs
  CODEOWNERS
  website/config/custom.js
Labels: #g-ceo

#15158 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#15110 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#15139 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14934 Fold Q4 features in features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#15125 Add franchise tax ritual details
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#15157 Handbook: Update "Testing changes" section on communications page
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#15185 Website: Fix object mutation in receive-usage-analytics webhook.
  website/api/controllers/webhooks/receive-usage-analytics.js
Labels: #g-ceo

#15180 Website: Update usage statistics webhook inputs and `HistoricalUsageSnapshot` model.
  docs/Using Fleet/Usage-statistics.md
  website/api/controllers/webhooks/receive-usage-analytics.js
  website/api/models/HistoricalUsageSnapshot.js
Labels: #g-ceo

#15223 Update formula in quarterly reporting
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#15245 Website: Update `receive-usage-analytics` webhook to limit size of requests sent to Datadog.
  website/api/controllers/webhooks/receive-usage-analytics.js
Labels: #g-ceo

#14811 Handbook/company/leadership#structure-of-departmental-handbook-pages
  docs/Contributing/Infrastructure.md
  handbook/business-operations/README.md
  handbook/company/communications.md
  handbook/company/leadership.md
  handbook/company/product-groups.md
  handbook/customer-success/README.md
  handbook/demand/README.md
  handbook/engineering/README.md
  handbook/engineering/engineering.rituals.yml
  handbook/product/README.md
  handbook/product/product.rituals.yml
  handbook/sales/README.md
Labels: #g-ceo

#15026 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#15256 Update README.md
  handbook/sales/README.md
Labels: #handbook, #g-ceo

#15270 Add examples (Update pricing-features-table.yml)
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#15257 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#15303 Website: Update Vanta sync script to catch errors thrown from `.retry()` method.
  website/scripts/send-data-to-vanta.js
Labels: #g-ceo

#15294 Website: Update pricing features yaml and pricing page.
  handbook/company/pricing-features-table.yml
  website/api/controllers/view-pricing.js
  website/assets/styles/pages/pricing.less
  website/scripts/build-static-content.js
  website/views/pages/pricing.ejs
Labels: #g-ceo
