Repository fleetdm/fleet, pull requests merged in 2023-07, with the labels that each got.

#11824 Handbook: Fix typo
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#11853 Clarify comp changes in handbook
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#11754 Update handbook for account recovery process
  handbook/business-operations/README.md
  handbook/business-operations/security.md
Labels: #handbook, #g-ceo

#12245 legal stub in handbook
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#11730 Quarterly investor reporting for CRV.
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#11738 Added detail for ordering through eCommerce portal
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12460 Handbook:Company:Strategy: added VM positioning
  handbook/company/README.md
  handbook/company/handbook.md
Labels: #handbook, #g-ceo

#12528 Updated: Company > Strategy
  handbook/company/README.md
Labels: #handbook, #g-ceo

#12618 Update README.md
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12585 Clarify check w/ EM and PM for user-impacting bug solutions
  handbook/engineering/README.md
Labels: #handbook

#12527 Typo fix / added back Calendy link
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12213 Update README.md
  handbook/business-operations/README.md
Labels: #handbook

#12595 Update CODEOWNERS
  CODEOWNERS
Labels: #g-ceo

#12629 Update custom.js
  website/config/custom.js
Labels: #g-ceo

#12526 What PMs should do with bugs that did not meet 6-week timeline
  handbook/product/README.md
Labels: #handbook, #g-ceo

#12467 Make ritual for PMs to report # stories estimated KPI
  handbook/product/README.md
Labels: #handbook, #g-ceo

#12659 Removing open Product Operations role from website
  handbook/company/README.md
  handbook/company/product-ops.md
Labels: #handbook, #g-ceo

#12056 CEO handbook > email management and calendar audit rituals
  handbook/business-operations/ceo-handbook.md
Labels: #handbook, #g-ceo

#12668 Update ceo-handbook.md
  handbook/business-operations/ceo-handbook.md
Labels: #handbook, #g-ceo

#12593 Add lukeheath to changelog codeowners
  CODEOWNERS
Labels: #g-ceo

#12536 Update to have Rachael Shaw also own schema tables docs
  CODEOWNERS
  website/config/custom.js
Labels: #g-ceo

#12674 Update README.md
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12602 Handbook: Add sentence case section to company/why-this-way
  handbook/company/why-this-way.md
  handbook/marketing/content-style-guide.md
Labels: #handbook, #g-ceo

#12677 Handbook: Cleanup
  handbook/company/README.md
Labels: #handbook

#12679 Handbook: Crown jewels
  handbook/company/README.md
Labels: #handbook

#12366 Update vendor-questionnaires.md
  handbook/business-operations/vendor-questionnaires.md
Labels: #handbook, #g-ceo

#12680 Update solutions consultant application link
  handbook/company/solutions-consultant.md
Labels: #handbook, #g-ceo

#12684 fixed section heading
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#12675 Create account-executive.md
  handbook/company/README.md
  handbook/company/account-executive.md
Labels: #handbook, #g-ceo

#12666 Create customer-support-engineer.md
  handbook/company/README.md
  handbook/company/customer-support-engineer.md
Labels: #handbook, #g-ceo

#11039 Added contract review & signature sections
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12691 Update job posting with correct typeform link
  handbook/company/customer-support-engineer.md
Labels: #handbook, #g-ceo

#12661 Initial infrastructure links and extra docs
  handbook/engineering/README.md
Labels: #handbook

#12707 New CIS Benchmarks certification
  handbook/product/README.md
Labels: #handbook

#12709 Adjust infra handbook
  handbook/engineering/README.md
Labels: #handbook

#12698 Add "MDM on/off" to why this way
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#12571 Declarative Device Management article
  articles/embracing-the-future-declarative-device-management.md
  website/assets/images/articles/embracing-the-future-declarative-device-management@2x.png
Labels: #g-ceo

#12708 Added CEO note to signature section
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12690 Proposed software-engineer
  handbook/company/README.md
  handbook/company/software-engineer.md
Labels: #handbook, #g-ceo

#12328 Reference correct pricing tier, and other small changes
  docs/Using-Fleet/CIS-Benchmarks.md
Labels: #g-ceo

#12484 Handbook: Add link to slack channel
  handbook/marketing/README.md
Labels: #handbook

#12720 Remove old position
  handbook/company/README.md
Labels: #handbook, #g-ceo

#12728 Update security-policies.md
  handbook/business-operations/security-policies.md
Labels: #handbook, #g-ceo

#12731 Handbook: update accessibility goal
  handbook/company/README.md
Labels: #handbook

#12730 Programmable
  handbook/product/pricing-features-table.yml
Labels: #handbook

#12733 Handbook: Add missing ")"
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#12736 Handbook/company/why-this-way/why-read-documentation
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#12737 Added note in legal
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12739 Update "Is it any good"
  handbook/business-operations/README.md
  handbook/company/README.md
Labels: #handbook, #g-ceo

#12740 Update README.md
  handbook/customers/README.md
Labels: #handbook

#12742 handbook: read, rewrite, read, rewrite
  handbook/company/why-this-way.md
Labels: #handbook

#12745 Fix broken link
  handbook/company/why-this-way.md
Labels: #handbook

#12615 Update /product/#wireframing to reflect future Figma structure
  handbook/product/README.md
Labels: #handbook

#12727 Handbook: Add note about different design review "modes"
  handbook/product/README.md
Labels: #handbook

#12507 Document that website team generates new schema
  handbook/engineering/README.md
  handbook/marketing/website-handbook.md
Labels: #handbook

#12517 Prohibited countries & territories
  handbook/customers/README.md
Labels: #handbook

#12587 Update website-handbook.md
  handbook/marketing/website-handbook.md
Labels: #handbook

#12616 Update "Which figma file should I use?" to reflect future Figma structure
  handbook/marketing/README.md
Labels: #handbook

#12475 Updated notes details.
  handbook/customers/README.md
Labels: #handbook

#12762 moved ceo-handbook.md to company
  handbook/business-operations/README.md
  handbook/company/README.md
  handbook/company/ceo-handbook.md
  handbook/company/development-groups.md
  handbook/product/README.md
  website/config/custom.js
  website/config/routes.js
Labels: #handbook, #g-ceo

#12766 Handbook: Update numbers
  handbook/company/README.md
Labels: #handbook

#12579 Add documentation for deploying ChromeOS test extensions.
  docs/Contributing/Deploying-chrome-test-ext.md
  docs/Contributing/FAQ.md
  docs/Contributing/README.md
  docs/Contributing/Seeding-Data.md
Labels: #handbook

#12770 Adding retirement benefits
  handbook/business-operations/README.md
Labels: #handbook

#12783 Added MDM design principles
  handbook/product/README.md
Labels: #handbook

#12814 Update security-policies.md
  handbook/business-operations/security-policies.md
Labels: #handbook

#12822 Change handbook links
  handbook/company/README.md
Labels: #handbook

#12821 Simplify process for scheduling final interviews
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12823 Update "Product/#Working with Figma"
  handbook/product/README.md
Labels: #handbook

#12829 Changed "Find a meeting time" link
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12828 Product handbook: Add note about assigning issues
  handbook/product/README.md
Labels: #handbook

#12846 Fixed legal link
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12893 Removed weekly updates
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12856 make Mo own CX
  handbook/company/development-groups.md
  handbook/product/README.md
Labels: #handbook, #g-ceo

#12894 Update BizOps handbook - device ordering
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12890 Remove infra maintainers from auto-approval
  website/config/custom.js
Labels: #g-ceo

#12819 Refine user story template
  .github/ISSUE_TEMPLATE/story.md
Labels: #g-ceo

#12914 fixed departures issue link
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12785 Update ceo-handbook.md
  handbook/company/ceo-handbook.md
Labels: #handbook, #g-ceo

#12920 GitHub automation: Reduce logging
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#12916 Change "Team" section -- (Mostly just testing the automation changes)
  handbook/company/ceo-handbook.md
Labels: #handbook

#12921 Update ceo-handbook.md
  handbook/company/ceo-handbook.md
Labels: #handbook

#12943 Handbook: Fix broken link in content style guide
  handbook/marketing/content-style-guide.md
Labels: #handbook

#12931 Update README.md
  handbook/company/README.md
Labels: #handbook

#12934 Update product groups handbook
  handbook/company/product-groups.md
Labels: #handbook

#12928 Remove application link for CSE role
  handbook/company/customer-support-engineer.md
Labels: #handbook

#12951 Fix image in README
  README.md
Labels: #g-ceo

#12956 Fixed capitalization
  .github/ISSUE_TEMPLATE/release-article.md
Labels: #g-ceo

#12963 Handbook: Create communication.md
  handbook/company/communication.md
Labels: #handbook

#12975 Moved meetings sections and added stubs
  handbook/business-operations/README.md
  handbook/company/communication.md
Labels: #handbook, #g-ceo

#12993 Update README.md
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12995 Update README.md
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12973 Update README.md
  handbook/README.md
Labels: #handbook

#13000 Update README.md
  handbook/customers/README.md
Labels: #handbook

#13013 Updating ceo links
  handbook/company/README.md
  handbook/company/product-groups.md
  handbook/product/README.md
Labels: #handbook

#13014 Update ceo.md
  handbook/company/ceo.md
Labels: #handbook

#12990 Handbook: satisfice first
  handbook/company/README.md
Labels: #handbook

#13005 Handbook: involve leaders in workiversaries
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#12987 Website: Update self-service license dispenser
  website/api/controllers/customers/save-billing-info-and-subscribe.js
  website/views/pages/customers/new-license.ejs
Labels: #g-ceo

#13022 Lighten superlative
  README.md
Labels: #g-ceo

#13029 Update BizOps handbook by arranging content in logical sequence
  handbook/business-operations/README.md
Labels: #handbook

#13039 Update README.md
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13040 Update communication.md
  handbook/company/communication.md
Labels: #handbook

#13028 Website: add Fleet Sandbox waitlist
  website/api/controllers/entrance/signup.js
  website/api/controllers/try-fleet/view-sandbox-teleporter-or-redirect-because-expired-or-waitlist.js
  website/api/controllers/try-fleet/view-waitlist.js
  website/api/models/User.js
  website/assets/js/pages/try-fleet/waitlist.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/try-fleet/waitlist.less
  website/config/policies.js
  website/config/routes.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/try-fleet/waitlist.ejs
Labels: #g-ceo

#13044 Handbook: Fix DRI portrait
  handbook/company/ceo.md
Labels: #handbook

#13046 Fix DRI mapping to handle renamed page
  website/config/custom.js
Labels: #g-ceo

#13045 Handbook: Tense ("should be" => "are")
  handbook/company/ceo.md
Labels: #handbook

#13036 Update README.md
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13047 updating slack
  handbook/company/ceo.md
Labels: #handbook

#13030 Update CEO handbook
  handbook/company/ceo.md
Labels: #handbook

#13048 Handbook: Make easier to read
  handbook/company/README.md
Labels: #handbook

#13050 Update offer letter process
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13051 Update ceo.md
  handbook/company/ceo.md
Labels: #handbook

#13052 Update ceo.md
  handbook/company/ceo.md
Labels: #handbook

#13053 Create rituals.yaml
  handbook/company/rituals.yaml
Labels: #handbook

#13054 Apply page rename from last week
  CODEOWNERS
Labels: #g-ceo

#13055 Automation: Auto-request review for new files added to handbook
  website/config/custom.js
Labels: #g-ceo

#13056 Update communication.md
  handbook/company/communication.md
Labels: #handbook

#13057 Automate ritual as yml
  handbook/company/rituals.yml
  website/scripts/create-issues-for-todays-rituals.js
Labels: #g-ceo

#13074 Update ceo.md
  handbook/company/ceo.md
Labels: #handbook
