Repository fleetdm/fleet, pull requests merged in 2023-04, with the labels that each got.

#10883 Update postmortem template link
  handbook/engineering/README.md
Labels: #handbook

#10946 Update README.md
  handbook/customers/README.md
Labels: #handbook

#10958 Add step about removing old position's job description + improve position proposal step + cleanup
  handbook/business-operations/README.md
  handbook/company/field-marketer.md
  handbook/company/product-designer.md
  handbook/company/senior-customer-success-manager.md
Labels: #handbook

#10931 Update product handbook
  handbook/product/README.md
Labels: #handbook

#10776 Update README.md
  handbook/business-operations/README.md
Labels: #handbook

#10940 Updated cx team
  handbook/company/development-groups.md
Labels: #handbook

#10975 Correct deploying dogfood steps
  handbook/engineering/README.md
Labels: #handbook

#11016 Handbook: All hands recordings and decks
  handbook/business-operations/README.md
  handbook/company/README.md
Labels: #handbook

#11019 Fix broken link
  handbook/company/why-this-way.md
Labels: #handbook

#10921 Update QA process
  handbook/engineering/README.md
Labels: #handbook

#11038 Zach joins final interview for engineering candidates
  handbook/business-operations/README.md
Labels: #handbook

#11035 Merged in Eng Together agenda from calendar and linked to handbook from cal event
  handbook/engineering/README.md
Labels: #handbook

#11057 Upgrade Go version to 1.19.8
  .github/workflows/build-and-push-fleetctl-docker.yml
  .github/workflows/build-binaries.yaml
  .github/workflows/fleet-and-orbit.yml
  .github/workflows/fleetctl-preview-latest.yml
  .github/workflows/generate-desktop-targets.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/goreleaser-snapshot-fleet.yaml
  .github/workflows/test-db-changes.yml
  .github/workflows/test-go.yaml
  .github/workflows/test-native-tooling-packaging.yml
  .github/workflows/test-packaging.yml
  .github/workflows/test-yml-specs.yml
  changes/go-version
  infrastructure/loadtesting/terraform/docker/loadtest.Dockerfile
  infrastructure/sandbox/JITProvisioner/deprovisioner/Dockerfile
  infrastructure/sandbox/JITProvisioner/lambda/Dockerfile
  infrastructure/sandbox/Monitoring/lambda/Dockerfile
  infrastructure/sandbox/PreProvisioner/lambda/Dockerfile
Labels: ~dependencies

#11077 Typo fix
  handbook/business-operations/README.md
Labels: #handbook

#11078 Add start date update step
  handbook/business-operations/README.md
Labels: #handbook

#11079 Add step of double-checking location is correct
  handbook/business-operations/README.md
Labels: #handbook

#11080 Swap quartetlet principles
  handbook/company/README.md
Labels: #handbook

#11081 Prioritize emphasis on boundaries
  handbook/company/README.md
Labels: #handbook

#11082 Clarify your boundaries 🪟
  handbook/company/README.md
Labels: #handbook

#11083 Word choice & prioritization & cutting/simplifying some muddlier conc…
  handbook/company/README.md
Labels: #handbook

#11085 Interrogate luck
  handbook/company/README.md
Labels: #handbook

#11086 Non-public == confidential + classified
  handbook/company/README.md
Labels: #handbook

#10905 Handbook: Add Cloudflare subheading
  handbook/marketing/README.md
Labels: #handbook

#11118 Fix broken link
  handbook/company/README.md
Labels: #handbook

#11115 Update pricing page: MDM features
  handbook/product/pricing-features-table.yml
Labels: #handbook

#11147 Replaced "Charlie" references with "Tee"
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#11150 Update fleetd chrome install instructions
  ee/fleetd-chrome/README.md
Labels: :improve documentation

#11173 Upgrade webpack to v5
  Makefile
  frontend/components/LiveQuery/SelectTargets.tsx
  frontend/services/mock_service/examples/responses.ts
  package.json
  webpack.config.js
  yarn.lock
Labels: #contributor experience, ~frontend, ~dependencies

#11219 Updating Marketing Handbook section
  handbook/marketing/README.md
Labels: #handbook

#11275 use consistent route prefix
  handbook/company/why-this-way.md
Labels: #handbook

#11252 Add note about ee license in ee directory
  ee/README.md
Labels: :improve documentation

#11284 Sentence case
  handbook/marketing/README.md
Labels: #handbook

#11321 Improve offboarding process
  handbook/business-operations/README.md
Labels: #handbook

#11325 Clarify a few points
  handbook/company/README.md
Labels: #handbook

#11348 Clarity
  handbook/company/README.md
Labels: #handbook

#11154 Update open positions
  handbook/company/README.md
Labels: #handbook

#11204 Add new role description for product quality specialist
  handbook/company/README.md
  handbook/company/product-quality-specialist.md
Labels: #handbook

#11415 Remove duplication
  handbook/business-operations/README.md
Labels: #handbook

#11292 Update engineering DRIs
  handbook/engineering/README.md
Labels: #handbook

#11426 Handbook: Fix two broken links on Marketing page
  handbook/marketing/README.md
Labels: #handbook

#11386 Fix open position link
  handbook/company/README.md
Labels: #handbook

#11432 Handbook: Fix broken link in Engineering page
  handbook/engineering/README.md
Labels: #handbook

#11441 refer to the vision, not the nitty gritty
  handbook/company/README.md
Labels: #handbook

#11442 Improve link
  handbook/company/why-this-way.md
Labels: #handbook

#11443 Fix mismatched link
  handbook/company/README.md
Labels: #handbook
