Repository fleetdm/fleet, pull requests merged in 2023-05, with the labels that each got.

#11456 Remove #help-login
  handbook/business-operations/README.md
  handbook/business-operations/security.md
Labels: #handbook

#11466 Handbook: Fix broken link to company page
  handbook/company/why-this-way.md
Labels: #handbook

#11471 #g-website
  handbook/company/development-groups.md
Labels: #handbook

#11504 Add onboarding retro
  handbook/business-operations/README.md
Labels: #handbook

#11505 Pull in language from calendly
  handbook/business-operations/README.md
Labels: #handbook

#11507 Bizops creates offboarding issue
  handbook/business-operations/README.md
Labels: #handbook

#11508 Handbook manager responsibilities for offboarding
  handbook/business-operations/README.md
Labels: #handbook

#11370 Update README.md
  handbook/business-operations/README.md
Labels: #handbook

#11236 Update README.md
  handbook/marketing/README.md
Labels: #handbook

#11518 New DRIs for design reviews
  handbook/product/README.md
Labels: #handbook

#11519 Hanbook: Revert changes from #11236
  handbook/marketing/README.md
Labels: #handbook

#11522 Add intake process for website changes
  handbook/marketing/README.md
Labels: #handbook

#11401 Clarify automatic role syncing with IdP is now supported
  handbook/product/pricing-features-table.yml
Labels: #handbook

#11561 Handbook: Vanta ritual
  handbook/business-operations/README.md
Labels: #handbook

#11546 Proposal for senior-software-backend-engineer position
  handbook/company/senior-software-backend-engineer.md
Labels: #handbook

#11567 Revert "Proposal for senior-software-backend-engineer position (#11546)"
  handbook/company/senior-software-backend-engineer.md
Labels: #handbook

#11568 Proposal for senior-software-backend-engineer position (#11546)
  handbook/company/README.md
  handbook/company/senior-software-backend-engineer.md
Labels: #handbook

#11593 BizOps slack channel ritual for job applicants
  handbook/business-operations/README.md
Labels: #handbook

#11598 Update weekly update instructions
  handbook/business-operations/README.md
Labels: #handbook

#11599 Conversation-starting
  handbook/company/why-this-way.md
Labels: #handbook

#11601 Add link
  handbook/business-operations/README.md
Labels: #handbook

#11602 Bring in the relevant content instead of link
  handbook/business-operations/README.md
Labels: #handbook

#11594 Fix typo
  handbook/company/development-groups.md
Labels: #handbook

#11590 Modify Handbook to set start date for proposed new positions.
  handbook/business-operations/README.md
Labels: #handbook, #g-ea

#11606 Update security-policies.md
  handbook/business-operations/security-policies.md
Labels: #handbook, #g-ea

#11616 Update security-policies.md
  handbook/business-operations/security-policies.md
Labels: #handbook, #g-ea

#11614 updating linkedin sales nav instructions
  handbook/business-operations/README.md
Labels: #handbook, #g-ea

#11653 Update README.md
  handbook/customers/README.md
Labels: #handbook

#11656 Update README.md
  handbook/customers/README.md
Labels: #handbook

#11654 Update README.md
  handbook/customers/README.md
Labels: #handbook

#11680 Update GitHub PR and bugs KPI script
  website/scripts/get-bug-and-pr-report.js
Labels: #g-ea

#11677 Website: Add HubSpot chat widget and replace calendly links
  website/assets/js/pages/articles/basic-article.page.js
  website/assets/js/pages/compliance.page.js
  website/assets/js/pages/docs/basic-documentation.page.js
  website/assets/js/pages/get-started.page.js
  website/assets/js/pages/homepage.page.js
  website/assets/js/pages/imagine/unused-software.page.js
  website/assets/js/pages/osquery-management.page.js
  website/assets/js/pages/pricing.page.js
  website/assets/js/pages/reports/state-of-device-management.page.js
  website/assets/js/pages/sales-one-pager.page.js
  website/assets/styles/pages/docs/basic-documentation.less
  website/generators/landing-page/templates/page-script.page.js.template
  website/generators/landing-page/templates/page.ejs.template
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/articles/basic-article.ejs
  website/views/pages/compliance.ejs
  website/views/pages/docs/basic-documentation.ejs
  website/views/pages/get-started.ejs
  website/views/pages/homepage.ejs
  website/views/pages/imagine/unused-software.ejs
  website/views/pages/osquery-management.ejs
  website/views/pages/pricing.ejs
  website/views/pages/reports/state-of-device-management.ejs
  website/views/pages/sales-one-pager.ejs
  website/views/pages/try-fleet/register.ejs
Labels: #g-ea

#11698 Education page via landing page builder
  website/api/controllers/imagine/view-higher-education.js
  website/assets/js/pages/imagine/higher-education.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/imagine/higher-education.less
  website/config/routes.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/imagine/higher-education.ejs
Labels: #g-ea

#11701 Website: Update Fleet website's body parser limit
  website/config/http.js
Labels: #g-ea

#11723 SOC 2: Consultants don't get email addresses by default
  handbook/business-operations/README.md
Labels: #handbook

#11637 Adds instruction for using device over endpoints.
  handbook/marketing/content-style-guide.md
Labels: :improve handbook, #handbook

#11746 Update README.md
  handbook/business-operations/README.md
Labels: #handbook, #g-ea

#11657 Add test plan section to user story issue template
  .github/ISSUE_TEMPLATE/story.md
Labels: #g-ea

#11803 Exception to monorepo
  handbook/company/why-this-way.md
Labels: #handbook

#11819 Update README.md to fix typo in "GitLab" name
  handbook/product/README.md
Labels: #handbook

#11850 Remove bizops on-call for now
  handbook/business-operations/README.md
Labels: #handbook

#11877 Update "Ask us anything" on pricing.ejs to link to /contact
  website/views/pages/pricing.ejs
Labels: #g-ea

#11863 Update README.md
  handbook/marketing/README.md
Labels: #handbook

#11875 Track host DEP assignments in new table
  docs/Contributing/API-for-contributors.md
  ee/server/service/devices.go
  frontend/interfaces/host.ts
  frontend/pages/hosts/details/DeviceUserPage/DeviceUserPage.tests.tsx
  frontend/pages/hosts/details/DeviceUserPage/DeviceUserPage.tsx
  frontend/services/entities/device_user.ts
  server/datastore/mysql/apple_mdm.go
  server/datastore/mysql/apple_mdm_test.go
  server/datastore/mysql/hosts.go
  server/datastore/mysql/hosts_test.go
  server/datastore/mysql/migrations/tables/20230520153236_AddHostDepAssignmentsTable.go
  server/datastore/mysql/migrations/tables/20230520153236_AddHostDepAssignmentsTable_test.go
  server/datastore/mysql/schema.sql
  server/fleet/apple_mdm.go
  server/fleet/apple_mdm_test.go
  server/fleet/datastore.go
  server/fleet/hosts.go
  server/fleet/service.go
  server/mock/datastore_mock.go
  server/service/devices.go
  server/service/devices_test.go
  server/service/integration_core_test.go
  server/service/integration_desktop_test.go
  server/service/integration_enterprise_test.go
  server/service/integration_mdm_test.go
  server/service/orbit.go
Labels: :release, #g-mdm

#11902 Update fleetdm.com/pricing
  handbook/product/pricing-features-table.yml
Labels: #handbook

#11911 Add customer data deletion policy
  handbook/business-operations/security-policies.md
Labels: #handbook, #g-infra, #g-ea

#11793 Add rachaelshaw to CODEOWNERS for docs
  CODEOWNERS
Labels: #g-ea

#11918 Move all workstations to macOS 13.4.0
  .github/workflows/fleetctl-workstations.yml
Labels: #security

#11871 Add QA section to website request template
  .github/ISSUE_TEMPLATE/website-request.md
Labels: #g-ea

#11910 Website: Update pricing page
  handbook/product/pricing-features-table.yml
  website/assets/js/pages/pricing.page.js
  website/assets/styles/pages/pricing.less
  website/scripts/build-static-content.js
  website/views/pages/pricing.ejs
Labels: #g-ea

#11870 Website: Add host migration webhook
  website/api/controllers/webhooks/receive-from-customer-fleet-instance.js
  website/assets/js/cloud.setup.js
  website/config/routes.js
Labels: #g-ea

#11985 About Fleet blurbs update
  handbook/marketing/README.md
Labels: :improve handbook, #handbook

#11874 Update tools per role
  handbook/business-operations/README.md
Labels: #handbook, #g-ea

#11998 Website: Remove Premium Cloud banners and callout boxes
  website/assets/styles/pages/homepage.less
  website/assets/styles/pages/pricing.less
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/homepage.ejs
  website/views/pages/pricing.ejs
Labels: #g-ea

#12020 Contacting the CEO
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#12023 fix typo and clarify flight preferences
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#11957 Add vulnerability management page
  website/api/controllers/view-vulnerability-management.js
  website/assets/images/vulnerability-management-feature-1-420x298@2x.png
  website/assets/images/vulnerability-management-feature-2-420x330@2x.png
  website/assets/images/vulnerability-management-feature-3-420x282@2x.png
  website/assets/js/pages/vulnerability-management.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/vulnerability-management.less
  website/config/policies.js
  website/config/routes.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/vulnerability-management.ejs
Labels: #g-ea

#11967 Website: Update Fleet Premium price in license dispenser
  website/api/controllers/customers/create-quote.js
  website/views/pages/customers/new-license.ejs
Labels: #g-ea

#12024 Website: Change bootstrap class added to tables on pages built from Markdown
  website/api/helpers/strings/to-html.js
Labels: #g-ea

#11818 Add fleet-release approval for new gitops action repo
  website/api/helpers/github-automations/get-is-pr-preapproved.js
  website/config/custom.js
Labels: #g-ceo

#11895 Handbook: update marketing slack channels
  handbook/marketing/README.md
Labels: #handbook

#11527 Stub CEO OOO process
  handbook/business-operations/ceo-handbook.md
Labels: #handbook

#11937 Remove product quality specialist role
  handbook/company/README.md
  handbook/company/product-quality-specialist.md
Labels: #handbook, #g-ceo

#12048 Website: Add redirect for open position.
  website/config/routes.js
Labels: #g-ceo

#12049 Update README.md
  handbook/engineering/README.md
Labels: #handbook

#12013 Website: Add support for ChromeOS to query library and osquery schema pages.
  website/api/helpers/get-extended-osquery-schema.js
  website/assets/images/os-chromeos-dark-24x24@2x.png
  website/assets/images/os-linux-dark-24x24@2x.png
  website/assets/images/os-macos-dark-24x24@2x.png
  website/assets/images/os-windows-dark-24x24@2x.png
  website/assets/js/pages/osquery-table-details.page.js
  website/scripts/build-static-content.js
  website/views/pages/osquery-table-details.ejs
  website/views/pages/query-detail.ejs
  website/views/pages/query-library.ejs
Labels: #g-ceo

#12032 add a puppet module to manage MDM features
  CODEOWNERS
  ee/tools/puppet/fleetdm/.gitattributes
  ee/tools/puppet/fleetdm/.gitignore
  ee/tools/puppet/fleetdm/.pdkignore
  ee/tools/puppet/fleetdm/.puppet-lint.rc
  ee/tools/puppet/fleetdm/.rspec
  ee/tools/puppet/fleetdm/.rubocop.yml
  ee/tools/puppet/fleetdm/.yardopts
  ee/tools/puppet/fleetdm/CHANGELOG.md
  ee/tools/puppet/fleetdm/Gemfile
  ee/tools/puppet/fleetdm/README.md
  ee/tools/puppet/fleetdm/Rakefile
  ee/tools/puppet/fleetdm/data/common.yaml
  ee/tools/puppet/fleetdm/examples/multiple-teams.pp
  ee/tools/puppet/fleetdm/hiera.yaml
  ee/tools/puppet/fleetdm/lib/puppet/functions/fleetdm/preassign_profile.rb
  ee/tools/puppet/fleetdm/lib/puppet/functions/fleetdm/release_device.rb
  ee/tools/puppet/fleetdm/lib/puppet/reports/fleetdm.rb
  ee/tools/puppet/fleetdm/lib/puppet/util/fleet_client.rb
  ee/tools/puppet/fleetdm/manifests/profile.pp
  ee/tools/puppet/fleetdm/metadata.json
  ee/tools/puppet/fleetdm/spec/default_facts.yml
  ee/tools/puppet/fleetdm/spec/defines/profile_spec.rb
  ee/tools/puppet/fleetdm/spec/fixtures/hiera.yaml
  ee/tools/puppet/fleetdm/spec/fixtures/hieradata/common.yaml
  ee/tools/puppet/fleetdm/spec/functions/fleet_client_spec.rb
  ee/tools/puppet/fleetdm/spec/functions/preassign_profile_spec.rb
  ee/tools/puppet/fleetdm/spec/functions/release_device_spec.rb
  ee/tools/puppet/fleetdm/spec/spec_helper.rb
Labels: #g-ceo

#12071 Clarify bug prioritization process
  handbook/product/README.md
Labels: #handbook

#12061 Update smoke-tests.md
  .github/ISSUE_TEMPLATE/smoke-tests.md
Labels: #g-ceo

#12076 Set a DRI for sprint release notes kickoff meeting
  handbook/product/README.md
Labels: #handbook

#12077 make PFR not mandatory
  handbook/product/README.md
Labels: #handbook

#12075 Link to how to get non-standard NDAs reviewed and potentially signed
  handbook/customers/README.md
Labels: #handbook
