Repository fleetdm/fleet, pull requests merged in 2023-08, with the labels that each got.

#13079 Update infra codeowners
  CODEOWNERS
Labels: #g-ceo

#13083 Update ceo.md
  handbook/company/ceo.md
Labels: #handbook

#13088 Update and rename communication.md to communications.md
  handbook/company/communication.md
  handbook/company/communications.md
  website/config/routes.js
Labels: #g-ceo

#13090 Update ceo.md
  handbook/company/ceo.md
Labels: #handbook

#13092 Update communications.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13091 Moved sections to communications page
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13115 Update to github to add ireedy to new humans
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#13049 Prepare for rituals.yml automation (move features table YML)
  CODEOWNERS
  handbook/company/pricing-features-table.yml
  website/config/custom.js
  website/scripts/build-static-content.js
Labels: #g-ceo

#13132 Update README.md
  handbook/customers/README.md
Labels: #handbook

#13084 Website: add <rituals> component, add ritualsTables (parsed from YAML) to website configuration
  handbook/company/ceo.md
  handbook/company/rituals.yml
  website/api/controllers/handbook/view-basic-handbook.js
  website/assets/js/components/rituals.component.js
  website/scripts/build-static-content.js
  website/scripts/create-issues-for-todays-rituals.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
Labels: #g-ceo

#13139 why don't we track leads differently
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#13120 Update ceo.md
  handbook/company/ceo.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13140 Update README.md
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13146 Move content to People Operations page
  handbook/business-operations/README.md
  handbook/business-operations/people-operations
Labels: #handbook

#13147 Add POps link
  handbook/business-operations/README.md
Labels: #handbook

#13148 Rename people-operations to people-operations.md
  handbook/business-operations/people-operations.md
Labels: #handbook

#13152 Update ceo.md
  handbook/company/ceo.md
Labels: #handbook

#13101 Website: Update admin license generator
  website/api/controllers/admin/build-license-key.js
  website/api/helpers/create-license-key.js
  website/assets/js/cloud.setup.js
  website/assets/js/pages/admin/generate-license.page.js
  website/config/routes.js
  website/views/pages/admin/generate-license.ejs
Labels: #g-ceo

#12991 expose env var for orbit enrollment retry interval
  server/service/orbit_client.go
Labels: #g-cx

#13111 Website: Add admin page to manage the Fleet Sandbox waitlist
  website/api/controllers/admin/provision-sandbox-instance-and-deliver-email.js
  website/api/controllers/admin/view-email-template-preview.js
  website/api/controllers/admin/view-sandbox-waitlist.js
  website/api/controllers/entrance/signup.js
  website/api/helpers/fleet-sandbox-cloud-provisioner/provision-new-fleet-sandbox-instance.js
  website/assets/js/cloud.setup.js
  website/assets/js/pages/admin/sandbox-waitlist.page.js
  website/assets/styles/importer.less
  website/assets/styles/layout.less
  website/assets/styles/pages/admin/sandbox-waitlist.less
  website/config/routes.js
  website/scripts/provision-sandbox-instance-for-one-user-and-deliver-email.js
  website/views/emails/email-sandbox-ready-approved.ejs
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-email.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/admin/sandbox-waitlist.ejs
  website/views/pages/try-fleet/register.ejs
Labels: #g-ceo

#13168 Update ceo.md
  handbook/company/ceo.md
Labels: #handbook

#13180 Fixed italics in broken heading links
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#13185 Add mostlikelee to maintainers
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#13187 Bizops = people+it+revops+legal+finance functions
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13121 Added Vetty to Tools We Use
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13203 Handbook: Expand "Be reliable"
  handbook/company/README.md
Labels: #handbook, #g-ceo

#13208 Time sensitive rituals
  handbook/company/ceo.md
Labels: #handbook, #g-ceo

#13211 Added link to company values
  handbook/company/README.md
Labels: #handbook, #g-ceo

#13217 Update drafting handbook to include estimation deadline
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#13220 Linked article to #is-it-any-good
  handbook/company/README.md
Labels: #handbook, #g-ceo

#13236 Update people-operations.md
  handbook/business-operations/people-operations.md
Labels: #handbook, #g-ceo

#13249 Why make it obvious when things break?
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#13248 update hiring process
  handbook/business-operations/people-operations.md
Labels: #handbook, #g-ceo

#13252 Product handbook: Add design convention
  handbook/product/README.md
Labels: #handbook

#13230 Handbook: Taking time off clarifications
  handbook/business-operations/people-operations.md
Labels: #handbook, #g-ceo

#13242 Handbook: Tipping while traveling in the US
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13240 Automation: Change maintainers for docs and query library path to avo…
  website/config/custom.js
Labels: #g-ceo

#13264 Handbook: Typo fixes
  handbook/business-operations/people-operations.md
Labels: #handbook, #g-ceo

#13235 Change "tier" to "echelon" to match the handbook
  .github/ISSUE_TEMPLATE/release-article.md
Labels: #g-ceo

#13195 Handbook CODEOWNERS
  CODEOWNERS
  website/config/custom.js
Labels: #g-ceo

#13276 UI - Fix host count
  frontend/pages/DashboardPage/components/InfoCard/InfoCard.tsx
Labels: bug

#13295 handbook: company
  handbook/company/README.md
Labels: #handbook

#13301 Automation: Fix maintainers automation for new handbook pages
  website/config/custom.js
Labels: #g-ceo

#13300 Handbook: Clarify position opening process to ensure "hired, starting…
  handbook/business-operations/people-operations.md
Labels: #handbook

#13316 Update why-this-way.md
  handbook/company/why-this-way.md
Labels: #handbook

#13325 Automation: Draft PRs now get #g-ceo label if appropriate
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#13326 Automation: Try removing trailing slash on handbook/
  website/config/custom.js
Labels: #g-ceo

#13212 Update fleetdm.com/pricing table
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#13266 Handbook: fixing typo in feature fest para
  handbook/product/README.md
Labels: #handbook

#13274 UI copy conventions
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13196 Add additional meetings to the engineering handbook
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#13334 Website: increase body parser limit
  website/config/http.js
Labels: #g-ceo

#13331 Adding willmayhone88 to humans
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#13337 Update website-handbook.md
  handbook/marketing/website-handbook.md
Labels: #handbook, #g-ceo

#13354 removing DRI
  website/api/controllers/webhooks/receive-from-github.js
  website/config/custom.js
Labels: #g-ceo

#13317 Update with context on pay dates
  handbook/business-operations/people-operations.md
Labels: #handbook, #g-ceo

#13155 Markdown guide and styleguide page inline as sections in new /handbook/communications
  handbook/company/communications.md
  handbook/marketing/README.md
  handbook/marketing/commonly-used-terms.md
  handbook/marketing/content-style-guide.md
  handbook/marketing/docs-handbook.md
  handbook/marketing/editor-guide.md
  handbook/marketing/markdown-guide.md
  handbook/marketing/website-handbook.md
  website/config/routes.js
Labels: #g-ceo

#13352 Update offboarding process to ensure appropriate notification
  handbook/business-operations/people-operations.md
Labels: #handbook, #g-ceo

#13280 Handbook: Customers: Solutions consulting (onboarding as)
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#13328 Handbook: update product rituals to reflect current practices
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13298 correct formula for quarterly reporting for investors
  handbook/business-operations/README.md
Labels: #handbook

#13389 Complete removal of Cypress
  .eslintrc.js
  .github/workflows/test.yml
  .gitignore
  .prettierignore
  cypress/README.md
  cypress/cypress-free.json
  cypress/cypress-premium.json
  cypress/fixtures/example.json
  cypress/integration/all/app/activateuser.spec.ts
  cypress/integration/all/app/dashboard.spec.ts
  cypress/integration/all/app/fleetdesktop.spec.ts
  cypress/integration/all/app/hosts.spec.ts
  cypress/integration/all/app/labelflow.spec.ts
  cypress/integration/all/app/manageUsers.spec.ts
  cypress/integration/all/app/packflow.spec.ts
  cypress/integration/all/app/policiesflow.spec.ts
  cypress/integration/all/app/queryflow.spec.ts
  cypress/integration/all/app/resetsessions.spec.ts
  cypress/integration/all/app/settingsflow.spec.ts
  cypress/integration/all/app/software.spec.ts
  cypress/integration/all/sessions/sessions.spec.ts
  cypress/integration/all/sessions/sso.spec.ts
  cypress/integration/all/setup/setup.spec.ts
  cypress/integration/free/README.md
  cypress/integration/free/admin.spec.ts
  cypress/integration/free/maintainer.spec.ts
  cypress/integration/free/observer.spec.ts
  cypress/integration/pages/dashboardPage.ts
  cypress/integration/pages/hostDetailsPage.ts
  cypress/integration/pages/manageHostsPage.ts
  cypress/integration/pages/managePacksPage.ts
  cypress/integration/pages/managePoliciesPage.ts
  cypress/integration/pages/manageQueriesPage.ts
  cypress/integration/pages/manageSchedulePage.ts
  cypress/integration/pages/manageSoftwarePage.ts
  cypress/integration/pages/teamsDropdown.ts
  cypress/integration/pages/userProfilePage.ts
  cypress/integration/premium/README.md
  cypress/integration/premium/admin.spec.ts
  cypress/integration/premium/fleetdesktop.spec.ts
  cypress/integration/premium/maintainer.spec.ts
  cypress/integration/premium/observer.spec.ts
  cypress/integration/premium/sso.spec.ts
  cypress/integration/premium/team_admin.spec.ts
  cypress/integration/premium/team_maintainer_observer.spec.ts
  cypress/integration/premium/teamflow.spec.ts
  cypress/pages/appSettingsPage.ts
  cypress/pages/teamSettingsPage.ts
  cypress/plugins/index.js
  cypress/support/commands.ts
  cypress/support/constants.ts
  cypress/support/index.d.ts
  cypress/support/index.js
  cypress/tsconfig.json
  package.json
  yarn.lock
Labels: #contributor experience, ~frontend, ~dependencies

#13387 Jo stableford patch 2
  handbook/business-operations/people-operations.md
Labels: #handbook, #g-ceo

#13390 Move ceo out from company
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13369 Website: Update error handling in Stripe webhook.
  website/api/controllers/webhooks/receive-from-stripe.js
Labels: #g-ceo

#13394 Create leadership.md
  handbook/business-operations/README.md
  handbook/company/communications.md
  handbook/company/leadership.md
  website/config/routes.js
Labels: #g-ceo

#13396 Handbook: minimally viable changes
  handbook/company/README.md
Labels: #handbook, #g-ceo

#13397 Update README.md
  handbook/company/README.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13398 Handbook: Update CEO handbook page to be the model for other departme…
  handbook/ceo.md
  handbook/company/rituals.yml
Labels: #handbook, #g-ceo

#13395 Update README.md
  handbook/business-operations/README.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13399 Handbook: Extrapolate slack channels
  handbook/company/README.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13400 Update communications.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13401 Update leadership.md
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13402 Handbook: Bizops moves
  handbook/business-operations/README.md
  handbook/company/communications.md
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13383 Automation: Only attach #g-ceo label if not draft
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#13403 Update leadership.md
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13405 Handbook: Trivial change for consistency before we roll these out to …
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13404 Handbook: Match bizops page to new framework for departmental pages
  handbook/business-operations/README.md
  handbook/ceo.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13406 Handbook: improve link
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13407 Handbook: Drew
  handbook/marketing/README.md
Labels: #handbook, #g-ceo

#13409 Handbook: update old content and add links
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13410 handbook: link to operating principles, strategy, and brand usage gui…
  handbook/company/README.md
Labels: #handbook, #g-ceo

#13413 Handbook: partially address “todo” on leadership page
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13414 Handbook: Update why-this-way.md to be more explicit
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#13408 Handbook: Sand down a few more headings
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13443 Proposing Operations Associate role
  handbook/company/README.md
  handbook/company/operations-associate.md
Labels: #handbook, #g-ceo

#13412 GitHub README: Rep Bart and swiftDialog a bit
  README.md
Labels: #g-ceo

#13476 Link to some of our fav open source repos
  README.md
Labels: #g-ceo

#13465 Fix typo
  handbook/business-operations/README.md
Labels: #handbook

#13467 Hiring: Business Operations Engineer
  handbook/company/README.md
  handbook/company/business-operations-engineer.md
Labels: #handbook, #g-ceo

#13267 Handbook: update bug process to include "needs prioritization" label
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13438 updated commish and acceleration payroll
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13416 Adding churned bug clean-up to product rituals
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13441 Update ceo.md
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13207 Added note about Fleet’s webhook notifications about failing policies
  docs/Configuration/configuration-files/README.md
Labels: :improve documentation

#13516 Handbook: Small improvements from Cupertino plane trips
  handbook/company/README.md
Labels: #handbook, #g-ceo

#13423 Context for Structure for departmental handbook pages
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13444 Add product marketing (brandfronts, pitchfronts, featurefronts, ICPs,…
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13453 Update communications.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13439 Update Key reviews
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13463 Adjust PR KPI script
  website/scripts/get-bug-and-pr-report.js
Labels: #g-ceo

#13532 Update ceo.md
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13533 Update communications.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13535 Update leadership.md
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13522 typo for critical bug definition
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#13216 case type for titles
  handbook/marketing/README.md
Labels: #handbook, #g-ceo

#13520 Add "Why not use superlatives" section to Why this way
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#13539 Handbook: Offsites & travel
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13355 Add "Why use short and simple issue templates?" section
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#13362 Add new features to fleetdm.com/pricing
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#13541 Automation: Bust out individual maintainership for issue templates o…
  website/config/custom.js
Labels: #g-ceo

#13464 Adding Windows MDM Opening
  handbook/company/README.md
  handbook/company/software-engineer-windows.md
Labels: #handbook, #g-ceo

#13482 Update README.md
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13540 Fix broken link in "Why not use superlatives"
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#13542 Handbook: Schedule CEO interview
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13499 Hiring steps
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13548 Fix typo in role description
  handbook/company/software-engineer.md
Labels: #handbook, #g-ceo

#13557 Handbook: Reflect change in drafting step terminology
  handbook/company/product-groups.md
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13559 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#13580 Fixing link to make sense
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13588 Removed "AttC" to prioritize readability
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13544 Update formatting for consistency on bullet points
  handbook/company/business-operations-engineer.md
Labels: #handbook, #g-ceo

#13549 Update story issue template
  .github/ISSUE_TEMPLATE/story.md
Labels: #g-ceo

#13565 Handbook: Why spend less?
  handbook/company/README.md
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#13579 Drew bakerfdm patch 2
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13589 CEO requests to be added to a call
  handbook/ceo.md
Labels: #handbook, #g-ceo

#13575 Handbook: /handbook/marketing
  handbook/marketing/README.md
  handbook/marketing/article-formatting-guide.md
  handbook/marketing/how-to-submit-and-publish-an-article.md
  handbook/marketing/marketing.rituals.yml
Labels: #handbook, #g-ceo

#13558 Handbook: Add note about pausing drafting & begin documenting product group capacity
  handbook/company/product-groups.md
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13591 Handbook: defs
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#13599 Handbook: Document fleetd capitalization
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#13598 Handbook: Update link to be more specific
  handbook/product/README.md
Labels: #handbook, #g-ceo

#13556 Handbook: Add content about how to address potential blockers when implementing a user story
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#13614 Handbook: Marketing
  handbook/marketing/README.md
Labels: #handbook, #g-ceo

#13608 Added link to KPI spreadsheet and KPI change control
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#13493 Updating names in template for contractor hours
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#13633 Handbook type fix community to Free
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#13641 adding Grant to list of humans
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo
