Repository fleetdm/fleet, pull requests merged in 2023-10, with the labels that each got.

#14195 fleetdm.com/transparency
  website/views/pages/transparency.ejs
Labels: #g-ceo

#14224 Update README.md
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#14250 2023-10-03 Handbook: add link to feature fest board
  handbook/product/README.md
Labels: #handbook, #g-ceo

#14192 fleetdm.com/pricing: clarify scripts are cross-platform
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14266 Website fix article styles
  handbook/company/ceo.rituals.yml
  website/assets/styles/pages/articles/basic-article.less
  website/views/pages/articles/basic-article.ejs
Labels: #g-ceo

#14277 Update pre-sprint prioritization ritual to include notifying CS team
  handbook/product/README.md
Labels: #handbook, #g-ceo

#14306 Update ceo.md
  handbook/ceo.md
Labels: #handbook, #g-ceo

#14128 Website: Add integrations page
  website/api/controllers/view-integrations.js
  website/assets/images/icon-idp-22x28@2x.png
  website/assets/images/icon-rest-api-35x28@2x.png
  website/assets/images/icon-webhooks-30x28@2x.png
  website/assets/images/logo-active-directory-169x28@2x.png
  website/assets/images/logo-ansible-147x28@2x.png
  website/assets/images/logo-aws-46x28@2x.png
  website/assets/images/logo-azure-169x28@2x.png
  website/assets/images/logo-chef-169x28@2x.png
  website/assets/images/logo-elastic-82x28@2x.png
  website/assets/images/logo-github-89x28@2x.png
  website/assets/images/logo-gitlab-124x28@2x.png
  website/assets/images/logo-google-chronicle-128x28@2x.png
  website/assets/images/logo-google-cloud-174x28@2x.png
  website/assets/images/logo-jira-185x28@2x.png
  website/assets/images/logo-munki-101x28@2x.png
  website/assets/images/logo-okta-85x28@2x.png
  website/assets/images/logo-puppet-79x28@2x.png
  website/assets/images/logo-snowflake-color-117x28@2x.png
  website/assets/images/logo-splunk-95x28@2x.png
  website/assets/images/logo-tines-90x28@2x.png
  website/assets/js/pages/integrations.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/integrations.less
  website/config/policies.js
  website/config/routes.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/integrations.ejs
Labels: #g-ceo

#14247 Drew bakerfdm event preparation
  handbook/marketing/README.md
  handbook/marketing/marketing.rituals.yml
Labels: #handbook, #g-ceo

#14285 Update scaling-fleet.md
  handbook/engineering/scaling-fleet.md
Labels: #handbook, #g-ceo

#14332 Fix broken link
  handbook/engineering/Load-testing.md
Labels: #handbook, #g-ceo

#14330 update tools we use table
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#14245 2023-10-05 Social community keywords
  handbook/marketing/README.md
  handbook/marketing/marketing.rituals.yml
Labels: #handbook, #g-ceo

#14348 Website: Update receive-from-stripe webhook to handle failed payments when creating a subscription.
  website/api/controllers/webhooks/receive-from-stripe.js
Labels: #g-ceo

#14367 Website: Update quotes on platform pages, add quote to open position pages.
  website/assets/images/logo-deloitte-166x36@2x.png
  website/assets/js/components/scrollable-tweets.component.js
  website/assets/styles/pages/handbook/basic-handbook.less
  website/scripts/build-static-content.js
Labels: #g-ceo

#14270 2023-10-05 Handbook/product#settled
  handbook/product/README.md
Labels: #handbook, #g-ceo

#14235 2023-10-05 Handbook: add process for inter-team assistance on bugs
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#14370 Website: Add two events to stripe webhook, add comments about when events are sent.
  website/api/controllers/webhooks/receive-from-stripe.js
Labels: #g-ceo

#14372 Website: Update build-static-content.js to enable new feature format in yml
  handbook/company/pricing-features-table.yml
  website/scripts/build-static-content.js
Labels: #g-ceo

#14373 Fix copy/paste mistake
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14374 Update ceo.md
  handbook/ceo.md
Labels: #handbook, #g-ceo

#14211 Cx pm listing 2023
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#14400 Adding Victor to CX product group
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#14369 Handbook: Engineering (update to new structure)
  handbook/engineering/README.md
  handbook/engineering/engineering.rituals.yml
Labels: #handbook, #g-ceo

#14421 Typo fix
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#14423 final maintenance merge of `main`
  docs/REST API/rest-api.md
  docs/Using Fleet/Fleet-UI.md
  handbook/company/product-groups.md
  handbook/engineering/README.md
  handbook/engineering/engineering.rituals.yml
  schema/tables/chrome_extensions.yml
  schema/tables/system_info.yml
  website/assets/images/homepage-hero-background-1921x555@2x.png
  website/assets/images/homepage-hero-background-3840x500@2x.png
  website/assets/styles/pages/homepage.less
Labels: #g-ceo

#14263 Update Deploy-Fleet-on-CentOS.md
  docs/Deploy/Deploy-Fleet-on-CentOS.md
Labels: #g-ceo

#14407 Features YAML: Update scripts
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14470 Offboarding » Mo
  website/api/controllers/webhooks/receive-from-github.js
  website/config/custom.js
Labels: #g-ceo

#14472 Update ceo.md
  handbook/ceo.md
Labels: #handbook, #g-ceo

#14486 Handbook: Leadership: Call references before editing "Fleeties"
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#14473 Update open-positions to remove BizOps Engineer
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#14457 Update oncall engineer expectations
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#14482 Handbook: update experimentation and landing pages section.
  handbook/company/communications.md
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#14491 Update open-positions to remove product manager
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#14518 Update humans list in receive-from-github.js
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#14483 Docs: Make Mike CODEOWNER of the docs
  CODEOWNERS
  website/config/custom.js
Labels: #g-ceo

#14513 Handbook/leadership
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#14521 Handbook/leadership: Removed step in hiring adding GitHub username to Fleeties
  handbook/company/leadership.md
Labels: #handbook, #g-ceo

#14548 Added getvictor to list of humans
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#14557 Bring file current with Fleeties
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#14532 Update sprint demos description
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#14558 CODEOWNERS: docs
  CODEOWNERS
  website/config/custom.js
Labels: #g-ceo

#14559 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14560 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14561 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14562 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14563 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14564 features.yml: Various improvements, one potential change
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14581 Remove infrastructure engineer role
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#14583 Update product groups membership
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#14552 Fix typo on MDM-Windows-setup.md
  docs/Using Fleet/MDM-Windows-setup.md
Labels: #g-ceo

#14567 Configuration reference docs: WSTEP cert/key
  docs/Configuration/fleet-server-configuration.md
Labels: #g-ceo

#14501 2023-10-13 Add Certificate renewal steps to engineering handbook
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#14585 Update to "Can you host Fleet for me?" in FAQ.md
  docs/Get started/FAQ.md
Labels: #g-ceo

#14511 Add engineering specific Hiring process that was previously undocumented.
  handbook/company/leadership.md
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#14576 Fixing typo on the proxies page
  docs/Deploy/proxies.md
Labels: #g-ceo

#13484 Docs: API changes for #7766
  docs/Configuration/configuration-files/README.md
  docs/Contributing/API-for-contributors.md
  docs/REST API/rest-api.md
Labels: #g-ceo

#14587 Updated grammar and typos on FAQ.md
  docs/Get started/FAQ.md
Labels: #g-ceo

#14610 Handbook: 🦢
  handbook/product/README.md
Labels: #handbook, #g-ceo

#14592 Handbook: product groups: caps
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#14593 docs/MDM-Windows-setup: fixup environment variable
  docs/Using Fleet/MDM-Windows-setup.md
Labels: #g-ceo

#14259 POST windows command enqueue
  changes/issue-13595-add-run-mdm-command-endpoint
  changes/issue-13904-create-windows-mdm-command-tables
  docs/REST API/rest-api.md
  server/authz/policy.rego
  server/authz/policy_test.go
  server/datastore/mysql/hosts.go
  server/datastore/mysql/microsoft_mdm.go
  server/datastore/mysql/microsoft_mdm_test.go
  server/datastore/mysql/migrations/tables/20230926082152_AddWindowsMDMTables.go
  server/fleet/apple_mdm.go
  server/fleet/datastore.go
  server/fleet/errors.go
  server/fleet/mdm.go
  server/fleet/microsoft_mdm.go
  server/fleet/service.go
  server/mock/datastore_mock.go
  server/service/apple_mdm.go
  server/service/apple_mdm_test.go
  server/service/handler.go
  server/service/integration_mdm_test.go
  server/service/mdm.go
  server/service/mdm_test.go
  server/service/middleware/mdmconfigured/mdmconfigured.go
  server/service/testing_utils.go
Labels: #g-ceo

#14632 Fix broken link in customers handbook
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#14629 Update engineering rituals
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#14637 Generate metrics for released and unreleased bugs
  website/scripts/get-bug-and-pr-report.js
Labels: #g-ceo

#14619 Update vendor-questionnaires.md
  handbook/business-operations/vendor-questionnaires.md
Labels: #handbook, #g-ceo

#14650 Fix not found link in the handbook
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#14271 add line about offline
  docs/Deploy/Upgrading-Fleet.md
Labels: #g-ceo

#14656 document flags required for fleetd error reporting
  docs/Contributing/API-for-contributors.md
  docs/Contributing/Configuration-for-contributors.md
Labels: #g-ceo

#14683 Reframe note about scheduled queries not returning errors
  docs/REST API/rest-api.md
Labels: #g-ceo

#14684 Handbook/ open-positions.yml:Remove CSM position
  handbook/company/open-positions.yml
Labels: #handbook, #g-ceo

#14686 Handbook/Marketing » Demand
  handbook/demand/README.md
  handbook/demand/demand.rituals.yml
  website/config/routes.js
Labels: #g-ceo

#14655 Handbook/customers Delete old content
  handbook/customers/README.md
  handbook/product/README.md
Labels: #handbook, #g-ceo

#14688 features.yml: Add waysToUse based on Atlassian talk
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14689 Add references: Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14702 Handbook: Clarify mdmctl
  handbook/engineering/README.md
Labels: #handbook, #g-ceo

#14690 Update product DRIs and rituals
  .github/ISSUE_TEMPLATE/smoke-tests.md
  handbook/engineering/README.md
  handbook/product/README.md
Labels: #g-ceo

#14705 add 3kindsoffish to list of humans
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#14704 Update product design handbook
  handbook/product/README.md
Labels: #handbook, #g-ceo

#14679 Remove to be scheduled column from bugs board
  handbook/product/README.md
Labels: #handbook, #g-ceo

#14693 Remove g-infra product group
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#14566 Windows MDM article
  articles/windows-mdm-setup.md
  docs/Using Fleet/MDM-Windows-setup.md
  website/assets/images/articles/windows-mdm-fleet-1600x900@2x.png
  website/assets/styles/pages/articles/basic-article.less
Labels: #g-ceo

#14703 Handbook/bizops#contactus
  handbook/business-operations/README.md
Labels: #handbook, #g-ceo

#14720 Update Product handbook: Remove "Bug review" ritual
  handbook/product/README.md
Labels: #handbook, #g-ceo

#14737 FIx broken "Contract review" link
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#14741 Handbook/sales#submit a contract for legal review
  handbook/customers/README.md
Labels: #handbook, #g-ceo

#14746 Update handbook index to only show pages in the /handbook/company/ folder
  handbook/company/README.md
  handbook/customers/README.md
  website/assets/js/pages/handbook/basic-handbook.page.js
  website/config/routes.js
  website/scripts/build-static-content.js
Labels: #g-ceo

#14747 Handbook/sales#submit-a-customer-contract-for-legal-review
  handbook/sales/README.md
Labels: #handbook, #g-ceo

#14759 Fix Sales link
  handbook/company/README.md
Labels: #handbook, #g-ceo

#14612 Vulnerability processing should ignore software without version
  changes/13615-ignore-software-without-version
  docs/Using Fleet/Vulnerability-Processing.md
  server/vulnerabilities/nvd/cpe.go
  server/vulnerabilities/nvd/cpe_test.go
Labels: #g-ceo

#14436 2023-10-17 Update osquery schema version & regenerate merged schema
  schema/osquery_fleet_schema.json
  website/api/helpers/get-extended-osquery-schema.js
  website/config/custom.js
Labels: #g-ceo

#14727 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14718 Handbook: Update why-this-way.md
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#14777 Handbook: Demand: Run an ad
  handbook/demand/README.md
Labels: #handbook, #g-ceo

#14215 Update default TUF root keys
  orbit/pkg/update/update.go
Labels: #agent, ~generated agent installers

#14699 Community advocate rituals
  handbook/demand/README.md
  handbook/demand/demand.rituals.yml
Labels: #handbook, #g-ceo

#14788 Handbook: Update why-this-way.md
  handbook/company/why-this-way.md
Labels: #handbook, #g-ceo

#14789 Handbook: Update product-groups.md
  handbook/company/README.md
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#14687 handbook/communications: equipment
  handbook/business-operations/README.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo

#14786 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14787 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14794 Update product handbook
  handbook/product/README.md
Labels: #handbook, #g-ceo

#14793 REST API docs
  docs/REST API/rest-api.md
Labels: #g-ceo

#14803 Docs: Change order of query API endpoints
  docs/REST API/rest-api.md
Labels: #g-ceo

#14810 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14790 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook, #g-ceo

#14813 FAQ update
  docs/Get started/FAQ.md
  website/views/pages/pricing.ejs
Labels: #g-ceo

#14816 Handbook: Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook, #g-ceo

#14817 Handbook: Company
  handbook/company/README.md
Labels: #handbook, #g-ceo

#14818 Docs: Update FAQ.md
  docs/Get started/FAQ.md
Labels: #g-ceo

#14413 Generate targets for osquery 5.10.1
  .github/workflows/generate-osqueryd-targets.yml
Labels: #agent, #osquery core

#14829 Handbook/CEO#weekly-update
  handbook/ceo.md
Labels: #handbook, #g-ceo

#14840 Handbook: Update communications.md
  handbook/company/communications.md
Labels: #handbook, #g-ceo
