Repository fleetdm/fleet, pull requests merged in 2024-05, with the labels that each got.

#18664 Handbook: Expand handbooking and other steps for edge case responsibi…
  handbook/business-operations/README.md
Labels: #handbook

#18666 Update digital-experience.rituals.yml
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#18642 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook

#18671 Update equipment processing steps
  handbook/digital-experience/README.md
Labels: #handbook

#18696 Handbook: Add link to personality-specific feedback-giving advice
  handbook/company/communications.md
Labels: #handbook

#18698 Handbook: ACTUALLY fix broken link
  handbook/company/README.md
Labels: #handbook

#18699 handbook: shoutout
  handbook/company/README.md
Labels: #handbook

#18704 Handbook: Update leadership.md
  handbook/company/leadership.md
Labels: #handbook

#18723 README.md: Cloud city v4
  README.md
Labels: ~ceo

#18683 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#18524 Handbook: Transition IT to engineering
  handbook/business-operations/README.md
  handbook/business-operations/business-operations.rituals.yml
  handbook/company/README.md
  handbook/demand/README.md
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
  handbook/engineering/README.md
  handbook/engineering/engineering.rituals.yml
Labels: #handbook

#18727 Make "create an issue" link public
  handbook/digital-experience/README.md
Labels: #handbook

#18728 Update README.md
  handbook/digital-experience/README.md
Labels: #handbook

#18746 Add fleetdm.com shortlinks for RSA event
  website/config/routes.js
Labels: ~website

#18743 Move Yubikey orders to Engineering handbook
  handbook/engineering/README.md
Labels: #handbook

#18735 Add requesting IT support to handbook
  handbook/company/communications.md
Labels: #handbook

#18758 Update digital-experience.rituals.yml
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#18786 Update testimonials.yml: Add second Nico quote
  handbook/company/testimonials.yml
Labels: #handbook

#18820 Eng handbook: Update link and language
  handbook/engineering/README.md
Labels: #handbook

#18850 fleet on render
  infrastructure/render/README.md
  render.yaml
Labels: ~csa

#18911 fix formatting on digital experience page
  handbook/digital-experience/README.md
Labels: #handbook

#18916 Handbook/Communications Update note
  handbook/company/communications.md
Labels: #handbook

#18919 Vulnerability dashboard: Update update-reports script.
  ee/vulnerability-dashboard/scripts/update-reports.js
Labels: ~ceo

#18974 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#18975 Update leadership.md
  handbook/company/leadership.md
Labels: #handbook

#18978 Update leadership.md
  handbook/company/communications.md
  handbook/company/leadership.md
Labels: #handbook

#18980 Update why-this-way.md
  handbook/company/why-this-way.md
Labels: #handbook

#18635 Add payment reminder steps to weekly ritual process
  handbook/business-operations/README.md
Labels: #handbook

#19019 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#18984 Customer codenames live in fleetdm/confidential
  handbook/customer-success/README.md
  handbook/sales/README.md
Labels: #handbook, ~csa

#18951 Change DRI
  handbook/business-operations/README.md
Labels: #handbook

#18877 Updating documentation DRIs
  handbook/company/communications.md
Labels: #handbook

#19032 Add Dale to customer success page
  handbook/customer-success/README.md
Labels: #handbook

#19084 Move IT warehouse to Engineering
  handbook/digital-experience/README.md
  handbook/engineering/README.md
Labels: #handbook

#19109 Document RTO/RPO in handbook
  handbook/business-operations/security-policies.md
Labels: #handbook

#19113 Fix handbook typo
  handbook/business-operations/security-policies.md
Labels: #handbook

#18935 Update business-operations.rituals.yml for accuracy and consistency
  handbook/business-operations/business-operations.rituals.yml
Labels: #handbook

#19076 Updated handbook/company/why-this-way#why-read-documentation
  handbook/company/why-this-way.md
Labels: #handbook

#19134 Add engineer position
  handbook/company/open-positions.yml
Labels: #handbook

#18922 Documenting 2023 pen test remediations
  handbook/business-operations/security-audits.md
Labels: #handbook

#19160 Clarify high priority tickets
  handbook/company/product-groups.md
Labels: #handbook

#18936 Update commission payroll steps and add bonus payroll
  handbook/business-operations/README.md
Labels: #handbook

#19141 Added two bullet points for "Processing the CEO's Calendar"
  handbook/digital-experience/README.md
Labels: #handbook

#19115 Add vacation best practices
  handbook/sales/README.md
Labels: #handbook

#18669 How to review an NDA
  handbook/business-operations/README.md
Labels: #handbook

#19155 Handbook/digital-experience Add process the help-being-ceo Slack channel
  handbook/digital-experience/README.md
Labels: #handbook

#19121 06-31 date changed to 06-30
  handbook/company/pricing-features-table.yml
Labels: #handbook

#19266 Update README.md
  handbook/digital-experience/README.md
Labels: #handbook

#19279 features.yml: Software management features
  handbook/company/pricing-features-table.yml
Labels: #handbook

#19231 Correct BizOps page formatting and numbers
  handbook/business-operations/README.md
Labels: #handbook

#19270 Update Demand handbook page
  handbook/demand/README.md
Labels: #handbook

#19227 Add steps for running international commission payroll to bizops page
  handbook/business-operations/README.md
Labels: #handbook

#19273 Update communications with demand references
  handbook/company/communications.md
Labels: #handbook

#19298 Update DRI in Digital Exp rituals
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#19299 Handbook/digital-experience: add obtain a signature from the CEO
  handbook/digital-experience/README.md
Labels: #handbook

#19085 Fleet UI: Add reminder banners for ABM and APNs expirations
  frontend/components/App/App.tsx
  frontend/components/MDM/AppleBMRenewalMessage/AppleBMRenewalMessage.tsx
  frontend/components/MDM/AppleBMRenewalMessage/_styles.scss
  frontend/components/MDM/AppleBMRenewalMessage/index.ts
  frontend/components/MDM/ApplePNCertRenewalMessage/ApplePNCertRenewalMessage.tsx
  frontend/components/MDM/ApplePNCertRenewalMessage/_styles.scss
  frontend/components/MDM/ApplePNCertRenewalMessage/index.ts
  frontend/components/MainContent/MainContent.tsx
  frontend/context/app.tsx
  frontend/pages/hosts/details/HostDetailsPage/components/HostDetailsBanners/HostDetailsBanners.tsx
  frontend/services/entities/mdm_apple.ts
  frontend/utilities/endpoints.ts
  frontend/utilities/helpers.tsx
Labels: ~assisting g-mdm

#19071 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#19418 Handbook: "APNs" has weird capitalization
  handbook/company/communications.md
Labels: #handbook

#19423 UI - add help text to activity feed automations modal
  frontend/pages/DashboardPage/components/ActivityFeedAutomationsModal/ActivityFeedAutomationsModal.tsx
Labels: ~unreleased bug
