Repository fleetdm/fleet, pull requests merged in 2024-12, with the labels that each got.

#24276 Update responsibility
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#24323 chore: fix typo
  handbook/company/README.md
  handbook/finance/README.md
Labels: #handbook

#24316 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook

#24303 Docs for /fleet/abm_tokens/count API endpoint
  docs/Contributing/API-for-contributors.md
Labels: :improve documentation

#24086 Formatting and organizational updates to the drafting section.
  handbook/product-design/README.md
Labels: #handbook

#24435 Fix broken links
  handbook/company/communications.md
Labels: #handbook

#24015 Add documentation for authenticated deployment of YARA rules
  articles/remote-yara-rules.md
  docs/Configuration/yaml-files.md
Labels: :improve documentation

#24049 Updated docs around new label(s) validation
  cmd/fleetctl/query.go
  docs/Contributing/API-for-contributors.md
Labels: :improve documentation

#24466 Update :improve design system label & truncate paragraph
  handbook/product-design/README.md
Labels: #handbook

#24458 Update README.md (fix typos)
  handbook/company/README.md
Labels: #handbook

#24513 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#23993 Update testimonials.yml
  handbook/company/testimonials.yml
Labels: #handbook

#24296 Update sales.rituals.yml
  handbook/sales/README.md
  handbook/sales/sales.rituals.yml
Labels: #handbook

#24722 Add flaky test guide to handbook
  handbook/engineering/README.md
Labels: #handbook

#24770 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#23309 Add Mastodon link to server email templates
  changes/23309-mastodon-in-email-templates
  server/mail/templates/change_email_confirmation.html
  server/mail/templates/invite_token.html
  server/mail/templates/mfa.html
  server/mail/templates/password_reset.html
  server/mail/templates/smtp_setup.html
  website/assets/images/permanent/mastodon-logo-50x40@2x.png
Labels: :release, #g-endpoint-ops

#24834 update steps to send an order form
  handbook/sales/README.md
Labels: #handbook

#24840 Update README.md
  handbook/digital-experience/README.md
Labels: #handbook

#24796 Guidelines for API design PRs
  handbook/product-design/README.md
Labels: #handbook

#24847 Handbook: make sure changes outside of product groups are QA'd
  handbook/company/product-groups.md
Labels: #handbook

#24785 [Activity changes] Scope App Store apps via labels
  docs/Contributing/Audit-logs.md
Labels: ~api-or-yaml-design

#24786 [Activity changes] Scope Fleet-maintained apps and custom packages via labels
  docs/Contributing/Audit-logs.md
Labels: ~api-or-yaml-design

#24930 Update engineering handbook
  handbook/digital-experience/README.md
  handbook/engineering/README.md
Labels: #handbook

#24800 Update product group struture and capacity
  handbook/company/product-groups.md
  handbook/engineering/README.md
  handbook/product-design/README.md
Labels: #handbook
