Repository fleetdm/fleet, pull requests merged in 2024-08, with the labels that each got.

#20925 Banner update
  tools/fleetctl-npm/README.md
Labels: ~ceo

#20857 Change freeze process to release candidate process
  handbook/engineering/README.md
  handbook/engineering/engineering.rituals.yml
Labels: #handbook

#20960 Luke is DRI for 🦢🍎 Apple MDM maturity review
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#20962 Update 🎁🗣 Feature Fest
  handbook/company/product-groups.md
Labels: #handbook

#20825 Fix typo in pricing-features-table.yml key
  handbook/company/pricing-features-table.yml
Labels: #handbook

#21000 Update README.md
  README.md
Labels: ~ceo

#20930 Add brand fronts ritual
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#20899 Remove sprint filters from handbook
  handbook/digital-experience/README.md
  handbook/product-design/README.md
Labels: #handbook

#21112 Update digital-experience.rituals.yml
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#21037 Fix stray "is" on out-of-policy device glossary entry
  handbook/company/communications.md
Labels: #handbook

#21035 Follow time zone abbreviation convention in Communications article
  handbook/company/communications.md
Labels: #handbook

#21034 Fix line break Markdown in hyphenated time list heading
  handbook/company/communications.md
Labels: #handbook

#21033 Fix line break Markdown in commas-and-numbers list heading
  handbook/company/communications.md
Labels: #handbook

#21020 Update handbook/digital-experience/schedule-ceo-interview
  handbook/digital-experience/README.md
Labels: #handbook

#21113 Fix grammar on engineering rituals
  handbook/engineering/engineering.rituals.yml
Labels: #handbook

#21114 Fix tpyo in Digital Experience host count update instructions
  handbook/digital-experience/README.md
Labels: #handbook

#21123 Fix "who's" to "whose" in Business Operations "change a Fleetie's manager" instructions
  handbook/business-operations/README.md
Labels: #handbook

#21122 Fix misspelling on contributor swag offer in Demand handbook entry
  handbook/demand/README.md
Labels: #handbook

#21121 Fix stray words in press release scheduling instructions
  handbook/digital-experience/README.md
Labels: #handbook

#21102 Add documentation for experimental feature process
  handbook/company/product-groups.md
Labels: #handbook

#21111 Product groups handbook: Air guitar
  handbook/company/product-groups.md
Labels: #handbook

#21166 Comment out generate a new landing page
  handbook/digital-experience/README.md
Labels: #handbook

#21138 Update Activation Lock information
  docs/Using Fleet/MDM-migration-guide.md
Labels: :improve documentation

#21168 Handbook: Better links to OKRs in product groups
  handbook/company/product-groups.md
Labels: #handbook

#21170 Link-ify estimated story points in product group table footnote
  handbook/company/product-groups.md
Labels: #handbook

#21197 Remove outdated content from security.md
  handbook/business-operations/security.md
Labels: #handbook

#20906 Process for creating a 30-60-90 day plan
  handbook/company/leadership.md
Labels: #handbook

#21205 remove SC open position
  handbook/company/open-positions.yml
Labels: #handbook

#21203 Add documentation guide for seamless MDM migration
  articles/seamless-mdm-migration.md
  website/assets/images/articles/seamless-mdm-migration-1600x900@2x.png
Labels: :improve documentation, #g-mdm

#21199 Update story points language
  handbook/company/communications.md
Labels: #handbook

#21275 Update communications.md T.V.
  handbook/company/communications.md
Labels: #handbook

#21171 Add context for story point ranges
  handbook/company/communications.md
Labels: #handbook

#21172 Handbook: guidelines for consistent headings and titles
  handbook/company/communications.md
Labels: #handbook

#21293 Handbook: update ordered lists markdown formatting handbook section.
  handbook/company/communications.md
Labels: #handbook

#21262 Handbook: Add step for updating financial model when approving new po…
  handbook/company/leadership.md
Labels: #handbook

#21302 Handbook: Add heading formatting convention to communications
  handbook/company/communications.md
Labels: #handbook

#21243 Added "Sources" section to vulnerability processing page.
  docs/Using Fleet/Vulnerability-Processing.md
Labels: :improve documentation

#21332 Handbook: leadership»CEO shadow program
  handbook/company/leadership.md
Labels: #handbook

#20860 addition of CSM health check directions
  handbook/customer-success/README.md
Labels: #handbook

#21207 Update README.md
  handbook/company/communications.md
  handbook/demand/README.md
Labels: #handbook

#21383 Add prepare for CEO shadow to leadership
  handbook/company/communications.md
  handbook/company/leadership.md
Labels: #handbook

#21407 Update personnel change to CSE role
  handbook/customer-success/README.md
Labels: #handbook

#21380 Update leadership.md/#schedule-ceo-interview
  handbook/company/leadership.md
  handbook/digital-experience/README.md
Labels: #handbook

#21346 Added endpoints for downloading software package.
  docs/Contributing/API-for-contributors.md
Labels: :improve documentation

#21479 DRI for offsites
  handbook/company/communications.md
Labels: #handbook

#21289 Update features.yml: features are shipped !
  handbook/company/pricing-features-table.yml
Labels: #handbook

#21541 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#21598 Update roadmap link
  handbook/company/product-groups.md
Labels: #handbook

#21556 Add Randy Hill to EndpointOps product group
  handbook/company/product-groups.md
Labels: #handbook

#21512 Add Allen and Harrison to sales handbook page.
  handbook/sales/README.md
Labels: #handbook

#21495 Update the informed managers about hours worked process
  handbook/business-operations/README.md
Labels: #handbook

#21494 Update process to change a teammate's comp.
  handbook/business-operations/README.md
Labels: #handbook

#21361 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#21669 Remove product maturity ritual
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#21679 Correct spacing on product design page
  handbook/product-design/README.md
Labels: #handbook

#21682 Fix spacing on product-groups page
  handbook/company/product-groups.md
Labels: #handbook

#21726 Add "Complete Digital Experience KPIs" to digital-experience.rituals.yml
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook
