Repository fleetdm/fleet, pull requests merged in 2024-02, with the labels that each got.

#15922 Adding compensation change responsibility to BizOps page
  handbook/business-operations/README.md
  handbook/company/communications.md
Labels: #g-ceo, #handbook

#16477 Add "The numbers" to rituals in BizOps page
  handbook/business-operations/README.md
Labels: #g-ceo, #handbook

#16456 Fix CIS documentation link
  README.md
Labels: #g-ceo

#16485 Website: Add three videos to testimonials configuration
  handbook/company/testimonials.yml
Labels: #g-ceo, #handbook

#16526 Update leadership.md
  handbook/company/leadership.md
Labels: #g-ceo, #handbook

#16527 Update product-groups.md
  handbook/company/product-groups.md
Labels: #g-ceo, #handbook

#16528 Update product-groups.md
  handbook/company/product-groups.md
Labels: #g-ceo, #handbook

#16459 Updated enroll-hosts.md for MSI generation on macOS.
  docs/Using Fleet/enroll-hosts.md
Labels: :improve documentation

#16550 Update engineering handbook README.md with deep freeze
  handbook/engineering/README.md
Labels: #g-ceo, #handbook

#16572 Website: Update usage analytics sent to Datadog
  website/api/controllers/webhooks/receive-usage-analytics.js
  website/scripts/send-aggregated-metrics-to-datadog.js
Labels: #g-ceo

#16583 Website: fix incorrect conditional statement in Datadog script
  website/scripts/send-aggregated-metrics-to-datadog.js
Labels: #g-ceo

#16578 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #g-ceo, #handbook

#16568 Demand update
  handbook/demand/README.md
Labels: #g-ceo, #handbook

#16513 Pricing page: Add "Variable agent versions"
  handbook/company/pricing-features-table.yml
Labels: #g-ceo, #handbook

#16587 Handbook: Event strategy
  handbook/demand/README.md
  handbook/demand/demand.rituals.yml
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#16599 Add product label to new issue URL
  handbook/product/README.md
Labels: #g-ceo, #handbook

#16597 Update osquery schema version, regenerate merged schema JSON
  schema/osquery_fleet_schema.json
  schema/tables/atom_packages.yml
  website/config/custom.js
Labels: #g-ceo

#16607 Clarify exception process for release freeze
  handbook/engineering/README.md
Labels: #g-ceo, #handbook

#16358 Handbook update: quarterly finance checks
  handbook/business-operations/README.md
Labels: #g-ceo, #handbook

#16525 Updating the "updating personnel details section"
  handbook/business-operations/README.md
Labels: #g-ceo, #handbook

#16629 Update custom.js DRI for secret handbook
  website/config/custom.js
Labels: #g-ceo

#16632 Update receive-from-github.js list
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#16623 Update README.md
  handbook/sales/README.md
Labels: #g-ceo, #handbook

#16398 Docs: Windows custom OS settings (profiles)
  docs/Using Fleet/MDM-custom-OS-settings.md
  docs/Using Fleet/MDM-custom-macOS-settings.md
  docs/Using Fleet/MDM-disk-encryption.md
  docs/Using Fleet/MDM-migration-guide.md
  frontend/pages/ManageControlsPage/OSSettings/cards/CustomSettings/CustomSettings.tsx
  handbook/company/pricing-features-table.yml
  website/config/routes.js
Labels: #g-ceo

#16647 Update README.md
  handbook/demand/README.md
Labels: #g-ceo, #handbook

#16652 Add strategic DRIs to communications handbook
  handbook/company/communications.md
Labels: #g-ceo, #handbook

#16656 Add engineering-initiated stories back to handbook
  handbook/company/product-groups.md
Labels: #g-ceo, #handbook

#16685 Rename README.md to README.md
  handbook/product-design/README.md
Labels: #g-ceo, #handbook

#16711 Handbook: Fix broken links
  handbook/business-operations/security.md
  handbook/company/README.md
  handbook/company/communications.md
  handbook/company/product-groups.md
Labels: #g-ceo, #handbook

#16557 Website: Update build-script to allow for no open positions, add empty state to open positions component.
  handbook/company/README.md
  handbook/company/open-positions.yml
  website/assets/js/components/open-positions.component.js
  website/scripts/build-static-content.js
Labels: #g-ceo

#16707 Update expedited drafting process
  handbook/product-design/README.md
Labels: #g-ceo, #handbook

#16730 Org changes and rituals.yml
  handbook/business-operations/README.md
  handbook/business-operations/business-operations.rituals.yml
  handbook/customer-success/README.md
  handbook/customer-success/customer-success.rituals.yml
  handbook/demand/README.md
  handbook/demand/demand.rituals.yml
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
  handbook/sales/README.md
Labels: #g-ceo, #handbook

#16679 Add the 4A feedback pattern to communications handbook
  handbook/company/communications.md
Labels: #g-ceo, #handbook

#16731 Add Taylor Hughes to receive-from-github.js
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#16754 Adding Head of BizOps to any created hiring channels
  handbook/company/leadership.md
Labels: #g-ceo, #handbook

#16689 Website: add testimonial
  handbook/company/testimonials.yml
  website/api/controllers/view-device-management.js
  website/api/controllers/view-endpoint-ops.js
  website/api/controllers/view-vulnerability-management.js
  website/assets/images/testimonial-author-chandra-majumdar-48x48@2x.png
Labels: #g-ceo

#16714 Clarify Fleet Premium for self-hosted extension updates.
  docs/Configuration/agent-configuration.md
Labels: :improve documentation

#16755 Add new responsibilities to engineering handbook
  handbook/engineering/README.md
  handbook/engineering/engineering.rituals.yml
Labels: #g-ceo, #handbook

#16732 Add redirect for product to product-design
  handbook/product-design/README.md
  handbook/product-design/product-design.rituals.yml
Labels: #g-ceo, #handbook

#16799 Fix broken link
  .github/ISSUE_TEMPLATE/release-qa.md
  handbook/engineering/README.md
Labels: #g-ceo

#16801 Respond to Contact us
  handbook/demand/README.md
Labels: #g-ceo, #handbook

#16813 Update ad proposal steps.
  handbook/demand/README.md
Labels: #g-ceo, #handbook

#16766 Add specific wording re digital ex dri
  handbook/company/README.md
Labels: #g-ceo, #handbook

#16806 Add asset discovery
  handbook/company/pricing-features-table.yml
Labels: #g-ceo, #handbook

#16774 Add #contact-the-ceo
  handbook/company/leadership.md
Labels: #g-ceo, #handbook

#16804 Update integrations in pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #g-ceo, #handbook

#16850 Restructure "Scaling Fleet" handbook page for ease of reference
  handbook/engineering/scaling-fleet.md
Labels: #g-ceo, #handbook

#16888 Updating best slack practices to include using channels > DMs
  handbook/company/communications.md
Labels: #g-ceo, #handbook

#16270 Docs: Windows OS updates
  docs/Configuration/configuration-files/README.md
  docs/Using Fleet/MDM-OS-updates.md
  docs/Using Fleet/MDM-macOS-updates.md
  frontend/pages/ManageControlsPage/OSUpdates/components/NudgePreview/NudgePreview.tsx
  handbook/company/pricing-features-table.yml
  server/fleet/nudge.go
  website/config/routes.js
Labels: #g-ceo

#16952 Handbook: Update product-groups.md
  handbook/company/product-groups.md
Labels: #g-ceo, #handbook

#16972 Correctly request Mike for review
  CODEOWNERS
  website/api/controllers/webhooks/receive-from-github.js
  website/config/custom.js
  website/scripts/get-bug-and-pr-report.js
Labels: #g-ceo

#16974 Handbook: Update CEO flaws
  handbook/company/leadership.md
Labels: #handbook

#16975 Merge website content to digital experience
  handbook/company/communications.md
  handbook/company/product-groups.md
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
  handbook/engineering/README.md
  handbook/product-design/README.md
Labels: #handbook

#16978 Update communications.md
  handbook/company/communications.md
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
  handbook/engineering/README.md
  handbook/product-design/README.md
Labels: #handbook

#16983 Re-deploy profiles is cross-platform
  handbook/company/pricing-features-table.yml
Labels: #handbook

#16696 Add tool upgrade request and tool downgrade ritual
  handbook/business-operations/README.md
  handbook/business-operations/business-operations.rituals.yml
Labels: #g-ceo, #handbook

#16977 Handbook: CEO flaws: Link to ideas of how to give feedback
  handbook/company/leadership.md
Labels: #handbook

#17041 Website: Update schema folder maintainer in custom configuration
  website/config/custom.js
Labels: ~ceo

#17062 Add customer-success rituals
  handbook/customer-success/README.md
  handbook/customer-success/customer-success.rituals.yml
  handbook/sales/README.md
Labels: #handbook

#17050 Update freeze ritual notes
  handbook/engineering/README.md
Labels: #handbook

#17076 Add apprentice position
  handbook/company/open-positions.yml
Labels: #handbook

#17085 Minor spell check corrections
  handbook/company/open-positions.yml
Labels: #handbook

#17090 Handbook: update rituals
  handbook/business-operations/business-operations.rituals.yml
  handbook/digital-experience/digital-experience.rituals.yml
  handbook/engineering/engineering.rituals.yml
  handbook/sales/README.md
Labels: #handbook

#17132 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#17167 Adding Dante Catalfamo to MDM product group
  handbook/company/product-groups.md
Labels: #handbook

#16739 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #g-ceo, #handbook

#17120 Add "change a Fleetie's manager" responsibility to BizOps Handbook
  handbook/business-operations/README.md
Labels: #handbook

#17103 Add priority rating labels to product groups handbook
  handbook/company/communications.md
  handbook/company/product-groups.md
  handbook/engineering/README.md
Labels: #handbook

#17121 Add "change job title" responsibility to BizOps handbook
  handbook/business-operations/README.md
Labels: #handbook

#17252 Fix broken markdown link
  handbook/company/communications.md
Labels: #handbook

#17253 Fix broken markdown link
  handbook/company/product-groups.md
Labels: #handbook

#17239 Add myself to product groups handbook maintainers
  CODEOWNERS
  website/api/helpers/github-automations/get-is-pr-preapproved.js
  website/config/custom.js
Labels: ~ceo
