Repository fleetdm/fleet, pull requests merged in 2024-10, with the labels that each got.

#22541 Product design handbook: missing reference docs are bugs
  handbook/product-design/README.md
Labels: #handbook

#22561 Update change a fleetie's job title
  handbook/company/leadership.md
  handbook/digital-experience/README.md
Labels: #handbook

#22543 fleetdm.com/pricing: Disk encryption for Linux coming soon
  handbook/company/pricing-features-table.yml
Labels: #handbook

#22626 Update leadership.md
  handbook/company/leadership.md
Labels: #handbook

#22615 Update Design sprint kickoff ritual
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#22601 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#22639 Add Cancel a Fleet Premium subscription
  handbook/digital-experience/README.md
Labels: #handbook

#22668 Update README.md
  handbook/digital-experience/README.md
Labels: #handbook

#22669 Change Dale to CSA
  handbook/customer-success/README.md
Labels: #handbook

#22667 Product design rituals
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#22655 Fix product design rituals
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#22681 Add marketing apprentice
  handbook/company/open-positions.yml
Labels: #handbook

#22721 Update drive folder for interview feedback
  handbook/company/leadership.md
  handbook/digital-experience/README.md
Labels: #handbook

#22728 Fix workiversary
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#22718 Update sprint kickoff review ritual
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#22776 Fix circular link
  handbook/demand/README.md
Labels: #handbook

#22763 Change mentions of 0-day to same-day
  handbook/engineering/README.md
Labels: #handbook

#22798 Move Victor to MDM group
  handbook/company/product-groups.md
Labels: #handbook

#22804 Adjust product group capacity
  handbook/company/product-groups.md
Labels: #handbook

#22706 Update drafting process: expected timeline
  handbook/company/product-groups.md
Labels: #handbook

#22832 Move weekly-update-finance.md to handbook
  handbook/finance/README.md
Labels: #handbook

#22851 Rename and update "performance feedback"
  handbook/company/communications.md
Labels: #handbook

#22852 Update communicating departures
  handbook/company/leadership.md
Labels: #handbook

#22863 Combine rituals
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#22876 Update Inform managers about hours worked
  handbook/digital-experience/README.md
Labels: #handbook

#22890 Update Respond to a "Contact us" submission
  handbook/digital-experience/README.md
Labels: #handbook

#22868 Add steps to process payroll
  handbook/finance/README.md
Labels: #handbook

#22900 fleetdm.com/pricing: Grant Wi-Fi access (SCEP)
  handbook/company/pricing-features-table.yml
Labels: #handbook

#22903 Note Docker/Docker Compose dependencies in fleetctl
  articles/enroll-hosts.md
  articles/fleetctl.md
  frontend/components/AddHostsModal/PlatformWrapper/PlatformWrapper.tsx
  tools/fleetctl-docker/README.md
  tools/fleetctl-npm/README.md
  website/config/routes.js
Labels: ~ceo

#22986 Updating golangci-lint version (docs)
  docs/Contributing/Testing-and-local-development.md
Labels: :improve documentation

#23001 Make support SLAs visible
  handbook/company/communications.md
Labels: #handbook

#22975 Update demand.rituals.yml
  handbook/demand/demand.rituals.yml
Labels: #handbook

#23032 Handbook: Update communications.md
  handbook/company/communications.md
Labels: #handbook

#23053 Handbook: Update communications.md
  handbook/company/communications.md
Labels: #handbook

#23059 Update results/be-realistic
  handbook/company/README.md
Labels: #handbook

#23019 Add responsibilities to product design
  handbook/company/product-groups.md
  handbook/product-design/README.md
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#23112 Add "Change a contact's organization in Salesforce"
  handbook/sales/README.md
Labels: #handbook

#23153 Fix link
  handbook/company/communications.md
Labels: #handbook

#23177 Fix call out box
  handbook/company/leadership.md
Labels: #handbook

#23205 Update Product design rituals
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#23191 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook

#23156 Handbook: fix `<ticket-number>` template on engineering handbook page.
  handbook/engineering/README.md
Labels: #handbook

#23262 Update README.md
  handbook/customer-success/README.md
  handbook/sales/README.md
Labels: #handbook

#23278 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#23273 Handbook: Add calendly availability check
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#23265 Update security.md
  handbook/digital-experience/security.md
Labels: #handbook

#23187 Update history with 2024 usage stats
  handbook/company/README.md
Labels: #handbook

#23184 New feature prioritization framework
  handbook/company/product-groups.md
Labels: #handbook

#23063 Handbook: Update communications.md
  handbook/company/communications.md
Labels: #handbook

#23324 Update "Change a team members comp"
  handbook/digital-experience/README.md
Labels: #handbook

#23330 Product design rituals: Sprint kickoff review
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#23318 Update Sales handbook
  handbook/sales/README.md
Labels: #handbook

#23378 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#23406 Update product-design.rituals.yml
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#23403 Product Designer position is filled
  handbook/company/open-positions.yml
Labels: #handbook

#23419 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook

#23420 Update testimonials.yml
  handbook/company/testimonials.yml
Labels: #handbook

#23432 Confirm and celebrate ritual occurs triweekly
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#23195 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook
