Repository fleetdm/fleet, pull requests merged in 2024-07, with the labels that each got.

#20145 Update testimonials.yml
  handbook/company/testimonials.yml
Labels: #handbook

#20218 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook

#20165 Update link to office hours event
  handbook/engineering/README.md
Labels: #handbook

#19890 Add "Send an NDA to a customer" section to handbook.
  handbook/sales/README.md
Labels: #handbook

#20256 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#20178 Set workstations to use DDM for macOS updates
  it-and-security/teams/workstations.yml
Labels: :ai

#20241 fix: filter by vulnerable software
  changes/20050-vuln-software
  frontend/pages/SoftwarePage/components/EmptySoftwareTable/EmptySoftwareTable.tsx
  frontend/pages/hosts/details/cards/Software/HostSoftware.tsx
  frontend/pages/hosts/details/cards/Software/HostSoftwareTable/HostSoftwareTable.tsx
  frontend/pages/hosts/details/cards/Software/SelfService/SelfService.tests.tsx
  frontend/pages/hosts/details/cards/Software/_styles.scss
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
  server/fleet/software.go
  server/service/integration_enterprise_test.go
Labels: :ai

#20196 Validate base-fleetd daily
  .github/workflows/verify-fleetd-base.yml
Labels: :ai

#20208 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#20166 Fixes to fleetctl debug connection and TLS certs documentation
  .github/workflows/fleet-and-orbit.yml
  .github/workflows/integration.yml
  articles/certificates-in-fleetd.md
  changes/6085-fleetctl-debug-connection
  cmd/fleetctl/debug.go
  cmd/fleetctl/debug_test.go
  docs/Using Fleet/enroll-hosts.md
  orbit/docs/TUF-Notes.md
  orbit/pkg/packaging/packaging.go
  pkg/certificate/certificate.go
  server/service/base_client.go
Labels: :ai

#20154 Get MDM Command Filters
  changes/19143-mdm-cmd-filters
  cmd/fleetctl/flags.go
  cmd/fleetctl/get.go
  cmd/fleetctl/get_test.go
  server/datastore/mysql/mdm.go
  server/datastore/mysql/mdm_test.go
  server/datastore/mysql/mysql.go
  server/fleet/hosts.go
  server/fleet/mdm.go
  server/service/client_mdm.go
  server/service/mdm.go
Labels: :ai

#20019 Add createdAt to Vulnerability responses
  cmd/fleetctl/get_test.go
  docs/REST API/rest-api.md
  server/datastore/mysql/operating_system_vulnerabilities.go
  server/datastore/mysql/operating_system_vulnerabilities_test.go
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
  server/fleet/vulnerabilities.go
  server/service/integration_core_test.go
Labels: :ai

#20220 `fleetctl`, API, copy updates around host identifiers
  changes/19127-update-logic-and-copy-around-host-identifiers
  cmd/fleetctl/hosts.go
  cmd/fleetctl/mdm.go
  cmd/fleetctl/mdm_test.go
  cmd/fleetctl/query.go
  cmd/fleetctl/query_test.go
  cmd/fleetctl/scripts.go
  cmd/fleetctl/scripts_test.go
  cmd/osquery-perf/agent.go
  frontend/utilities/convert_to_csv/index.ts
  orbit/pkg/augeas/lenses/crypttab.aug
  orbit/pkg/augeas/lenses/gshadow.aug
  orbit/pkg/augeas/lenses/opendkim.aug
  orbit/pkg/table/crowdstrike/falconctl/parser.go
  orbit/pkg/table/mdm/mdm_windows.go
  server/datastore/mysql/hosts.go
  server/datastore/mysql/hosts_test.go
  server/fleet/app.go
  server/fleet/capabilities.go
  server/fleet/datastore.go
  server/fleet/errors.go
  server/fleet/service.go
  server/mock/datastore_mock.go
  server/service/campaigns.go
  server/service/campaigns_test.go
  server/service/client_live_query.go
  server/service/client_live_query_test.go
  server/service/handler.go
  server/service/integration_live_queries_test.go
Labels: :ai

#20259 Handbook: Fix broken link in why-this-way.md
  handbook/company/why-this-way.md
Labels: #handbook

#20118 Custom Vulnerability Matching
  changes/7014-custom-vulnerability-matching
  cmd/fleet/cron.go
  cmd/fleet/serve_test.go
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
  server/fleet/datastore.go
  server/fleet/software.go
  server/fleet/vulnerabilities.go
  server/mock/datastore_mock.go
  server/vulnerabilities/customcve/matching_rules.go
  server/vulnerabilities/customcve/matching_rules_test.go
  server/vulnerabilities/nvd/tools/cvefeed/nvd/match_cpe.go
  server/vulnerabilities/nvd/tools/cvefeed/nvd/smartvercmp.go
  server/vulnerabilities/nvd/tools/cvefeed/nvd/smartvercmp_test.go
  server/vulnerabilities/oval/analyzer.go
Labels: :ai

#20266 Part 1 of 2: Script Timeout Agent Options
  cmd/fleetctl/scripts_test.go
  orbit/pkg/scripts/scripts.go
  orbit/pkg/update/notifications.go
  server/datastore/mysql/migrations/tables/20240709183940_AddTimeoutColumnToScriptResults.go
  server/datastore/mysql/migrations/tables/20240709183940_AddTimeoutColumnToScriptResults_test.go
  server/datastore/mysql/schema.sql
  server/datastore/mysql/scripts.go
  server/datastore/mysql/scripts_test.go
  server/fleet/agent_options.go
  server/fleet/agent_options_test.go
  server/fleet/errors.go
  server/fleet/orbit.go
  server/fleet/scripts.go
  server/service/integration_enterprise_test.go
  server/service/orbit.go
  server/service/scripts.go
Labels: :ai

#20262 Update to customer success handbook - CSM meeting prep
  handbook/customer-success/README.md
Labels: #handbook

#20173 Fix `last_enrolled_at` for macOS devices when re-enrolling to MDM
  CODEOWNERS
  changes/20059-fix-last_enrolled_at
  server/datastore/mysql/apple_mdm.go
  server/datastore/mysql/migrations/tables/20240710155623_FixResetLastEnrolledAt.go
  server/datastore/mysql/migrations/tables/20240710155623_FixResetLastEnrolledAt_test.go
  server/datastore/mysql/schema.sql
  server/service/integration_mdm_test.go
Labels: :ai

#19626 Updated background check entry
  handbook/business-operations/security-policies.md
Labels: #handbook

#19984 Update section on paying vendors
  handbook/business-operations/README.md
Labels: #handbook

#20356 Part 2 of 2: Script Timeout Agent Options
  changes/19875-custom-script-timeout
  cmd/fleetctl/scripts.go
  cmd/fleetctl/scripts_test.go
  server/fleet/errors.go
  server/fleet/scripts.go
  server/service/client_scripts.go
  server/service/integration_enterprise_test.go
  server/service/scripts.go
Labels: :ai

#20425 Stop channel bug fix and reload frequency
  ee/server/calendar/google_calendar.go
  server/cron/calendar_cron.go
Labels: :ai

#20436 Update handbook/digital-experience#check-linkedin-for-new-activity
  handbook/digital-experience/README.md
Labels: #handbook

#20195 Add process for registering Fleet as an employer in a new state
  handbook/business-operations/README.md
Labels: #handbook

#20398 Update README.md
  handbook/sales/README.md
Labels: #handbook

#20432 Update/handbook/digital-experience#delete-an-accidental-meeting-recor…
  handbook/digital-experience/README.md
Labels: #handbook

#20518 Correct engineering interview process in handbook
  handbook/engineering/README.md
Labels: #handbook

#20480 Add google drive section
  handbook/company/communications.md
Labels: #handbook

#20496 Handbook: Update digital-experience.rituals.yml
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#20568 Update business-operations.rituals.yml
  handbook/business-operations/business-operations.rituals.yml
Labels: #handbook

#20374 CSM handbook QBR process
  handbook/customer-success/README.md
Labels: #handbook

#20574 Add in process for quarterly employment tax filing check
  handbook/business-operations/README.md
Labels: #handbook

#20626 Update team block
  handbook/sales/README.md
Labels: #handbook

#20642 Update digital-experience.rituals.yml
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#20582 Add clarity on the report format for quarterly quirks
  handbook/business-operations/README.md
Labels: #handbook

#20609 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#20306 Frontend refactor: To typescript, remove unused testing stubs, functi…
  frontend/components/forms/fields/SelectTargetsDropdown/TargetDetails/TargetDetails.tsx
  frontend/components/forms/fields/SelectTargetsDropdown/TargetDetails/index.ts
  frontend/components/forms/fields/SelectTargetsDropdown/TargetOption/TargetIcon.jsx
  frontend/components/forms/fields/SelectTargetsDropdown/TargetOption/TargetIcon.tsx
  frontend/components/forms/fields/SelectTargetsDropdown/TargetOption/TargetOption.jsx
  frontend/components/forms/fields/SelectTargetsDropdown/TargetOption/TargetOption.tests.tsx
  frontend/components/forms/fields/SelectTargetsDropdown/TargetOption/TargetOption.tsx
  frontend/components/forms/fields/SelectTargetsDropdown/TargetOption/index.ts
  frontend/components/forms/fields/SelectTargetsDropdown/helpers.ts
  frontend/components/icons/FleetIcon/FleetIcon.jsx
  frontend/components/icons/FleetIcon/FleetIcon.tests.tsx
  frontend/components/icons/FleetIcon/FleetIcon.tsx
  frontend/components/icons/FleetIcon/index.ts
  frontend/components/icons/PlatformIcon/PlatformIcon.jsx
  frontend/components/icons/PlatformIcon/PlatformIcon.tests.tsx
  frontend/components/icons/PlatformIcon/PlatformIcon.tsx
  frontend/components/icons/PlatformIcon/index.ts
  frontend/interfaces/label.ts
  frontend/interfaces/target.ts
  frontend/pages/admin/UserManagementPage/helpers/userManagementHelpers.tests.ts
  frontend/test/stubs.ts
Labels: ~frontend, :ai

#20607 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#20550 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#20708 Pricing page typo
  handbook/company/pricing-features-table.yml
Labels: #handbook

#20682 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#20701 Add zoom to self-service for Workstations
  it-and-security/lib/macos-arm.queries.yml
  it-and-security/lib/macos-intel.queries.yml
  it-and-security/teams/workstations.yml
Labels: ~dogfood

#20737 Handbook: Update article publishedOn dates when making edits
  handbook/company/product-groups.md
Labels: #handbook

#20633 Add process for reviewing company benefits
  handbook/business-operations/README.md
  handbook/business-operations/business-operations.rituals.yml
Labels: #handbook

#20769 Handbook: remove coresignal ritual
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#20762 Remove broken link in engineering handbook
  handbook/engineering/README.md
Labels: #handbook

#20761 Handbook: Update Product design rituals
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#20567 CSM handbook generate expansion opp
  handbook/customer-success/README.md
Labels: #handbook

#20777 Cleanup some pricing page bits
  handbook/company/pricing-features-table.yml
Labels: #handbook

#20809 features.yml: Update coming soon dates
  handbook/company/pricing-features-table.yml
Labels: #handbook

#20815 Move refresh event calendar to demand
  handbook/demand/README.md
  handbook/demand/demand.rituals.yml
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#20796 Update/handbook/digital-experiece/#process-and-backup-e-group-agenda
  handbook/digital-experience/README.md
Labels: #handbook

#20668 Add feature guide instructions
  handbook/engineering/README.md
Labels: #handbook

#20831 Normalize spacing
  handbook/sales/README.md
Labels: #handbook

#20833 Add link from product groups
  handbook/engineering/README.md
Labels: #handbook

#20883 Shortened up the Event lead follow-up section
  handbook/company/communications.md
Labels: #handbook

#20775 Add isExperimental property to features table
  handbook/company/pricing-features-table.yml
Labels: #handbook
