Repository fleetdm/fleet, pull requests merged in 2024-06, with the labels that each got.

#19388 Only quick reference docs
  handbook/company/why-this-way.md
Labels: #handbook

#19342 Update features.yml: Device health & update apps dates
  handbook/company/pricing-features-table.yml
Labels: #handbook

#19341 Update features.yml: iOS/iPadOS dates
  handbook/company/pricing-features-table.yml
Labels: #handbook

#19430 Update Handbook/digital-experience/Process the CEO's calendar
  handbook/digital-experience/README.md
Labels: #handbook

#19310 Handbook: Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook

#19547 Update README.md
  handbook/digital-experience/README.md
Labels: #handbook

#19558 Update pricing page
  handbook/company/pricing-features-table.yml
Labels: #handbook

#19570 Update README.md
  handbook/digital-experience/README.md
Labels: #handbook

#19380 Update sales.rituals.yml
  handbook/sales/sales.rituals.yml
Labels: #handbook

#19503 Update README.md
  handbook/business-operations/README.md
Labels: #handbook

#19567 Process for recognizing teammates on their workiversary
  handbook/business-operations/README.md
Labels: #handbook

#19445 Add responsibility to BizOps handbook - low credit alert
  handbook/business-operations/README.md
Labels: #handbook

#19622 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#19629 fix broken trust page link - subprocessors
  handbook/business-operations/vendor-questionnaires.md
Labels: #handbook

#19656 Updated changes file for 19332: clear secrets with gitops.
  changes/ 19332-clear-secrets-with-gitops
  changes/19332-clear-secrets-with-gitops
Labels: :improve documentation

#19504 Update security-policies.md
  handbook/business-operations/security-policies.md
Labels: #handbook

#19337 Update features.yml: Customer promises
  handbook/company/pricing-features-table.yml
Labels: #handbook

#19427 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#19572 adding a subset of cis benchmarks policies to canary workstations team
  it-and-security/lib/macos-cis.policies.yml
  it-and-security/lib/windows-cis.policies.yml
  it-and-security/teams/workstations.yml
Labels: ~csa

#19756 fix a broken link in MDM-setup section
  docs/Configuration/fleet-server-configuration.md
Labels: customer-faltona, ~csa

#19716 Update inform managers about hours worked
  handbook/business-operations/README.md
Labels: #handbook

#19773 Handbook: Fix link
  handbook/digital-experience/README.md
Labels: #handbook

#19792 Updated locked_host activity docs.
  docs/Using Fleet/Audit-logs.md
  server/fleet/activities.go
Labels: :improve documentation

#19806 Reformat postmortem docs to imperative
  handbook/engineering/README.md
Labels: #handbook

#19842 [unreleased 19775] Fleet UI: Update 1 more tooltip
  frontend/pages/SoftwarePage/SoftwareVulnerabilities/SoftwareVulnerabilitiesTable/VulnerabilitiesTableConfig.tsx
Labels: bug

#19850 Fleet UI: Fix platform compatibility styling
  frontend/components/PlatformCompatibility/PlatformCompatibility.tsx
  frontend/components/PlatformCompatibility/_styles.scss
  frontend/pages/policies/PolicyPage/components/PolicyForm/PolicyForm.tsx
  frontend/pages/queries/edit/components/EditQueryForm/EditQueryForm.tsx
Labels: bug

#19804 Move high priority issues to communications page of handbook
  handbook/company/communications.md
Labels: #handbook

#19617 Add exclude_software query param to hosts endpoint.
  docs/REST API/rest-api.md
Labels: :improve documentation

#19899 windows_updates doc update
  schema/osquery_fleet_schema.json
  schema/tables/windows_updates.yml
Labels: :improve documentation

#19888 UI – Software pages, treat dropdown filters as search criteria for empty states
  frontend/pages/SoftwarePage/components/EmptySoftwareTable/EmptySoftwareTable.tsx
Labels: bug

#18750 Support for Terraforming Fleet Teams
  tools/terraform/.gitignore
  tools/terraform/Makefile
  tools/terraform/README.md
  tools/terraform/fleetdm_client/fleetdm_client.go
  tools/terraform/fleetdm_client/fleetdm_client_test.go
  tools/terraform/generator.yaml
  tools/terraform/go.mod
  tools/terraform/go.sum
  tools/terraform/main.go
  tools/terraform/openapi.json
  tools/terraform/provider/provider.go
  tools/terraform/provider/provider_test.go
  tools/terraform/provider/team_resource_gen.go
  tools/terraform/provider/teams_resource.go
  tools/terraform/provider/teams_resource_test.go
  tools/terraform/tf/main.tf
Labels: customer-rocher, ~csa

#19932 Fix broken sentence structure
  handbook/company/communications.md
Labels: #handbook

#19849 Include check for upcoming invoices in weekly ritual
  handbook/business-operations/README.md
Labels: #handbook

#19846 CP Exclude Labels: API changes
  changes/18849-config-profiles-exclude-labels
  ee/server/service/mdm.go
  ee/server/service/teams.go
  server/datastore/mysql/apple_mdm.go
  server/datastore/mysql/apple_mdm_test.go
  server/datastore/mysql/mdm.go
  server/datastore/mysql/mdm_test.go
  server/datastore/mysql/microsoft_mdm.go
  server/datastore/mysql/microsoft_mdm_test.go
  server/fleet/app.go
  server/fleet/apple_mdm.go
  server/fleet/mdm.go
  server/fleet/mdm_test.go
  server/fleet/service.go
  server/fleet/teams.go
  server/fleet/windows_mdm.go
  server/service/appconfig.go
  server/service/apple_mdm.go
  server/service/apple_mdm_test.go
  server/service/client.go
  server/service/integration_mdm_ddm_test.go
  server/service/integration_mdm_profiles_test.go
  server/service/integration_mdm_test.go
  server/service/mdm.go
  server/service/mdm_test.go
  tools/cloner-check/generated_files/appconfig.txt
  tools/cloner-check/generated_files/mdmprofilespec.txt
  tools/cloner-check/generated_files/teammdm.txt
Labels: ~csa

#19982 Disable auto-issue for standup ritual in sales.rituals.yml
  handbook/sales/sales.rituals.yml
Labels: #handbook

#19946 use "-LiteralPath" during registry loop to allow for special characters in registry
  changes/update-installutils-to-allow-for-special-characters-in-registry
  orbit/pkg/packaging/windows_templates.go
Labels: ~csa

#19592 Add Solutions Consultant position
  handbook/company/open-positions.yml
Labels: #handbook

#19991 Update README.md
  handbook/engineering/README.md
Labels: #handbook

#20002 Update README.md
  handbook/engineering/README.md
Labels: #handbook

#19967 features.yml: Break up "Install App Store Apps"
  handbook/company/pricing-features-table.yml
Labels: #handbook

#20033 Re-format responsibility
  handbook/engineering/README.md
Labels: #handbook

#19954 Update leadership.md to update hiring steps with correct links
  handbook/company/leadership.md
Labels: #handbook

#20051 Update business-operations.rituals.yml with workiversary ritual
  handbook/business-operations/business-operations.rituals.yml
Labels: #handbook

#19940 Handbook: Add note about using redirects for external links in the product
  handbook/company/product-groups.md
Labels: #handbook

#20104 Add clarity to invoice process with billing cycle
  handbook/business-operations/README.md
Labels: #handbook

#20094 Updated docs to point to https://download.fleetdm.com/stable
  articles/config-less-fleetd-agent-deployment.md
Labels: :improve documentation

#20117 Update ritual for Processing CEO's inbox
  handbook/digital-experience/README.md
Labels: #handbook
