Repository fleetdm/fleet, pull requests merged in 2024-11, with the labels that each got.

#23421 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook

#23457 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook

#23513 Add sightseeing tour agenda to handbook
  handbook/company/communications.md
Labels: #handbook

#23521 Add Konstantin Sykulev
  handbook/company/product-groups.md
Labels: #handbook

#23522 Remove consultant
  handbook/company/product-groups.md
Labels: #handbook

#23592 Product Design handbook: when design gets ahead what do we do?
  handbook/product-design/README.md
Labels: #handbook

#23630 Handbook: add section about article meta tags
  handbook/company/communications.md
Labels: #handbook

#23662 Modify EOPs points to 156
  handbook/company/product-groups.md
Labels: #handbook

#23726 Update "marinade" to "marinate"
  handbook/company/leadership.md
Labels: #handbook

#22968 NDES REST API and config doc changes
  docs/Configuration/fleet-server-configuration.md
  docs/Configuration/yaml-files.md
  docs/Contributing/API-for-contributors.md
  docs/REST API/rest-api.md
Labels: :improve documentation

#22966 NDES SCEP proxy guide
  articles/ndes-scep-proxy.md
  articles/what-api-endpoints-to-expose-to-the-public-internet.md
  website/assets/images/articles/add-scep.png
  website/assets/images/articles/ndes-scep-config.png
  website/assets/images/articles/ndes-scep-failed-profile.png
Labels: :improve documentation

#23716 Update README.md
  handbook/digital-experience/README.md
Labels: #handbook

#23753 Add folks to team tables
  handbook/engineering/README.md
  handbook/product-design/README.md
Labels: #handbook

#23694 Pricing page changes for #22074
  handbook/company/pricing-features-table.yml
Labels: #handbook

#23673 Apple CSR was missing from rituals. (Turned autoIssue on.)
  handbook/engineering/engineering.rituals.yml
Labels: #handbook

#23769 Fixed the broken numbered list under "Feedback"
  handbook/company/communications.md
Labels: #handbook

#23423 fleetd telemetry doc updates
  docs/Contributing/API-for-contributors.md
  docs/Contributing/Configuration-for-contributors.md
Labels: :improve documentation

#23809 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook

#23826 Prioritized customer requests get `~customer request` label
  handbook/company/product-groups.md
Labels: #handbook

#23814 Lower case 'fleeties' throughout page
  handbook/company/communications.md
Labels: #handbook

#23810 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#23870 Update guide submission process
  handbook/engineering/README.md
Labels: #handbook

#23872 Update guides and release article DRIs
  handbook/company/communications.md
Labels: #handbook

#23911 Typo in product-design.rituals.yml
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#23565 Update why-this-way/adding "Why fix small inconsistencies"
  handbook/company/why-this-way.md
Labels: #handbook

#23786 Added links to installer metadata extractor code.
  articles/deploy-software-packages.md
Labels: :improve documentation

#23946 Add step in drafting to get feedback from CSMs
  handbook/product-design/README.md
Labels: #handbook

#23954 Feature requests w/o Gong snippets go to #g-customer-success
  handbook/product-design/README.md
Labels: #handbook

#23953 Update ndes-scep-proxy.md
  articles/ndes-scep-proxy.md
Labels: :improve documentation

#23977 Fix JSON parsing for fleetdm.com EST certificate issuance
  website/api/controllers/get-est-device-certificate.js
Labels: ~website

#23995 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#23393 Process exceptions for non-released code
  handbook/engineering/README.md
Labels: #handbook

#23674 Add TUF handbook page
  handbook/engineering/README.md
  handbook/engineering/engineering.rituals.yml
  handbook/engineering/tuf.md
Labels: #handbook

#24072 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#24127 Update Engineering handbook
  handbook/engineering/README.md
Labels: #handbook

#23986 Email 2FA will be paid
  handbook/company/pricing-features-table.yml
Labels: #handbook

#24147 Removing finance KPIs we no longer use
  handbook/finance/README.md
Labels: #handbook

#24199 Update testimonials.yml
  handbook/company/testimonials.yml
Labels: #handbook

#24156 Update date for US contractor payroll
  handbook/finance/finance.rituals.yml
Labels: #handbook

#24142 Update README.md
  handbook/demand/README.md
Labels: #handbook
