Repository fleetdm/fleet, pull requests merged in 2024-01, with the labels that each got.

#15870 Update ceo.md
  handbook/ceo.md
Labels: #handbook, #g-ceo

#15873 Update labels handbook
  handbook/company/communications.md
Labels: #g-ceo, #handbook

#15892 Build osquery targets for 5.11.0
  .github/workflows/generate-osqueryd-targets.yml
Labels: ~agent

#15899 Update feature request issue template
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: #g-ceo

#15933 Website: Add script to send aggregated metrics to Datadog
  website/scripts/send-aggregated-metrics-to-datadog.js
Labels: #g-ceo

#15953 Add anti-corruption policy
  handbook/business-operations/security-policies.md
Labels: #g-business-operations, #g-ceo, #handbook

#15976 Revert "Add anti-corruption policy"
  handbook/business-operations/security-policies.md
Labels: #g-ceo, #handbook

#15971 Remove Marcos from maintainers
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#15970 Removing Marcos from repo DRI
  website/config/custom.js
Labels: #g-ceo

#15955 Update product groups
  handbook/company/product-groups.md
Labels: #g-ceo, #handbook

#15977 Update security-policies.md
  handbook/business-operations/security-policies.md
Labels: #g-ceo, #handbook

#15989 Handbook: Update ceo.md
  handbook/ceo.md
Labels: #g-ceo, #handbook

#15956 Update bug intake process
  handbook/company/product-groups.md
Labels: #g-ceo, #handbook

#15907 Merge fleetd doc page to enroll hosts page
  docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
  docs/Get started/anatomy.md
  docs/REST API/rest-api.md
  docs/Using Fleet/MDM-macOS-updates.md
  docs/Using Fleet/enroll-hosts.md
  docs/Using Fleet/fleetd.md
  docs/Using Fleet/update-agents.md
  handbook/company/pricing-features-table.yml
  handbook/engineering/Debugging.md
  website/config/routes.js
Labels: #g-ceo

#16033 Update postmortem documentation
  handbook/engineering/README.md
Labels: #g-ceo, #handbook

#15983 Fleet UI: Update page titles
  changes/15902-update-page-titles
  frontend/components/App/App.tsx
  frontend/pages/hosts/details/DeviceUserPage/DeviceUserPage.tsx
  frontend/pages/hosts/details/HostDetailsPage/HostDetailsPage.tsx
  frontend/pages/hosts/details/HostQueryReport/HostQueryReport.tsx
  frontend/pages/policies/PolicyPage/PolicyPage.tsx
  frontend/pages/queries/details/QueryDetailsPage/QueryDetailsPage.tsx
  frontend/pages/queries/edit/EditQueryPage.tsx
  frontend/pages/queries/live/LiveQueryPage/LiveQueryPage.tsx
  frontend/router/page_titles.ts
  frontend/router/paths.ts
  frontend/templates/react.ejs
  frontend/utilities/constants.tsx
  website/api/controllers/docs/view-basic-documentation.js
  website/api/controllers/download-rss-feed.js
  website/api/controllers/handbook/view-basic-handbook.js
Labels: #g-ceo

#16058 Handbook: remove bugs board link from "Contact us" section
  handbook/engineering/README.md
Labels: #g-ceo, #handbook

#15747 Replace expired Slack invite with Fleet website slack redirect
  .github/ISSUE_TEMPLATE/config.yml
  frontend/pages/errors/Fleet404/Fleet404.tsx
  frontend/pages/errors/Fleet500/Fleet500.tsx
  handbook/company/communications.md
  server/mail/templates/change_email_confirmation.html
  server/mail/templates/invite_token.html
  server/mail/templates/password_reset.html
  server/mail/templates/smtp_setup.html
  website/config/routes.js
Labels: #g-ceo

#16091 Website: Update testimonials configuration, filter and reorder testimonials on landing pages
  handbook/company/testimonials.yml
  website/api/controllers/view-endpoint-ops.js
  website/api/controllers/view-fleet-mdm.js
  website/api/controllers/view-vulnerability-management.js
  website/assets/images/logo-lyft-46x32@2x.png
  website/assets/images/logo-salesforce-57x40@2x.png
  website/assets/images/logo-stripe-57x24@2x.png
  website/assets/images/testimonial-author-abubakar-yousafzai-48x48@2x.png
  website/assets/images/testimonial-author-ahmed-elshaer-48x48@2x.png
  website/assets/images/testimonial-author-andre-shields-48x48@2x.png
  website/assets/images/testimonial-author-austin-anderson-48x48@2x.png
  website/assets/images/testimonial-author-brendan-shaklovitz-48x48@2x.png
  website/assets/images/testimonial-author-charles-zaffery-48x48@2x.png
  website/assets/images/testimonial-author-daniel-grzelak-48x48@2x.png
  website/assets/images/testimonial-author-dhruv-majumdar-48x48@2x.png
  website/assets/images/testimonial-author-erik-gomez-48x48@2x.png
  website/assets/images/testimonial-author-harrison-ravazzolo-48x48@2x.png
  website/assets/images/testimonial-author-kenny-botelho-48x48@2x.png
  website/assets/images/testimonial-author-matt-carr-48x48@2x.png
  website/assets/images/testimonial-author-mike-arpaia-48x48@2x.png
  website/assets/images/testimonial-author-nick-fohs-24x24@2x.png
  website/assets/images/testimonial-author-nico-waisman-48x48@2x.png
  website/assets/images/testimonial-author-tom-larkin-48x48@2x.png
  website/assets/images/testimonial-author-wes-whetstone-48x48@2x.png
  website/assets/js/components/scrollable-tweets.component.js
  website/assets/styles/components/scrollable-tweets.component.less
  website/scripts/build-static-content.js
Labels: #g-ceo

#15752 Website: Update script to create GH issues for rituals in YAML files.
  .github/workflows/deploy-fleet-website.yml
  .github/workflows/test-website.yml
  handbook/company/ceo.rituals.yml
  handbook/customer-success/customer-success.rituals.yml
  handbook/demand/demand.rituals.yml
  handbook/engineering/engineering.rituals.yml
  handbook/product/product.rituals.yml
  handbook/sales/sales.rituals.yml
  website/scripts/build-static-content.js
  website/scripts/create-issues-for-todays-rituals.js
Labels: #g-ceo

#16094 Update README.md with issue assignment note
  handbook/sales/README.md
Labels: #g-ceo, #handbook

#16074 Handbook: Update expedited drafting
  handbook/product/README.md
Labels: #g-ceo, #handbook

#16140 Handbook: fix broken link
  handbook/company/README.md
Labels: #g-ceo, #handbook

#16106 Website: Update calls to action (Talk to an expert » Show me/Call us)
  website/generators/landing-page/index.js
  website/views/pages/articles/basic-article.ejs
  website/views/pages/customers/new-license.ejs
  website/views/pages/endpoint-ops.ejs
  website/views/pages/fleetctl-preview.ejs
  website/views/pages/imagine/higher-education.ejs
  website/views/pages/imagine/jamf-alternative.ejs
  website/views/pages/imagine/unused-software.ejs
  website/views/pages/pricing.ejs
  website/views/pages/reports/state-of-device-management.ejs
  website/views/pages/vulnerability-management.ejs
Labels: #g-ceo

#16095 Updated quote content and logos
  handbook/company/testimonials.yml
  website/api/controllers/view-vulnerability-management.js
  website/assets/images/logo-lyft-46x32@2x.png
  website/assets/images/logo-salesforce-57x40@2x.png
  website/assets/images/logo-stripe-57x24@2x.png
  website/assets/images/social-proof-logo-atlassian-192x32@2x.png
  website/assets/images/social-proof-logo-comcast-91x32@2x.png
  website/assets/images/social-proof-logo-deloitte-130x32@2x.png
  website/assets/images/social-proof-logo-lyft-47x32@2x.png
  website/assets/images/social-proof-logo-osquery-124x32@2x.png
  website/assets/images/social-proof-logo-salesforce-48x32@2x.png
  website/assets/images/social-proof-logo-stripe-67x32@2x.png
  website/assets/images/social-proof-logo-uber-71x32@2x.png
  website/assets/styles/components/scrollable-tweets.component.less
Labels: #g-ceo

#16178 Remove Revops responsibilities
  handbook/business-operations/README.md
  handbook/sales/README.md
Labels: #g-ceo, #handbook

#16179 Update README.md
  handbook/sales/README.md
Labels: #g-ceo, #handbook

#16192 Fix left over code that is locking people out of the fleetctl-preview…
  website/api/controllers/view-fleetctl-preview.js
Labels: #g-ceo

#16152 Website: Update GH webhook to not send requests to Zapier for patch releases.
  website/api/controllers/webhooks/receive-from-github.js
Labels: #g-ceo

#16167 Update README.md to add the product category in the descr.
  handbook/sales/README.md
Labels: #g-ceo, #handbook

#15969 Update pricing-features-table.yml for vm features
  handbook/company/pricing-features-table.yml
Labels: #g-ceo, #handbook

#16203 Make "@sampfluger88" CODEOWNER of issue templates
  CODEOWNERS
  handbook/ceo.md
  handbook/company/README.md
Labels: #g-ceo

#16238 Zero trust access on endpoints
  handbook/company/pricing-features-table.yml
Labels: #g-ceo, #handbook

#16237 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #g-ceo, #handbook

#16265 🕳️👖 vs 🐍👖
  handbook/company/pricing-features-table.yml
Labels: #g-ceo, #handbook

#16269 Remove repetitive links in Handbook/company/communications#all-hands
  handbook/company/communications.md
Labels: #g-ceo, #handbook

#16312 Website update device management
  website/api/controllers/view-device-management.js
  website/assets/images/device-management-absolute-certainty-380x320@2x.png
  website/assets/images/device-management-feature-image-1-380x320@2x.png
  website/assets/images/device-management-icon-automatic-posture-assessment-48x48@2x.png
  website/assets/images/device-management-icon-circular-action-48x48@2x.png
  website/assets/images/device-management-icon-control-login-experience-48x48@2x.png
  website/assets/images/device-management-icon-manage-device-posture-48x48@2x.png
  website/assets/images/device-management-icon-patch-every-os-48x48@2x.png
  website/assets/images/device-management-icon-simplify-health-checks-48x48@2x.png
  website/assets/images/device-management-icon-verify-updates-and-settings-48x48@2x.png
  website/assets/js/pages/device-management.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/device-management.less
  website/assets/styles/pages/homepage.less
  website/config/policies.js
  website/config/routes.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/layouts/layout.ejs
  website/views/pages/device-management.ejs
  website/views/pages/fleet-mdm.ejs
Labels: #g-ceo

#16368 Handbook/company/readme: Add Your last MDM migration to history section
  handbook/company/README.md
Labels: #g-ceo, #handbook

#16377 Pricing page: Add Microsoft Security Response Center (MSRC)
  handbook/company/pricing-features-table.yml
Labels: #g-ceo, #handbook

#16318 Website: update testimonials on landing pages
  handbook/company/testimonials.yml
  website/api/controllers/view-endpoint-ops.js
  website/api/controllers/view-vulnerability-management.js
  website/assets/images/logo-deputy-118x28@2x.png
Labels: #g-ceo

#16442 UI – Team host expiry: remove section heading bottom border
  frontend/pages/admin/TeamManagementPage/TeamDetailsWrapper/TeamSettings/TeamSettings.tsx
  frontend/pages/admin/TeamManagementPage/TeamDetailsWrapper/TeamSettings/_styles.scss
Labels: bug

#16445 #g-ceo to g#digital-experience
  .github/ISSUE_TEMPLATE/website-request.md
  handbook/business-operations/README.md
  handbook/company/README.md
  handbook/company/communications.md
  handbook/company/leadership.md
  handbook/company/product-groups.md
  handbook/demand/README.md
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
  handbook/engineering/engineering.rituals.yml
  handbook/product/README.md
  website/config/routes.js
Labels: #g-ceo

#15949 Update the language regarding consultant onboarding
  handbook/company/leadership.md
Labels: #g-ceo, #handbook
