Repository fleetdm/fleet, pull requests merged in 2024-03, with the labels that each got.

#17021 Website: Update `send-aggregated-metrics-to-datadog` script
  website/scripts/send-aggregated-metrics-to-datadog.js
Labels: ~ceo

#17173 Handbook: Match dustin's change
  handbook/demand/README.md
Labels: #handbook

#17296 Website: Add personalization
  website/api/controllers/view-homepage-or-redirect.js
  website/api/hooks/custom/index.js
  website/config/env/production.js
  website/views/pages/homepage.ejs
  website/views/partials/primary-tagline.partial.ejs
Labels: ~ceo

#17225 Website: update Stripe webhook to handle changes to subscriptions made in the Stripe UI.
  website/api/controllers/webhooks/receive-from-stripe.js
Labels: ~ceo

#17190 Website: update `get-extended-osquery-schema` helper
  schema/osquery_fleet_schema.json
  website/api/helpers/get-extended-osquery-schema.js
Labels: ~ceo

#17300 Add `dantecatalfamo` to humans
  website/api/controllers/webhooks/receive-from-github.js
Labels: ~ceo

#17299 Move critical bug notification process to product groups page
  handbook/company/product-groups.md
  handbook/engineering/README.md
Labels: #handbook

#17312 Handbook: Change the DRI of a consultant
  handbook/business-operations/README.md
Labels: #handbook

#17317 Handbook: Make the website feel more like home
  website/api/controllers/view-homepage-or-redirect.js
  website/api/hooks/custom/index.js
  website/config/routes.js
  website/views/layouts/layout.ejs
Labels: ~ceo

#17324 Website: Update personalization in custom hook
  website/api/hooks/custom/index.js
Labels: ~ceo

#17331 Website: update custom hook to prevent 500 error from HEAD requests.
  website/api/hooks/custom/index.js
Labels: ~ceo

#17343 Add mention of `distutils` in Building-Fleet
  docs/Contributing/Building-Fleet.md
Labels: :improve documentation, ~contributor experience

#17328 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17339 Update maintainers path and engineering KPI script
  website/config/custom.js
  website/scripts/get-bug-and-pr-report.js
Labels: ~ceo

#17327 Update product-design.rituals.yml
  handbook/product-design/README.md
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#17403 Generate osqueryd targets for 5.12.0
  .github/workflows/generate-osqueryd-targets.yml
Labels: ~agent, ~osquery core

#17452 Update reference in mdm integration test
  server/service/integration_mdm_test.go
Labels: bug

#17398 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17382 Update pricing page
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17358 Disk encryption is the same as “Encrypt macOS hard disks with FileVault”
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17323 Update features.yml w/ new timelines
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17236 Update handbook for LinkedIn promoted posts.
  handbook/company/communications.md
  handbook/demand/README.md
Labels: #handbook

#17213 Website: update relative link validation in markdown content
  docs/Contributing/API-for-contributors.md
  docs/Contributing/Configuration-for-contributors.md
  website/scripts/build-static-content.js
Labels: ~ceo

#17448 Add macos-vm-auto-enroll script
  tools/mdm/apple/macos-vm-auto-enroll/README.md
  tools/mdm/apple/macos-vm-auto-enroll/macos-vm-auto-enroll.sh
Labels: ~contributor experience

#17568 2024 03 12 change all hands folder structure
  handbook/digital-experience/README.md
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#17529 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17523 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17454 Website: Update testimonials.yml
  CODEOWNERS
  handbook/company/testimonials.yml
  website/config/custom.js
Labels: ~ceo

#17515 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17527 Update features.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17546 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook

#17561 Add open QA Engineer position
  handbook/company/open-positions.yml
  handbook/company/product-groups.md
  handbook/engineering/README.md
Labels: #handbook

#17172 Update demand.rituals.yml
  handbook/demand/demand.rituals.yml
Labels: #handbook

#17614 DRIs
  CODEOWNERS
  articles/a-new-fleet.md
  articles/fleet-3.11.0.md
  articles/fleet-in-vegas-2023.md
  articles/osquery-5.11.0.md
  docs/Contributing/Testing-and-local-development.md
  ee/tools/license/README.md
  handbook/README.md
  handbook/business-operations/security-policies.md
  handbook/company/README.md
  handbook/company/leadership.md
  handbook/company/product-groups.md
  handbook/company/why-this-way.md
  handbook/digital-experience/README.md
  handbook/engineering/README.md
  website/config/custom.js
  website/views/pages/imagine/defcon-31.ejs
  website/views/pages/imagine/launch-party.ejs
  website/views/pages/upgrade.ejs
Labels: ~ceo

#17608 Website: Update /try-fleet
  website/api/controllers/entrance/view-signup.js
  website/api/controllers/try-fleet/view-query-report.js
  website/api/controllers/try-fleet/view-register.js
  website/api/controllers/try-fleet/view-sandbox-login.js
  website/api/controllers/view-start.js
  website/assets/images/start-purchase-license-64x64@2x.png
  website/assets/images/start-try-fleet-64x64@2x.png
  website/assets/js/pages/entrance/login.page.js
  website/assets/js/pages/entrance/signup.page.js
  website/assets/js/pages/start.page.js
  website/assets/js/pages/try-fleet/register.page.js
  website/assets/js/pages/try-fleet/sandbox-login.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/entrance/login.less
  website/assets/styles/pages/entrance/signup.less
  website/assets/styles/pages/start.less
  website/assets/styles/pages/try-fleet/register.less
  website/assets/styles/pages/try-fleet/sandbox-login.less
  website/config/policies.js
  website/config/routes.js
  website/generators/landing-page/index.js
  website/views/layouts/layout.ejs
  website/views/pages/articles/basic-article.ejs
  website/views/pages/device-management.ejs
  website/views/pages/endpoint-ops.ejs
  website/views/pages/entrance/login.ejs
  website/views/pages/entrance/signup.ejs
  website/views/pages/fleetctl-preview.ejs
  website/views/pages/homepage.ejs
  website/views/pages/imagine/higher-education.ejs
  website/views/pages/imagine/jamf-alternative.ejs
  website/views/pages/imagine/rapid-7-alternative.ejs
  website/views/pages/imagine/unused-software.ejs
  website/views/pages/reports/state-of-device-management.ejs
  website/views/pages/start.ejs
  website/views/pages/try-fleet/register.ejs
  website/views/pages/try-fleet/sandbox-login.ejs
  website/views/pages/vulnerability-management.ejs
Labels: ~ceo

#17628 Update Engineering handbook
  handbook/engineering/README.md
Labels: #handbook

#17572 Website: update signup forms and license dispenser
  handbook/company/pricing-features-table.yml
  website/api/controllers/entrance/signup.js
  website/assets/images/icon-checkmark-white-10x9@2x.png
  website/assets/images/icon-copy-14x14@2x.png
  website/assets/images/icon-pencil-12x12@2x.png
  website/assets/js/pages/customers/new-license.page.js
  website/assets/js/pages/entrance/signup.page.js
  website/assets/styles/pages/customers/dashboard.less
  website/assets/styles/pages/customers/new-license.less
  website/assets/styles/pages/entrance/signup.less
  website/views/pages/customers/dashboard.ejs
  website/views/pages/customers/new-license.ejs
  website/views/pages/entrance/login.ejs
  website/views/pages/entrance/signup.ejs
Labels: ~ceo

#17654 Handbook: Open position: Typo fix: Upper-case the 'e' in 'experience'.
  handbook/company/open-positions.yml
Labels: #handbook

#17643 Handbook: Fix broken links in handbook.
  handbook/digital-experience/README.md
  handbook/engineering/README.md
Labels: #handbook

#17396 Add diagram to texting-and-local-development explaining internal certificate generation flow
  docs/Contributing/Testing-and-local-development.md
Labels: :improve documentation, ~contributor experience

#17507 Create initial windows MDM glossary and diagram document
  docs/Contributing/windows-mdm-glossary-and-protocol.md
Labels: :improve documentation, ~contributor experience

#17630 Rachael is API design DRI
  handbook/company/communications.md
  handbook/company/product-groups.md
Labels: #handbook

#17567 Update pricing-features-table.yml, edit description of "Self-managed"…
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17394 Update product design rituals
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#17571 Update engineering handbook to adjust patch release process
  handbook/engineering/README.md
Labels: #handbook

#17681 Handbook: Update communications.md
  handbook/company/communications.md
Labels: #handbook

#17704 Website: Update Vanta integration script to retry failed requests to Vanta's authorization endpoint.
  website/scripts/send-data-to-vanta.js
Labels: ~ceo

#17638 Website: Add `primaryBuyingSituation` attribute to User model.
  website/api/controllers/deliver-talk-to-us-form-submission.js
  website/api/controllers/entrance/signup.js
  website/api/models/User.js
  website/views/pages/contact.ejs
  website/views/pages/entrance/signup.ejs
Labels: ~ceo

#17599 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17715 Add process for Fleeties to notify BizOps for individualized expenses
  handbook/company/communications.md
Labels: #handbook

#17604 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#17392 Added writing principles
  handbook/company/communications.md
Labels: #handbook

#17554 Adding vendor process to handbook
  handbook/business-operations/README.md
Labels: #handbook

#17706 Website: Update `build-static-content` script to ignore pages in the docs/contributing/ folder.
  website/scripts/build-static-content.js
Labels: ~ceo

#17648 Update security-policies.md
  handbook/business-operations/security-policies.md
Labels: #handbook

#17790 Update product design handbook
  handbook/product-design/README.md
Labels: #handbook

#17754 Website: Remove /upgrade page.
  website/api/controllers/deliver-premium-upgrade-form.js
  website/api/controllers/view-upgrade.js
  website/assets/images/premium-landing-feature-1.svg
  website/assets/images/premium-landing-feature-2.svg
  website/assets/images/premium-landing-feature-3.svg
  website/assets/images/premium-landing-feature-4.svg
  website/assets/images/premium-landing-feature-5.svg
  website/assets/js/pages/upgrade.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/upgrade.less
  website/config/policies.js
  website/config/routes.js
  website/views/layouts/layout.ejs
  website/views/pages/upgrade.ejs
Labels: ~ceo

#17773 Vuln dashboard: Update Okta SSO hook
  ee/vulnerability-dashboard/api/hooks/okta-sso/index.js
Labels: ~ceo

#17817 Website: Update build script to exclude folders with an underscore prefix & rename docs/Deploy/kubernetes/
  CODEOWNERS
  docs/Deploy/Deploy-Fleet-on-Kubernetes.md
  docs/Deploy/_kubernetes/README.md
  docs/Deploy/_kubernetes/fleet-deployment.yml
  docs/Deploy/_kubernetes/fleet-migrations.yml
  docs/Deploy/_kubernetes/fleet-service.yml
  handbook/company/communications.md
  website/scripts/build-static-content.js
Labels: ~ceo

#17818 Website: Update order of columns on osquery schema table pages.
  website/scripts/build-static-content.js
Labels: ~ceo

#17824 Add "Archive a document" responsibility
  handbook/digital-experience/README.md
Labels: #handbook

#17835 Handbook: update `startedOn` date of auto-issue rituals.
  handbook/business-operations/business-operations.rituals.yml
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#17833 Website: update Vanta integration script
  website/scripts/send-data-to-vanta.js
Labels: ~ceo

#17877 Removing broken image from bizops page.
  handbook/business-operations/README.md
Labels: #handbook

#17878 Add link to "Why don't we sell like everyone else?"
  handbook/company/why-this-way.md
Labels: #handbook

#17879 Add link to "Why not continuously generate REST API reference docs fr…
  handbook/company/why-this-way.md
Labels: #handbook

#17902 Move revenue report to Bizops
  handbook/business-operations/README.md
  handbook/business-operations/business-operations.rituals.yml
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#17914 Remove ritual
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#17918 Remove Apprentice position
  handbook/company/open-positions.yml
Labels: #handbook

#17920 Replace "🏹" with "🌦️"
  handbook/company/README.md
  handbook/customer-success/README.md
Labels: #handbook

#17922 Fix broken links on app sec page
  handbook/business-operations/Application-security.md
Labels: #handbook

#17845 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17905 [tiny unreleased bugs] Fleet UI: Calendar feature calendar settings page
  frontend/pages/admin/IntegrationsPage/cards/Calendars/Calendars.tsx
  frontend/pages/admin/IntegrationsPage/cards/Calendars/_styles.scss
Labels: ~unreleased bug

#17917 Update vendor-questionnaires.md - fix typo
  handbook/business-operations/vendor-questionnaires.md
Labels: #handbook

#17919 typo fix - Update vendor-questionnaires.md
  handbook/business-operations/vendor-questionnaires.md
Labels: #handbook

#17936 Updating security policies for formatting consistency
  handbook/business-operations/security-policies.md
Labels: #handbook, security

#17937 Increase default credit card limit
  handbook/company/communications.md
Labels: #handbook

#17960 Update Zoom license policy
  handbook/business-operations/README.md
Labels: #handbook

#17976 Add link to events spreadsheet
  handbook/company/communications.md
Labels: #handbook

#17726 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#17978 Handbook: Fix broken link
  handbook/company/README.md
Labels: #handbook
