Repository fleetdm/fleet, pull requests merged in 2025-03, with the labels that each got.

#26878 Add comp to ADR position
  handbook/company/open-positions.yml
Labels: #handbook

#26773 Update README.md
  handbook/product-design/README.md
Labels: #handbook

#26983 Add Jorge to team table
  handbook/customer-success/README.md
Labels: #handbook

#26975 Android architecture docs
  docs/Contributing/MDM-Android.md
Labels: :improve documentation

#27022 Add step to update salesforce with GitHub label
  handbook/customer-success/README.md
Labels: #handbook

#27028 Fix broken link
  handbook/company/product-groups.md
Labels: #handbook

#27039 Add DigiCert integration dev docs.
  docs/Contributing/MDM-DigiCert-Integration.md
Labels: :improve documentation

#26802 [API/YAML updates] Deploy certificates from DigiCert and custom SCEP
  docs/Configuration/yaml-files.md
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#27067 Product Design handbook
  handbook/product-design/README.md
Labels: #handbook

#26803 Why this way: "OS settings" and "configuration profiles" instead of "CSP/XML"
  handbook/company/why-this-way.md
Labels: #handbook

#27105 Fleet for Apple, Windows (x64 and Arm), Linux (amd64 and Arm), and An…
  handbook/company/pricing-features-table.yml
Labels: #handbook

#27104 Fix incorrect call out
  handbook/digital-experience/README.md
Labels: #handbook

#27125 Add callout to labels
  handbook/company/communications.md
Labels: #handbook

#27123 Update how to contact the CEO
  handbook/company/communications.md
Labels: #handbook

#26626 Update security.md typo
  handbook/digital-experience/security.md
Labels: #handbook

#27137 Fleet UI: Unreleased broken software dropdown
  frontend/pages/SoftwarePage/SoftwareTitles/SoftwareTable/helpers.ts
Labels: ~unreleased bug

#27075 Clarify engineering-initiated story process
  handbook/engineering/README.md
Labels: #handbook

#27159 [API design] Uninstall App Store (VPP) apps
  docs/Contributing/Audit-logs.md
  docs/REST API/rest-api.md
  website/views/pages/transparency.ejs
Labels: ~api-or-yaml-design

#27162 [API design] Surface failures when installing App Store apps
  docs/Contributing/Audit-logs.md
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#27203 Add upload SLA to video section
  handbook/company/communications.md
Labels: #handbook

#27189 BYOD policy
  handbook/digital-experience/security.md
Labels: #handbook

#27168 Update conclude a milestone instructions with new steps
  handbook/engineering/README.md
Labels: #handbook

#27318 New customer promises call
  handbook/company/product-groups.md
Labels: #handbook

#27298 Update engineering handbook
  handbook/engineering/README.md
Labels: #handbook

#24648 [YAML docs] Add Fleet-maintained apps via YAML (GitOps)
  docs/Configuration/yaml-files.md
Labels: ~api-or-yaml-design

#27299 Update on-call responsibilities documentation
  handbook/company/product-groups.md
Labels: #handbook

#27369 Product Design rituals
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#27334 Communications handbook: stray underline
  handbook/company/communications.md
Labels: #handbook

#27204 [API design] Add Fleet-maintained apps via YAML (GitOps)
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#27376 fix: Also set `inValidNode` when CSP starts with comment
  server/fleet/windows_mdm.go
  server/fleet/windows_mdm_test.go
Labels: #g-mdm

#27421 Handbook typo
  handbook/engineering/README.md
Labels: #handbook

#27512 Product groups handbook: After a feature is prioritized
  handbook/company/product-groups.md
Labels: #handbook

#27532 Fix broken linke to GitLab handbook
  handbook/company/communications.md
Labels: #handbook

#27465 Add no_cache param to mdm/profiles/batch.
  docs/Contributing/API-for-contributors.md
Labels: :improve documentation

#27558 Update digital-experience.rituals.yml
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#27554 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#27456 Update product-design.rituals.yml
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#27461 [Fleet server config design] Fleet Desktop URL for Secureframe partnership
  docs/Configuration/fleet-server-configuration.md
Labels: ~api-or-yaml-design

#27621 Remove reconcile expenses ritual (as now included in monthly accounting)
  handbook/finance/finance.rituals.yml
Labels: #handbook

#27653 Handbook offsite planning process
  handbook/company/leadership.md
Labels: #handbook

#27703 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook
