Repository fleetdm/fleet, pull requests merged in 2025-05, with the labels that each got.

#28735 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook

#28786 Update
  handbook/company/communications.md
  handbook/company/go-to-market-groups.md
  handbook/digital-experience/README.md
Labels: #handbook

#28841 Make instructions for hiring a consultant more pronounced
  handbook/company/leadership.md
Labels: #handbook

#28895 Remove Apprentice position
  handbook/company/open-positions.yml
Labels: #handbook

#28862 Open QA Engineer position
  handbook/company/open-positions.yml
Labels: #handbook

#28483 [API/YAML changes] Install fleetd with custom certificates during new Mac setup experience
  docs/Configuration/yaml-files.md
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#28940 [API design] Add a new timestamp for MDM check-in
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#28969 New 🦢 Drafting board
  handbook/product-design/README.md
Labels: #handbook

#28954 [API changes] See individual profile status & resend profile to all failed hosts
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#28955 Pricing page
  handbook/company/pricing-features-table.yml
Labels: #handbook

#29019 Website: move swag CTA on docs pages.
  website/assets/js/pages/docs/basic-documentation.page.js
  website/assets/styles/pages/docs/basic-documentation.less
  website/views/pages/docs/basic-documentation.ejs
Labels: ~ga4-annotation

#29000 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#29058 Add department head to offer emails
  handbook/company/leadership.md
Labels: #handbook

#29054 Product groups handbook
  handbook/company/product-groups.md
Labels: #handbook

#29070 Fix broken formatting
  handbook/company/leadership.md
Labels: #handbook

#29071 Remove Customer Support Engineer
  handbook/company/open-positions.yml
Labels: #handbook

#29022 handbook: cut back text
  handbook/company/go-to-market-groups.md
Labels: #handbook

#29102 Add "Manage duplicate accounts in CRM"
  handbook/digital-experience/README.md
Labels: #handbook

#29123 Add CEO approval for "Free" periods ≥ 3 months
  handbook/sales/README.md
Labels: #handbook

#29016 Research doc for Apple user channel.
  docs/Contributing/MDM-Apple-user-channel.md
Labels: :improve documentation

#29024 Updated team-based kanban boards link to now reference Github projects
  handbook/company/why-this-way.md
Labels: #handbook

#29156 Skip vulnerability checks on Docker DX VSCode plugin to avoid false positives due to overly broad Docker CPEs
  server/vulnerabilities/nvd/cpe_test.go
  server/vulnerabilities/nvd/cpe_translations.json
Labels: ~qa-on-branch

#29173 added Irena to Digital Experience handbook page
  handbook/digital-experience/README.md
Labels: #handbook

#29188 Fixed broken link in contact us
  handbook/marketing/README.md
Labels: #handbook

#29195 Fix broken link
  handbook/company/open-positions.yml
Labels: #handbook

#29181 Update Orbit build instructions
  orbit/README.md
Labels: :improve documentation

#29268 Update homepage.ejs
  website/views/pages/device-management.ejs
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#29317 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook

#29314 Update questionnaires section
  handbook/digital-experience/security.md
Labels: #handbook

#29313 Add investor policy and anti-harassment policy.
  handbook/digital-experience/security.md
Labels: #handbook

#29366 Remove outdated stubs
  handbook/finance/README.md
Labels: #handbook

#29394 Adjusting table alignment by removing <br>
  handbook/company/go-to-market-groups.md
Labels: #handbook

#28662 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook

#29263 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#29270 Added Tina Ong to Team table
  handbook/finance/README.md
Labels: #handbook

#29364 fleetd guide: updates.fleetdm.com
  articles/fleetd-authentication.md
Labels: ~ceo

#29544 [API design follow up] Add Hydrant certificate authority (CA) and request certificate API
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#29560 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#29572 Update Review an order form
  handbook/digital-experience/README.md
Labels: #handbook

#29605 Move Add an advisor to digexp page
  handbook/company/leadership.md
  handbook/digital-experience/README.md
Labels: #handbook

#29625 "Confirm and celebrate" ritual => responsibility
  handbook/customer-success/README.md
  handbook/product-design/README.md
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#29648 Add Prepare "Let's get you set up" meeting notes
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#29652 Fix callout to make planned hire
  handbook/company/leadership.md
Labels: #handbook

#29653 Fix broken contact us link
  handbook/digital-experience/README.md
Labels: #handbook

#29626 Remove follow up after an event
  handbook/marketing/README.md
Labels: #handbook

#29659 Added Matt Rebelo
  handbook/company/go-to-market-groups.md
Labels: #handbook
