Repository fleetdm/fleet, pull requests merged in 2025-08, with the labels that each got.

#31543 Fix incorrect number sequence in pull request instructions
  handbook/company/communications.md
Labels: #handbook

#31482 Handbook: Update section about actions taken when a bug is in drafting
  handbook/company/product-groups.md
Labels: #handbook

#31611 Add process for stale community PRs
  handbook/engineering/README.md
Labels: #handbook

#31618 Product Design ritual: Include "tweet storm"
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#31620 Marketing ritual: Update content calendar
  handbook/marketing/marketing.rituals.yml
Labels: #handbook

#31713 Reduce H2s on communications page and add tools callout
  handbook/company/communications.md
Labels: #handbook

#31745 Update marketing.rituals.yml
  handbook/marketing/marketing.rituals.yml
Labels: #handbook

#31763 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#31764 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#31779 Update Solutions Specialist role
  handbook/company/open-positions.yml
Labels: #handbook

#31758 Clean up tee shirt size mappings
  handbook/company/product-groups.md
Labels: #handbook

#31802 Remove Head of Security Solutions from open positions
  handbook/company/open-positions.yml
Labels: #handbook

#31810 Add "Cancel a vendor or subscription"
  handbook/it-and-enablement/README.md
Labels: #handbook

#31834 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#31789 Adding 2024 pen test findings and responses
  handbook/finance/security.md
Labels: #handbook

#31826 Add AWS offer creation steps to handbook
  handbook/finance/README.md
Labels: #handbook

#31638 Add support for last opened time for DEB and RPM packages
  changes/27902-linux-last-opened
  docs/Contributing/product-groups/orchestration/understanding-host-vitals.md
  server/service/osquery_test.go
  server/service/osquery_utils/queries.go
  server/service/osquery_utils/queries_test.go
Labels: #g-software, ~assisting g-software

#31883 Fast track for Fleeties => Fast for Fleeties
  handbook/company/product-groups.md
Labels: #handbook

#31878 Update it-and-enablement.rituals.yml
  handbook/it-and-enablement/it-and-enablement.rituals.yml
Labels: #handbook

#31809 Updated the attendees for "Settle event strategy"
  handbook/marketing/README.md
Labels: #handbook

#31879 Adding wellness budget
  handbook/company/communications.md
Labels: #handbook

#31935 Sprint kickoff review ritual
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#31931 Product Design handbook: expedited drafting
  handbook/product-design/README.md
Labels: #handbook

#31950 Fix missing period in list item
  handbook/company/communications.md
Labels: #handbook

#31712 CSE function belongs to Zay but is not in GTM group
  handbook/company/go-to-market-groups.md
  handbook/customer-success/README.md
Labels: #handbook

#31967 Update product-design.rituals.yml: fix typo
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#31983 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#30931 [API changes] Apple (macOS, iOS, and iPadOS) configuration profiles: surface which local user account gets user scoped profiles
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#31279 Update go-to-market-groups updated “how to” quotes
  handbook/company/go-to-market-groups.md
Labels: #handbook

#30015 #23899 API and YAML design (IdP department/group labels)
  docs/Configuration/yaml-files.md
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#32131 Removing run tests badge from README
  README.md
Labels: ~ceo

#31549 Unfreeze Cloudflare Warp macOS FMA
  ee/maintained-apps/inputs/homebrew/cloudflare-warp.json
  ee/maintained-apps/outputs/cloudflare-warp/darwin.json
Labels: ~qa-on-branch

#32059 Update broken links for engineering.rituals.yml
  handbook/engineering/engineering.rituals.yml
Labels: #handbook

#32107 Move Steven from CSE to CSA
  handbook/customer-success/README.md
Labels: #handbook

#32215 Update it-and-enablement.rituals.yml
  handbook/it-and-enablement/it-and-enablement.rituals.yml
Labels: #handbook

#32355 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook

#32365 Handbook: remove "In fact"
  handbook/company/go-to-market-groups.md
Labels: #handbook

#32278 Handbook: Working groups
  handbook/company/product-groups.md
Labels: #handbook

#31458 Product groups handbook: When context is prioritized over core
  handbook/company/product-groups.md
Labels: #handbook

#32443 Link to Apple HIG
  handbook/company/communications.md
Labels: #handbook

#31130 [API design] Surface Linux kernel vulnerabilities at the OS version level
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#30826 Add YAML for pre-install query, install/uninstall/post-install scripts on FMAs
  docs/Configuration/yaml-files.md
Labels: ~api-or-yaml-design
