Repository fleetdm/fleet, pull requests merged in 2025-02, with the labels that each got.

#25963 Remove CSE position
  handbook/company/open-positions.yml
Labels: #handbook

#25918 Update README.md
  handbook/customer-success/README.md
Labels: #handbook

#25967 Update handbook to reflect new bug triage process
  handbook/company/product-groups.md
Labels: #handbook

#26014 Update GitHub username
  handbook/customer-success/README.md
Labels: #handbook

#25299 Guide: How to use CloudFront signed URLs with Fleet
  articles/cdn-signed-urls.md
Labels: :improve documentation

#26063 Add "Track a Fleet applicant"
  handbook/digital-experience/README.md
Labels: #handbook

#26050 23116 unreleased bug
  frontend/pages/SoftwarePage/SoftwareAddPage/SoftwareFleetMaintained/FleetMaintainedAppDetailsPage/FleetAppDetailsModal/_styles.scss
Labels: bug, ~unreleased bug

#26087 Handbook/communications Add GTM outreach
  handbook/company/communications.md
Labels: #handbook

#26102 Handbook/leadership Update interviewing steps
  handbook/company/leadership.md
Labels: #handbook

#26106 Update leadership.md
  handbook/company/leadership.md
Labels: #handbook

#26134 Product design rituals: add roadmap maintenance to sprint kickoff review
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#25999 [API design] Uninstall App Store (VPP) apps
  docs/Contributing/Audit-logs.md
  docs/REST API/rest-api.md
  website/views/pages/transparency.ejs
Labels: ~api-or-yaml-design

#25976 [API design] App Store apps (VPP): create policies for automatic install
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#26176 Update product-design.rituals.yml
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#26173 [YAML files] Fixed link and reorganized `end_user_authentication` for clarity.
  docs/Configuration/yaml-files.md
Labels: :improve documentation

#26196 Clairify GTM outreach
  handbook/company/communications.md
Labels: #handbook

#25907 [API design] Surface failures when installing App Store apps
  docs/Contributing/Audit-logs.md
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#26109 [YAML design] Setup experience: scope software via labels when Macs boot
  docs/Configuration/yaml-files.md
  website/config/routes.js
Labels: ~api-or-yaml-design

#26266 Change equipment tracking at Fleet
  handbook/company/communications.md
  handbook/digital-experience/README.md
Labels: #handbook

#26319 Handbook/sales Send a subscription quote
  handbook/sales/README.md
Labels: #handbook

#26317 Handbook: Point broken link at correct 2FA anchor
  handbook/digital-experience/security.md
Labels: #handbook

#26272 update infra why this way
  handbook/company/why-this-way.md
Labels: #handbook

#26348 Product Design responsibility: triage new bugs
  handbook/company/product-groups.md
  handbook/product-design/README.md
Labels: #handbook

#26390 Update demand.rituals.yml
  handbook/demand/demand.rituals.yml
Labels: #handbook

#26388 Change date release candidate is cut
  handbook/engineering/README.md
Labels: #handbook

#26395 Change Drew's github
  handbook/demand/README.md
Labels: #handbook

#26402 Update ADR responsibilities.md
  handbook/demand/README.md
Labels: #handbook

#26432 GitHub comments instead of Figma comments
  handbook/product-design/README.md
Labels: #handbook

#26433 Update weekly revenue report to reflect current process
  handbook/finance/README.md
Labels: #handbook

#26511 Update meetings handbook entry
  handbook/company/communications.md
Labels: #handbook

#26547 Add communicate marketing priority level
  handbook/sales/README.md
Labels: #handbook

#26545 Add GitOps-related comments from Backend Sync.
  server/docs/patterns.md
Labels: :improve documentation

#26549 How to propose an idea for an article + how to write one
  handbook/company/communications.md
Labels: #handbook

#26285 [API design] Enroll Android
  articles/role-based-access.md
  docs/Contributing/API-for-contributors.md
  docs/Contributing/Audit-logs.md
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#26572 [YAML design + permissions] Manage labels via YAML (GitOps)
  articles/role-based-access.md
  docs/Configuration/yaml-files.md
Labels: ~api-or-yaml-design

#26539 All user stories go through user story review
  handbook/company/product-groups.md
Labels: #handbook

#26643 chore: lowercase Succession in security.md page
  handbook/digital-experience/security.md
Labels: #handbook

#26680 Change send an order form responsibility
  handbook/sales/README.md
Labels: #handbook

#26708 Fix broken link
  handbook/company/leadership.md
Labels: #handbook

#26712 Handbook/sales#change-a-contacts-org
  handbook/sales/README.md
Labels: #handbook

#25440 It may take up to 2 hours to get Apple encryption keys.
  articles/enforce-disk-encryption.md
Labels: :improve documentation

#26737 Update hiring steps
  handbook/company/leadership.md
Labels: #handbook

#26723 Update README.md
  handbook/company/communications.md
  handbook/sales/README.md
Labels: #handbook
