Repository fleetdm/fleet, pull requests merged in 2025-07, with the labels that each got.

#30445 Add solutions specialist
  handbook/company/open-positions.yml
Labels: #handbook

#30466 Website: Update homepage cards to look more clickable.
  website/assets/styles/pages/homepage.less
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#30484 Fix issue template link
  handbook/company/leadership.md
Labels: #handbook

#30489 Added Juan to product-groups.md
  handbook/company/product-groups.md
Labels: #handbook

#30491 Update product group capacity
  handbook/company/product-groups.md
Labels: #handbook

#30490 Clarify final hiring stage process
  handbook/company/leadership.md
Labels: #handbook

#30482 Website: Update homepage button
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#30517 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook

#30542 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#30540 Add workflows to collect engineering metrics.
  .github/actions/eng-metrics/.env.example
  .github/actions/eng-metrics/.nvmrc
  .github/actions/eng-metrics/README.md
  .github/actions/eng-metrics/action.yml
  .github/actions/eng-metrics/config.json
  .github/actions/eng-metrics/eslint.config.js
  .github/actions/eng-metrics/jest.config.js
  .github/actions/eng-metrics/package-lock.json
  .github/actions/eng-metrics/package.json
  .github/actions/eng-metrics/src/bigquery-client.js
  .github/actions/eng-metrics/src/config.js
  .github/actions/eng-metrics/src/github-client.js
  .github/actions/eng-metrics/src/github-validator.js
  .github/actions/eng-metrics/src/index.js
  .github/actions/eng-metrics/src/logger.js
  .github/actions/eng-metrics/src/markdown-parser.js
  .github/actions/eng-metrics/src/metrics-collector.js
  .github/actions/eng-metrics/src/user-group-client.js
  .github/actions/eng-metrics/test/bigquery-client.test.js
  .github/actions/eng-metrics/test/bot-detection.test.js
  .github/actions/eng-metrics/test/config.test.js
  .github/actions/eng-metrics/test/end-to-end.test.js
  .github/actions/eng-metrics/test/github-client-first-review.test.js
  .github/actions/eng-metrics/test/github-client-general.test.js
  .github/actions/eng-metrics/test/github-client-merge.test.js
  .github/actions/eng-metrics/test/markdown-parser.test.js
  .github/actions/eng-metrics/test/metrics-collector.test.js
  .github/actions/eng-metrics/test/setup.js
  .github/workflows/collect-eng-metrics-test.yml
  .github/workflows/collect-eng-metrics.yml
Labels: :ai

#30480 Website: update header navigation menu
  website/assets/styles/bootstrap-overrides.less
  website/assets/styles/layout.less
  website/config/routes.js
  website/views/layouts/layout.ejs
Labels: ~ga4-annotation

#30611 Add XXS ticket T-shirt size, add point values when applicable
  handbook/company/product-groups.md
Labels: #handbook

#30631 Update DigExp rituals
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#30587 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook

#30775 A little less SCCMtastic
  website/assets/js/pages/device-management.page.js
  website/assets/js/pages/homepage.page.js
  website/views/pages/device-management.ejs
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#30777 Remove outdated content and add Sales resp
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
  handbook/sales/README.md
  handbook/sales/sales.rituals.yml
Labels: #handbook

#30778 Move people and responsibilities to match org chat
  handbook/company/communications.md
  handbook/company/leadership.md
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
  handbook/finance/README.md
  handbook/finance/finance.rituals.yml
  handbook/sales/README.md
Labels: #handbook

#30589 Add SCEP endpoint for host identity.
  Makefile
  cmd/fleet/serve.go
  ee/server/integrationtest/hostidentity/hostidscep_test.go
  ee/server/integrationtest/hostidentity/suite.go
  ee/server/service/hostidentity/config.go
  ee/server/service/hostidentity/depot/depot.go
  ee/server/service/hostidentity/scep.go
  ee/server/service/hostidentity/types/host_identity_certificates.go
  ee/server/service/hostidentity/types/host_identity_certificates_test.go
  pkg/certificate/certificate.go
  server/cron/calendar_cron_test.go
  server/datastore/mysql/common_mysql/testing_utils/testing_utils.go
  server/datastore/mysql/host_identity_scep.go
  server/datastore/mysql/migrations/tables/20250707095725_HostIdentitySCEPCertificates.go
  server/datastore/mysql/mysql.go
  server/datastore/mysql/scep.go
  server/datastore/mysql/schema.sql
  server/datastore/mysql/wstep.go
  server/fleet/datastore.go
  server/fleet/mdm.go
  server/mdm/apple/cert.go
  server/mdm/apple/util.go
  server/mdm/scep/depot/fleet.go
  server/mock/datastore_mock.go
  server/service/integrationtest/suite.go
  server/service/mdm.go
  server/service/testing_utils.go
Labels: :ai

#30797 [fleetctl] fail api command when args present after uri
  cmd/fleetctl/fleetctl/api.go
  cmd/fleetctl/fleetctl/api_test.go
Labels: :release, #g-software

#30810 Update kanban board link to GitHub project
  handbook/customer-success/README.md
Labels: #handbook

#30811 Update customer-success.rituals.yml DRI's
  handbook/customer-success/customer-success.rituals.yml
Labels: #handbook

#30862 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#30581 Uninstall FMA MSIs by UpgradeCode when available
  ee/maintained-apps/ingesters/winget/ingester.go
  ee/maintained-apps/ingesters/winget/uninstall_with_upgrade_code.ps1
  ee/maintained-apps/outputs/box-drive/windows.json
  ee/maintained-apps/outputs/cloudflare-warp/windows.json
  ee/maintained-apps/outputs/google-chrome/windows.json
Labels: ~qa-on-branch

#30894 #g-unicorns instead of :help-customers
  handbook/customer-success/README.md
Labels: #handbook

#30837 [YAML design] GitOps: Setup experience, custom targets (labels), self-service, & categories for all software in team YAML
  docs/Configuration/yaml-files.md
Labels: ~api-or-yaml-design

#30908 Website: add IT comparison to homepage and /device-management
  website/assets/js/pages/device-management.page.js
  website/assets/js/pages/homepage.page.js
  website/assets/styles/pages/device-management.less
  website/assets/styles/pages/homepage.less
  website/views/pages/device-management.ejs
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#30519 Apply starter library during for fleetctl preview server
  .github/workflows/fleetctl-preview-latest.yml
  cmd/fleetctl/fleetctl/preview.go
  cmd/fleetctl/integrationtest/preview/preview_test.go
  server/service/endpoint_setup.go
  server/service/endpoint_setup_test.go
Labels: :ai

#30948 Comment out customer support eng position
  handbook/company/open-positions.yml
Labels: #handbook

#31004 Making a request: Fast track for Fleeties
  handbook/company/product-groups.md
Labels: #handbook

#31056 Update classified access folks
  handbook/company/communications.md
Labels: #handbook

#31146 Handbook: Correct `hand offs` to `hand-offs`
  handbook/company/go-to-market-groups.md
Labels: #handbook

#30686 Microsoft office FMA version from release notes
  ee/maintained-apps/ingesters/homebrew/external_refs/main.go
  ee/maintained-apps/ingesters/homebrew/external_refs/microsoft_version_from_release_notes.go
  ee/maintained-apps/ingesters/homebrew/external_refs/microsoft_version_from_release_notes_test.go
  ee/maintained-apps/ingesters/homebrew/ingester.go
  ee/maintained-apps/outputs/microsoft-excel/darwin.json
  ee/maintained-apps/outputs/microsoft-word/darwin.json
  server/vulnerabilities/macoffice/parser.go
  server/vulnerabilities/macoffice/release_note.go
  server/vulnerabilities/macoffice/release_note_test.go
Labels: ~qa-on-branch

#31217 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#31258 Fix NVD feed generation
  server/vulnerabilities/nvd/sync/cve_syncer.go
Labels: bug, :release, #g-software

#31271 Update 401(k) auto-enroll info
  handbook/company/communications.md
Labels: #handbook

#31118 update windows chrome fma to use machine-scoped exe installer
  ee/maintained-apps/inputs/winget/google-chrome.json
  ee/maintained-apps/inputs/winget/scripts/google_chrome_install.ps1
  ee/maintained-apps/inputs/winget/scripts/google_chrome_uninstall.ps1
  ee/maintained-apps/outputs/google-chrome/windows.json
Labels: ~qa-on-branch

#31050 [API + YAML design] Require BitLocker PIN
  docs/Configuration/yaml-files.md
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#31394 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#31249 Update linux-disk-encryption-end-user.md
  articles/linux-disk-encryption-end-user.md
Labels: #g-digital-experience

#31045 [YAML] Add Hydrant certificate authority (CA) - additional changes
  docs/Configuration/yaml-files.md
Labels: ~api-or-yaml-design

#31411 New role: Technical Product Designer
  handbook/company/open-positions.yml
Labels: #handbook

#31341 [YAML changes] Add full name (IdP host vital) as a variable in configuration profiles
  docs/Configuration/yaml-files.md
Labels: ~api-or-yaml-design

#31208 Modifying darwin brave version output
  ee/maintained-apps/ingesters/homebrew/external_refs/brave_version_transformer.go
  ee/maintained-apps/ingesters/homebrew/external_refs/brave_version_transformer_test.go
  ee/maintained-apps/ingesters/homebrew/external_refs/main.go
  ee/maintained-apps/outputs/brave-browser/darwin.json
Labels: ~qa-on-branch

#31479 Add Fleet's vendor collateral package
  handbook/company/communications.md
  handbook/company/go-to-market-groups.md
  handbook/sales/README.md
Labels: #handbook

#31491 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook
