Repository fleetdm/fleet, pull requests merged in 2025-06, with the labels that each got.

#29666 Website: Ticker: Emphasize audit, go to space and back: Update homepage.ejs
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#29711 Add clip about meeting notes automation
  handbook/company/communications.md
Labels: #handbook

#29732 Handbook: add digital experience ritual for checking for new osquery schema versions
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#29773 Product groups handbook
  handbook/company/product-groups.md
Labels: #handbook

#29764 I work in operations. I deployed Fleet in minutes - article
  articles/i-work-in-operations-i-deployed-fleet-in-minutes.md
Labels: #g-digital-experience

#29786 Update marketing rituals
  handbook/marketing/README.md
  handbook/marketing/marketing.rituals.yml
Labels: #handbook

#29791 Setup experience guide: document wrong callback URL
  articles/macos-setup-experience.md
Labels: ~ceo

#29810 Add TEST role
  handbook/company/open-positions.yml
Labels: #handbook

#29812 Updating open positions test
  handbook/company/open-positions.yml
Labels: #handbook

#29813 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook

#29814 TEST update open positions
  handbook/company/open-positions.yml
Labels: #handbook

#29844 Docs: Webhook logging destination
  articles/automations.md
  articles/log-destinations.md
Labels: ~ceo

#29868 Update digital-experience.rituals.yml
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#29932 Adding myself (Andrey Kizimenko)
  handbook/company/product-groups.md
Labels: #handbook

#29831 Added password sync info
  articles/deploying-entra-platform-sso-with-fleet.md
Labels: ~ceo

#29624 add docs for batch script execution
  articles/scripts.md
Labels: ~ceo

#29951 Update large-gaming-company-enhances-server-observability-with-fleet.md
  articles/large-gaming-company-enhances-server-observability-with-fleet.md
Labels: ~ceo

#29956 [API design] Filter activity feed by actor (username or email), type, and date
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#29955 Product Designer + Product Manager
  handbook/company/product-groups.md
Labels: #handbook

#29987 Product design rituals: Design sprint review/kickoff -> Product design sprint review/kickoff
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#29990 Update mdm-just-got-better.md
  articles/mdm-just-got-better.md
Labels: ~ceo

#29998 Fix broken link for IDP documentation
  handbook/company/pricing-features-table.yml
Labels: #handbook

#29816 Fix malformed engineering handbook links
  handbook/engineering/README.md
Labels: #handbook

#29918 Move Victor to orchestration.
  handbook/company/product-groups.md
Labels: #handbook

#29742 Clean up "here" link anchors for docs, ee, and frontend dirs
  articles/config-less-fleetd-agent-deployment.md
  docs/Configuration/agent-configuration.md
  docs/Configuration/fleet-server-configuration.md
  docs/Configuration/yaml-files.md
  docs/Contributing/architecture/software/vulnerability-processing.md
  docs/Contributing/getting-started/testing-and-local-development.md
  docs/Contributing/guides/api/adding-new-endpoints.md
  docs/Contributing/guides/cli/fleetctl-apply.md
  docs/Contributing/product-groups/mdm/custom-configuration-web-url.md
  docs/Contributing/product-groups/mdm/windows-mdm-glossary-and-protocol.md
  docs/Contributing/reference/api-for-contributors.md
  docs/Contributing/reference/faq.md
  docs/Contributing/research/software/software-version-extract.md
  docs/Contributing/workflows/deploying-chrome-test-ext.md
  docs/Deploy/Reference-Architectures.md
  docs/Get started/FAQ.md
  docs/REST API/rest-api.md
  ee/bulk-operations-dashboard/README.md
  ee/maintained-apps/README.md
  ee/vulnerability-dashboard/README.md
  frontend/README.md
Labels: ~ceo

#28937 Preview of 4.69.0 doc changes
  articles/foreign-vitals-map-idp-users-to-hosts.md
  articles/macos-setup-experience.md
  articles/role-based-access.md
  articles/scripts.md
  docs/Configuration/fleet-server-configuration.md
  docs/Configuration/yaml-files.md
  docs/Contributing/reference/api-for-contributors.md
  docs/Contributing/reference/audit-logs.md
  docs/Contributing/reference/configuration-for-contributors.md
  docs/REST API/rest-api.md
  website/config/routes.js
Labels: ~ceo

#30041 Product Designer handbook: when a user story is pushed
  handbook/product-design/README.md
Labels: #handbook

#30046 New guide: Manage software using GitOps
  articles/gitops-mode-software.md
Labels: ~ceo

#29971 Update documentation for custom SCEP proxy
  articles/connect-end-user-to-wifi-with-certificate.md
  docs/Contributing/product-groups/mdm/custom-scep-integration.md
  server/datastore/mysql/challenges.go
Labels: ~ceo

#30070 update event postgame steps
  handbook/company/go-to-market-groups.md
  handbook/marketing/README.md
Labels: #handbook

#29982 Website: Update homepage
  website/assets/images/icon-play-video-32x32@2x.png
  website/assets/js/pages/homepage.page.js
  website/assets/styles/bootstrap-overrides.less
  website/assets/styles/pages/homepage.less
  website/assets/videos/features-loop.mp4
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#30072 Add links to YAML settings that will now be cleared if not set
  articles/fleet-4.69.0.md
Labels: ~ceo

#30044 Don't overwrite FMA outputs with latest manifest if input has "frozen" set to true
  cmd/maintained-apps/main.go
  ee/maintained-apps/README.md
  ee/maintained-apps/ingesters/homebrew/ingester.go
  ee/maintained-apps/ingesters/winget/ingester.go
  ee/maintained-apps/maintained_apps.go
Labels: ~qa-on-branch

#29841 Adding spacing after Values icons to match the main Values page.
  handbook/company/why-this-way.md
Labels: #handbook

#29977 FMA uninstall
  changes/29220-fma-uninstall
  ee/maintained-apps/ingesters/homebrew/scripts.go
  ee/maintained-apps/outputs/box-drive/darwin.json
  ee/maintained-apps/outputs/cloudflare-warp/darwin.json
  ee/maintained-apps/outputs/microsoft-excel/darwin.json
  ee/maintained-apps/outputs/microsoft-teams/darwin.json
  ee/maintained-apps/outputs/microsoft-word/darwin.json
  ee/maintained-apps/outputs/teamviewer/darwin.json
  ee/maintained-apps/outputs/zoom/darwin.json
Labels: ~qa-on-branch

#30169 Added additional responsibilities to the "Schedule travel for the CEO"
  handbook/digital-experience/README.md
Labels: #handbook

#30030 Rebuild self-service article to reflect 4.69 changes, add self-service uninstall highlight to release notes
  articles/fleet-4.69.0.md
  articles/software-self-service.md
Labels: :improve documentation, :release, #g-software

#30193 Handbook: fix formatting
  handbook/company/product-groups.md
Labels: #handbook

#30222 Mark the CEO OOO right away
  handbook/digital-experience/README.md
Labels: #handbook

#30223 Respond to a customer feature comparison request
  handbook/sales/README.md
Labels: #handbook

#30226 Update homepage.ejs
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#30227 Add-defender-comparison
  website/assets/js/pages/homepage.page.js
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#30160 New role: Product Designer
  handbook/company/open-positions.yml
Labels: #handbook

#30270 Add Adam Baali to Customer Success team section
  handbook/customer-success/README.md
Labels: #handbook

#30301 Homepage comparison table patch
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#30303 Hiring process improvements
  handbook/company/leadership.md
  handbook/digital-experience/README.md
  handbook/sales/README.md
Labels: #handbook

#30307 Update leadership.md
  handbook/digital-experience/README.md
Labels: #handbook

#30244 Handbook: T-shirt sizes
  handbook/company/product-groups.md
Labels: #handbook

#30293 Tweak CVE feed build to avoid false positives in CVE-2024-54559
  server/vulnerabilities/nvd/cve_test.go
  server/vulnerabilities/nvd/sync/cve_syncer.go
Labels: ~qa-on-branch

#30346 Panic rather than silently continuing when ingestion for FMA manifest updates fails on an app
  cmd/maintained-apps/main.go
  ee/maintained-apps/ingesters/winget/ingester.go
Labels: ~qa-on-branch

#30399 Pricing page updates
  handbook/company/pricing-features-table.yml
Labels: #handbook

#30401 Combine slack channels
  handbook/company/go-to-market-groups.md
  handbook/engineering/README.md
Labels: #handbook

#30378 #g-software Product Designer: @marko-lisica
  handbook/company/open-positions.yml
  handbook/company/product-groups.md
Labels: #handbook

#30402 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#30407 How Fleet defined "core"
  handbook/company/product-groups.md
Labels: #handbook

#30278 Add support for host vitals labels
  cmd/fleetctl/fleetctl/generate_gitops.go
  cmd/fleetctl/fleetctl/generate_gitops_test.go
  cmd/fleetctl/fleetctl/testdata/generateGitops/expectedLabels.yaml
  cmd/fleetctl/fleetctl/testdata/generateGitops/test_dir_free/default.yml
  cmd/fleetctl/fleetctl/testdata/generateGitops/test_dir_premium/default.yml
  pkg/spec/gitops.go
  server/datastore/mysql/labels.go
  server/datastore/mysql/labels_test.go
  server/datastore/mysql/migrations/tables/20250629131032_AddHostVitalsLabelType.go
  server/datastore/mysql/schema.sql
  server/fleet/hosts.go
  server/fleet/labels.go
  server/service/integration_core_test.go
  server/service/labels.go
  server/service/labels_test.go
Labels: :ai
