Repository fleetdm/fleet, pull requests merged in 2025-09, with the labels that each got.

#32520 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#32568 Website: Update CTAs & header navigation menu
  website/assets/js/components/call-to-action.component.js
  website/assets/styles/bootstrap-overrides.less
  website/assets/styles/layout.less
  website/assets/styles/pages/observability.less
  website/views/layouts/layout.ejs
  website/views/pages/articles/basic-article.ejs
  website/views/pages/contact.ejs
  website/views/pages/device-management.ejs
  website/views/pages/docs/basic-documentation.ejs
  website/views/pages/entrance/login.ejs
  website/views/pages/entrance/signup.ejs
  website/views/pages/fleetctl-preview.ejs
  website/views/pages/homepage.ejs
  website/views/pages/observability.ejs
  website/views/pages/pricing.ejs
  website/views/pages/query-detail.ejs
  website/views/pages/reports/state-of-device-management.ejs
  website/views/pages/software-management.ejs
  website/views/pages/testimonials.ejs
Labels: ~ga4-annotation

#32570 Website: Update homepage hero & content
  website/api/controllers/view-homepage-or-redirect.js
  website/assets/images/homepage-hero-wes-whetstone-86x72@2x.png
  website/assets/styles/pages/homepage.less
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#32600 Update homepage.ejs
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#32530 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#32684 Update README.md
  handbook/finance/README.md
Labels: #handbook

#32772 Add VP of Sales role
  handbook/company/open-positions.yml
Labels: #handbook

#32791 Product Design handbook: Public issues for "File a request"
  handbook/product-design/README.md
Labels: #handbook

#32756 Fix emoji rendering issue in Fleet Desktop on OpenSUSE
  orbit/changes/32756-add-opensuse-detection-logic
  orbit/cmd/desktop/menu/menu.go
Labels: prospect-susanoo

#32952 Update README.md
  handbook/finance/README.md
Labels: #handbook

#32964 Fix broken link
  handbook/company/product-groups.md
Labels: #handbook

#32966 Update capacity values and team members in product groups
  handbook/company/product-groups.md
Labels: #handbook

#33020 Update open-positions.yml
  handbook/company/open-positions.yml
Labels: #handbook

#33048 Updated the Track a TODO for Solutions Consulting
  handbook/sales/README.md
Labels: #handbook

#33044 Handbook update
  handbook/finance/README.md
Labels: #handbook

#32991 Add Kitzy to Customer Support Engineer team
  handbook/customer-success/README.md
Labels: #handbook

#33082 Hiring a Product Designer: Add IHOP interview
  handbook/product-design/README.md
Labels: #handbook

#33046 Handbook processes: New major macOS version
  handbook/engineering/README.md
  handbook/product-design/README.md
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#32457 Article: Create prevent-tampering-of-fleet-agent.md
  articles/prevent-tampering-of-fleet-agent.md
Labels: :help-marketing

#32771 Update remediating-the-xz-vulnerability-with-fleet.md
  articles/remediating-the-xz-vulnerability-with-fleet.md
Labels: ~csa

#33120 Add @order-form-review group
  handbook/sales/README.md
Labels: #handbook

#32861 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#33133 Added the new board meeting and OKR planning cadence
  handbook/company/leadership.md
Labels: #handbook

#33154 Manage duplicate accounts
  handbook/it-and-enablement/README.md
  handbook/marketing/README.md
  handbook/marketing/marketing.rituals.yml
Labels: #handbook

#33426 Update README.md
  handbook/sales/README.md
Labels: #handbook

#33414 Update README.md
  handbook/finance/README.md
Labels: #handbook

#33428 Add Dhruv to Sales page
  handbook/sales/README.md
Labels: #handbook

#33430 Update finance.rituals.yml
  handbook/finance/finance.rituals.yml
Labels: #handbook

#33259 Handbook - Writing guidelines reorg
  handbook/company/communications.md
Labels: #handbook

#33491 Add prepare for OCV meeting ritual
  handbook/finance/README.md
  handbook/finance/finance.rituals.yml
Labels: #handbook

#33514 Fix formatting issues in finance README
  handbook/finance/README.md
Labels: #handbook

#33534 Free sounds better than $0
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#33188 Added a new EA ritual
  handbook/ceo/ceo.rituals.yml
Labels: #handbook

#33545 New product groups
  handbook/company/product-groups.md
Labels: #handbook

#33547 Update product groups org
  handbook/company/product-groups.md
  handbook/engineering/README.md
Labels: #handbook

#33590 Update product-design.rituals.yml
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#33591 Product Design handbook: 4 product groups
  handbook/product-design/README.md
Labels: #handbook

#33592 Product groups handbook: 4 product groups
  handbook/company/product-groups.md
Labels: #handbook

#33568 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#33613 Remove console.log in frontend ActionsDropdown
  frontend/components/ActionsDropdown/ActionsDropdown.tsx
Labels: bug

#33226 Create device-enrollment-lifecycle.md
  articles/device-enrollment-lifecycle.md
Labels: :training
