Repository fleetdm/fleet, pull requests merged in 2025-01, with the labels that each got.

#25151 Update README.md
  handbook/demand/README.md
Labels: #handbook

#25175 Product design rituals: update "Quarterly roadmap blog post"
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#25229 Update wording in history section of the handbook
  handbook/company/README.md
Labels: #handbook

#25165 Words that follow step numbers in docs are lowercase
  handbook/company/why-this-way.md
Labels: #handbook

#25259 Add ADR position to website
  handbook/company/open-positions.yml
Labels: #handbook

#25292 Remove auto issue from rituals
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#25059 Added guide for Fleet secret variables.
  articles/secret-variables.md
Labels: :improve documentation

#25293 Signed URL API changes for contributors.
  docs/Contributing/API-for-contributors.md
Labels: :improve documentation

#25317 #23235 API docs: Add certificates to host vitals for macOS, iOS, iPadOS
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#25300 Document existing orbit auto-uninstall behavior (runs if post-install is supplied and fails, not if install fails)
  articles/deploy-software-packages.md
Labels: :improve documentation

#25356 Update community pull request process
  handbook/engineering/README.md
Labels: #handbook

#25359 Fixing broken links
  handbook/engineering/README.md
Labels: #handbook

#25303 Fix typo in Fleet server configuration.
  docs/Configuration/fleet-server-configuration.md
Labels: :improve documentation

#24895 Added steps in "Check LinkedIn for new activity" for adding contacts to Salesforce
  handbook/digital-experience/README.md
Labels: #handbook

#25389 [YAML design] Policy automations: install App Store apps on macOS
  docs/Configuration/yaml-files.md
Labels: ~api-or-yaml-design

#25391 Handbook typo
  handbook/engineering/README.md
Labels: #handbook

#25419 Move contact form to Demand
  handbook/demand/README.md
  handbook/digital-experience/README.md
Labels: #handbook

#25421 Handbook: Indentation fix
  handbook/product-design/README.md
Labels: #handbook

#25469 Simpler sync command
  handbook/engineering/tuf.md
Labels: #handbook

#25438 REST API Docs: Add exclude_fleet_maintained_apps parameter to list software endpoint
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#25415 Handbook: Update note about sentence case + step numbers
  handbook/company/why-this-way.md
Labels: #handbook

#25543 Update product-design.rituals.yml
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#25517 Update README.md
  handbook/product-design/README.md
Labels: #handbook

#25513 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook

#25516 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook

#25586 Remove auto-issue from ritual
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#25594 Update pricing-features-table.yml
  handbook/company/pricing-features-table.yml
Labels: #handbook

#25601 Handbook: design reviews
  handbook/company/product-groups.md
Labels: #handbook

#25598 Update product-groups.md
  handbook/company/product-groups.md
Labels: #handbook

#25652 Add welcome email call out in handbook
  handbook/company/communications.md
Labels: #handbook

#25622 Remove auto issue for invoice monitoring
  handbook/finance/finance.rituals.yml
Labels: #handbook

#25705 Update communications handbook page
  handbook/company/communications.md
Labels: #handbook

#25606 [API/YAML changes] Install fleetd with custom certificates during new Mac setup experience
  docs/Configuration/yaml-files.md
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#25731 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#25757 Add range to CSE position
  handbook/company/open-positions.yml
Labels: #handbook

#25766 Handbook/digital-experience#confirm-ceo-shadow-dates
  handbook/digital-experience/README.md
Labels: #handbook

#25746 Terraform why this way
  handbook/company/why-this-way.md
Labels: #handbook

#25780 Handhook: How to get feature requests, that already have issues, into the prioritization flow
  handbook/company/product-groups.md
Labels: #handbook

#25793 Handbook: design review
  handbook/company/product-groups.md
Labels: #handbook

#25858 Confidentiality arrow
  handbook/company/communications.md
Labels: #handbook

#25936 Handbook customer success responsibility: feedback on requests
  handbook/customer-success/README.md
Labels: #handbook
