Repository fleetdm/fleet, pull requests merged in 2025-10, with the labels that each got.

#33543 [YAML changes] Windows setup experience
  docs/Configuration/yaml-files.md
Labels: ~api-or-yaml-design

#33712 Add Slack channel prefixes
  handbook/company/communications.md
Labels: #handbook

#33737 Website: Update pricing.ejs - Change button text
  website/views/pages/pricing.ejs
Labels: ~ga4-annotation

#33741 Update README.md
  handbook/customer-success/README.md
Labels: #handbook

#33757 Update README.md
  handbook/marketing/README.md
Labels: #handbook

#33800 Add EA to People page
  handbook/ceo/README.md
  handbook/people/README.md
Labels: #handbook

#33840 Update intent signal capture frequency
  handbook/marketing/marketing.rituals.yml
Labels: #handbook

#33864 Product Design rituals
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#33863 Engineering handbook: Conclude current milestone
  handbook/engineering/README.md
Labels: #handbook

#33933 Engineering handbook: Update milestone due dates
  handbook/engineering/README.md
Labels: #handbook

#33959 Update engineering interview process
  handbook/engineering/README.md
Labels: #handbook
