Repository fleetdm/fleet, pull requests merged in 2025-04, with the labels that each got.

#27737 Add callout to request an app be added to Fleet Slack
  handbook/company/communications.md
Labels: #handbook

#27663 README: Use dark-mode-compatible logo
  README.md
Labels: ~ceo

#26917 #19235 API and YAML changes (Conditional access via Microsoft Entra)
  docs/Configuration/yaml-files.md
  docs/Contributing/API-for-contributors.md
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#27761 Small grammar change to invoicing template
  handbook/finance/README.md
Labels: #handbook

#27768 Fix several broken links
  handbook/company/communications.md
Labels: #handbook

#27751 Update README.md
  README.md
Labels: ~ceo

#27736 Add JordanMontgomery to MDM Product Group
  handbook/company/product-groups.md
Labels: #handbook

#27785 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook

#27793 Link to offsite process documentation
  handbook/company/communications.md
Labels: #handbook

#27796 Fix typos and adjust layout of offsites documentation
  handbook/company/leadership.md
Labels: #handbook

#27615 Update SCIM details endpoint URL
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#27816 New ritual: 🦢🚀🔄 Design sync
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#27833 Handbook: Fix link
  handbook/company/go-to-market-groups.md
Labels: #handbook

#27834 Handbook: I'm sorry about the geese
  handbook/company/communications.md
Labels: #handbook

#27835 Handbook: One too many gooses
  handbook/company/why-this-way.md
Labels: #handbook

#27869 Open CSE position
  handbook/company/go-to-market-groups.md
  handbook/company/open-positions.yml
Labels: #handbook

#27922 Update _from-perspective-customers doc
  handbook/digital-experience/README.md
Labels: #handbook

#27947 Fix broken link
  handbook/digital-experience/README.md
Labels: #handbook

#27866 Apple Intelligence enabled?
  docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
  docs/queries.yml
Labels: #g-digital-experience

#27954 Fixed wrong API verb.
  docs/Contributing/API-for-contributors.md
Labels: :improve documentation

#27981 Updated SSO user contributing docs.
  docs/Contributing/Testing-and-local-development.md
Labels: :improve documentation

#27999 Update product-groups.md to add Engineering DRI to USR
  handbook/company/product-groups.md
Labels: #handbook

#28050 Clarify DRIs for expedited drafting
  handbook/product-design/README.md
Labels: #handbook

#28041 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#28066 Handbook: Update communications.md
  handbook/company/communications.md
Labels: #handbook

#28153 Fix Markdown which had broken Openblur link
  handbook/company/communications.md
Labels: #handbook

#28057 [API design] Host vitals: add softwares' hash (SHA-256) for macOS apps
  docs/REST API/rest-api.md
Labels: ~api-or-yaml-design

#28169 Update README.md
  handbook/marketing/README.md
Labels: #handbook

#28248 Update fast track for fleeties section
  handbook/company/product-groups.md
Labels: #handbook

#28281 Product groups handbook: fix broken link
  handbook/company/product-groups.md
Labels: #handbook

#28271 Product groups handbook: when bugs are feature requests
  handbook/company/product-groups.md
Labels: #handbook

#28295 Product groups handbook
  handbook/engineering/README.md
Labels: #handbook

#28303 Add call out about timeboxing engineering input if necessary
  handbook/product-design/README.md
Labels: #handbook

#28314 Website: change order of platform mentions for Windows users.
  website/views/pages/device-management.ejs
  website/views/pages/homepage.ejs
  website/views/pages/pricing.ejs
  website/views/pages/start.ejs
Labels: ~ga4-annotation

#28322 Product design rituals: confirm and celebrate
  handbook/product-design/product-design.rituals.yml
Labels: #handbook

#28330 Product Design: when we reach capacity
  handbook/product-design/README.md
Labels: #handbook

#28341 Add new ritual re: Intent signals meeting
  handbook/digital-experience/README.md
  handbook/digital-experience/digital-experience.rituals.yml
Labels: #handbook

#28428 Update homepage.ejs: Use em dash
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#28456 Remove "soon" emoji from features that exist in fleetd readme
  orbit/README.md
Labels: :improve documentation

#28477 Update testimonials.yml
  handbook/company/testimonials.yml
Labels: #handbook

#28478 Remove CSM position
  handbook/company/open-positions.yml
Labels: #handbook

#28369 Product groups: update sprint capacity
  handbook/company/product-groups.md
Labels: #handbook

#28525 Add Apprentice position
  handbook/company/open-positions.yml
Labels: #handbook

#28544 Update pushed story process
  handbook/engineering/README.md
Labels: #handbook

#28566 Fix broken link
  handbook/company/communications.md
Labels: #handbook

#28568 Fix issue link
  handbook/company/communications.md
  handbook/digital-experience/README.md
Labels: #handbook

#28583 Fix template url
  handbook/company/communications.md
  handbook/company/leadership.md
  handbook/company/open-positions.yml
  handbook/customer-success/README.md
  handbook/digital-experience/README.md
  handbook/finance/README.md
  handbook/marketing/README.md
  handbook/product-design/README.md
  handbook/sales/README.md
Labels: #handbook

#28606 Update #g-mdm capacity
  handbook/company/product-groups.md
Labels: #handbook

#28623 Website: Update homepage personalization
  website/package.json
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#28607 Update communications.md
  handbook/company/communications.md
Labels: #handbook

#28669 Handbook: fix two broken links
  handbook/company/go-to-market-groups.md
Labels: #handbook

#28672 Capitalization: Update homepage.ejs
  website/views/pages/device-management.ejs
  website/views/pages/homepage.ejs
Labels: ~ga4-annotation

#28686 Update go-to-market-groups.md
  handbook/company/go-to-market-groups.md
Labels: #handbook
