Repository fleetdm/fleet, changes with the owners that CODEOWNERS names for each.
All owners: @fleetdm/go, @edwardsb, @zwinnerman-fleetdm, @rfairburn, @fleetdm/g-platform, @zwass, @mikermcneil, @noahtalerman, @chris-mcgillicuddy, @ksatter, @guillaumeross, @eashaw, @zhumo, @hollidayn, @charlottechance, @alexmitchelliii

Handle close errors in CopyLenses
  orbit/pkg/augeas/augeas_unix.go
Owners: @fleetdm/go

fix conflict squash
  orbit/cmd/orbit/orbit.go
  orbit/pkg/update/flag_runner.go
  server/fleet/agent_options.go
  server/fleet/service.go
  server/service/orbit.go
  server/service/orbit_client.go
Owners: @fleetdm/go

add missing file
  orbit/pkg/update/options.go
Owners: @fleetdm/go

Update demo.md
  tools/mdm/apple/demo.md
Owners: none

Force sandbox expiry date when running on localhost
  frontend/services/entities/config.ts
Owners: none

Create fleet-4.24.0.md
  articles/fleet-4.24.0.md
Owners: @chris-mcgillicuddy

Add files via upload
  website/assets/images/articles/fleet-4.24.0-cover-3200x1800.jpg
Owners: @eashaw

Update fleet-4.24.0.md
  articles/fleet-4.24.0.md
Owners: @chris-mcgillicuddy

document new icloud_private_relay table
  schema/tables/icloud_private_relay.yml
Owners: @guillaumeross

Publish fleet-v5.0.0.tgz
  charts/fleet-v5.0.0.tgz
  charts/index.yaml
Owners: @zwinnerman-fleetdm, @edwardsb, @rfairburn

Update icloud_private_relay.yml
  schema/tables/icloud_private_relay.yml
Owners: @guillaumeross

Stopping here for now
  terraform/byo-vpc/byo-db/byo-ecs/main.tf
  terraform/byo-vpc/byo-db/outputs.tf
  terraform/byo-vpc/main.tf
  terraform/byo-vpc/variables.tf
  terraform/main.tf
  terraform/variables.tf
Owners: @edwardsb, @zwinnerman-fleetdm, @rfairburn

add ability to mark policy as critical
  changes/issue-7805-mark-policy-as-critical
  cmd/fleetctl/testdata/expectedHostDetailResponseJson.json
  cmd/fleetctl/testdata/expectedHostDetailResponseYaml.yml
  docs/Using-Fleet/REST-API.md
  server/datastore/mysql/migrations/tables/20221130114928_AddPolicyCritical.go
  server/datastore/mysql/policies.go
  server/datastore/mysql/policies_test.go
  server/datastore/mysql/schema.sql
  server/fleet/policies.go
  server/service/team_policies.go
  server/webhooks/failing_policies_test.go
  server/worker/jira.go
  server/worker/jira_test.go
  server/worker/worker.go
  server/worker/zendesk.go
  server/worker/zendesk_test.go
Owners: @fleetdm/go, @ksatter

wip
  docs/Using-Fleet/Permissions.md
  docs/Using-Fleet/REST-API.md
  website/views/pages/transparency.ejs
Owners: @chris-mcgillicuddy, @ksatter, @eashaw

disable fleetctl preview tests on macos
  .github/workflows/fleetctl-preview-latest.yml
  .github/workflows/fleetctl-preview.yml
Owners: @fleetdm/g-platform

disable fleetctl preview tests on macos (#8911)
  .github/workflows/fleetctl-preview-latest.yml
  .github/workflows/fleetctl-preview.yml
Owners: @fleetdm/g-platform

skip TestHosts/TestHostOrder until we figure why it's flaky in CI
  server/datastore/mysql/hosts_test.go
Owners: @fleetdm/go

add API endpoint to retrieve host disk encryption keys
  changes/issue-8708-disk-encryption-key
  server/authz/policy.rego
  server/datastore/mysql/hosts.go
  server/datastore/mysql/hosts_test.go
  server/fleet/activities.go
  server/fleet/datastore.go
  server/fleet/hosts.go
  server/fleet/service.go
  server/mock/datastore_mock.go
  server/service/handler.go
  server/service/hosts.go
  server/service/hosts_test.go
  server/service/integration_core_test.go
Owners: @fleetdm/go

Update fleet-4.24.0.md
  articles/fleet-4.24.0.md
Owners: @chris-mcgillicuddy

update article image filename
  articles/fleet-4.24.0.md
  website/assets/images/articles/fleet-4.24.0-cover-1600x900@2x.jpg
Owners: @chris-mcgillicuddy, @eashaw

keep list of policy columns in code
  server/datastore/mysql/policies.go
Owners: @fleetdm/go

Add proposal for `fleetctl trigger` (#8127)
  proposals/Fleetctl-trigger.md
Owners: none

Revert thead, tr hover
  frontend/components/TableContainer/DataTable/_styles.scss
Owners: none

try using DATE_ADD in test to ensure the timestamp is handled correctly
  server/datastore/mysql/hosts_test.go
Owners: @fleetdm/go

Update fleet-4.24.0.md
  articles/fleet-4.24.0.md
Owners: @chris-mcgillicuddy

Update fleet-4.24.0.md
  articles/fleet-4.24.0.md
Owners: @chris-mcgillicuddy

Use opaque equivalent to see shadow on non-white rows
  frontend/components/TableContainer/DataTable/_styles.scss
  frontend/styles/var/colors.scss
Owners: none

Revert datatable
  frontend/components/TableContainer/DataTable/_styles.scss
Owners: none

Add interpolateParams
  server/datastore/mysql/activities.go
  server/datastore/mysql/aggregated_stats.go
  server/datastore/mysql/app_configs.go
  server/datastore/mysql/hosts.go
  server/datastore/mysql/mysql.go
  server/datastore/mysql/policies.go
  server/datastore/mysql/teams.go
Owners: @fleetdm/go

Fix single row:
  frontend/components/TableContainer/DataTable/_styles.scss
  frontend/styles/var/colors.scss
Owners: none

wip
  orbit/cmd/orbit/orbit.go
  orbit/pkg/update/flag_runner.go
  orbit/pkg/update/options.go
  orbit/pkg/update/update.go
Owners: @fleetdm/go

Apply suggestions from code review
  docs/Using-Fleet/configuration-files/README.md
Owners: @chris-mcgillicuddy

Update migration
  server/datastore/mysql/migrations/tables/20220404091216_UpdateAppConfigLogEndpoint.go
Owners: @fleetdm/go

CODEOWNERS:

# Go engineers are automatically added as reviewers when changes are made to go
# files or related backend files.
*.go @fleetdm/go
go.sum @fleetdm/go
go.mod @fleetdm/go
/server/ @fleetdm/go
/cmd/ @fleetdm/go

# Infra/terraform
*.tf @edwardsb @zwinnerman-fleetdm @rfairburn
/infrastructure/ @zwinnerman-fleetdm @edwardsb @rfairburn
/charts/ @zwinnerman-fleetdm @edwardsb @rfairburn

# GitHub settings + actions
/.github/ @fleetdm/g-platform

# Codeowners file
/CODEOWNERS @zwass @mikermcneil

# Changelog
/CHANGELOG.md @noahtalerman

# Fleet documentation
/docs/ @chris-mcgillicuddy

# REST API reference documentation
/docs/Using-Fleet/REST-API.md @ksatter
/docs/Contributing/API-for-contributors.md @ksatter

# Standard query library YAML
/docs/01-Using-Fleet/standard-query-library/standard-query-library.yml @guillaumeross

# Exapnded table documentation
/schema @guillaumeross

# Articles
/articles @chris-mcgillicuddy

# Website
/website/ @eashaw
/website/views/ @eashaw
/website/assets/ @eashaw

# Features table
# - CEO is DRI for pricing
# - Mo is DRI for features table
# - Eric is DRI for website frontend code
/website/views/pages/pricing.ejs @zhumo @eashaw @mikermcneil

# Website redirects and URLs
/website/config/routes.js @eashaw

# Website backend, scripts, deps
/website/api/ @mikermcneil
/website/config/ @mikermcneil
/website/scripts/ @mikermcneil
/website/package.json @eashaw

# GitHub brandfront
/README.md @chris-mcgillicuddy

# NPM brandfront (npmjs.com/package/fleetctl)
/tools/fleetctl-npm/README.md @chris-mcgillicuddy

# Handbook
/handbook/company @mikermcneil
/handbook/business-operations @hollidayn
/handbook/business-operations/ceo-handbook.md @charlottechance
/handbook/security @guillaumeross
/handbook/engineering @zwass
/handbook/product @zhumo
/handbook/customers @alexmitchelliii
/handbook/marketing @mikermcneil
/handbook/README.md @eashaw

#
# For configuration that determines auto-approval + auto-unfreezing, so that contributors
# can merge their own PRs without additional approval, please see the latest version of:
# https://github.com/fleetdm/fleet/blob/74f65447b718663bd04df31ea1da28915d98792c/website/config/custom.js#L88-L128
#
