Repository fleetdm/fleet, changes with the owners that CODEOWNERS names for each.
All owners: @fleetdm/go, @sharon-fdm, @lucasmrod, @marcosd4h, @rachelElysia, @roperzh, @gillespi314, @mna, @georgekarrv, @fleetdm/frontend, @edwardsb, @zwinnerman-fleetdm, @rfairburn, @mikermcneil, @noahtalerman, @rachaelshaw, @zwass, @eashaw, @jarodreyes, @lukeheath, @zhumo, @alexmitchelliii

CODEOWNERS:

# Go engineers are automatically added as reviewers when changes are made to go
# files or related backend files.
*.go @fleetdm/go
go.sum @fleetdm/go
go.mod @fleetdm/go
/server/ @fleetdm/go
/cmd/ @fleetdm/go

# Compliance
/ee/cis/ @sharon-fdm @lucasmrod @marcosd4h @rachelElysia

# MDM
/ee/tools/puppet @roperzh @gillespi314 @mna @georgekarrv

# React engineers are automatically added as reviewers when changes are made to react files
/frontend/ @fleetdm/frontend

# Infra/terraform
*.tf @edwardsb @zwinnerman-fleetdm @rfairburn
/infrastructure/ @zwinnerman-fleetdm @edwardsb @rfairburn
/charts/ @zwinnerman-fleetdm @edwardsb @rfairburn
/terraform @zwinnerman-fleetdm @edwardsb @rfairburn

# GitHub issue templates
/.github/ISSUE_TEMPLATE @mikermcneil

# Codeowners file
/CODEOWNERS @mikermcneil

# Changelog
/CHANGELOG.md @noahtalerman

# Fleet documentation (who is auto-requested as reviewer for changes to docs?)
/docs/ @rachaelshaw

# REST API reference documentation
/docs/Using-Fleet/REST-API.md @rachaelshaw
/docs/Contributing/API-for-contributors.md @rachaelshaw

# Standard query library YAML
/docs/01-Using-Fleet/standard-query-library/standard-query-library.yml @zwass

# Expanded table documentation
/schema @eashaw

# Articles
/articles @jarodreyes

# Website
/website/ @eashaw
/website/views/ @eashaw
/website/assets/ @eashaw

# Features table
# - CEO is DRI for pricing
# - Mo is DRI for features table
# - Eric is DRI for website frontend code
/website/views/pages/pricing.ejs @mikermcneil
/handbook/product/pricing-features-table.yml @mikermcneil

# Website redirects and URLs
/website/config/routes.js @mikermcneil @eashaw

# Website backend, scripts, deps
/website/api/ @mikermcneil @eashaw
/website/config/ @mikermcneil @eashaw
/website/scripts/ @mikermcneil @eashaw
/website/package.json @mikermcneil @eashaw

# GitHub brandfront
/README.md @mikermcneil

# NPM brandfront (npmjs.com/package/fleetctl)
/tools/fleetctl-npm/README.md @mikermcneil

# Handbook
/handbook/company @mikermcneil
/handbook/company/* @mikermcneil
/handbook/business-operations @mikermcneil
/handbook/business-operations/* @mikermcneil
/handbook/engineering @lukeheath
/handbook/engineering/* @lukeheath
/handbook/product @zhumo
/handbook/product/* @zhumo
/handbook/customers @alexmitchelliii
/handbook/customers/* @alexmitchelliii
/handbook/marketing @jarodreyes
/handbook/marketing/* @jarodreyes
/handbook/README.md @mikermcneil # Â« This is the "Table of contents"

#
# For configuration that determines auto-approval + auto-unfreezing, so that contributors
# can merge their own PRs without additional approval, please see the latest version of:
# https://github.com/fleetdm/fleet/blob/74f65447b718663bd04df31ea1da28915d98792c/website/config/custom.js#L88-L128
#

tidy up and bug
  handbook/engineering/README.md
Owners: @lukeheath

bugs
  handbook/engineering/README.md
Owners: @lukeheath

bugs
  handbook/engineering/README.md
Owners: @lukeheath

Update README.md
  handbook/engineering/README.md
Owners: @lukeheath

Update README.md
  handbook/engineering/README.md
Owners: @lukeheath

Update Application-security.md
  docs/Using-Fleet/Application-security.md
Owners: @rachaelshaw

Fix dash lines to be variable length using grids
  changes/issue-11773-activity-styling-fix
  frontend/pages/DashboardPage/cards/ActivityFeed/ActivityItem/ActivityItem.tsx
  frontend/pages/DashboardPage/cards/ActivityFeed/ActivityItem/_styles.scss
Owners: @fleetdm/frontend

Remove liverquery response simulation
  server/service/service_campaigns.go
Owners: @fleetdm/go
