Repository fleetdm/fleet, changes with the owners that CODEOWNERS names for each.
All owners: @fleetdm/go, @edwardsb, @zwinnerman-fleetdm, @rfairburn, @fleetdm/g-platform, @zwass, @mikermcneil, @noahtalerman, @Desmi-Dizney, @chris-mcgillicuddy, @ksatter, @guillaumeross, @eashaw, @mike-j-thomas, @charlottechance, @hollidayn, @alexmitchelliii, @tgauda, @timmy-k

Website: Fleet Sandbox (#6380)
  website/api/controllers/account/logout.js
  website/api/controllers/articles/view-articles.js
  website/api/controllers/deliver-contact-form-message.js
  website/api/controllers/download-sitemap.js
  website/api/controllers/entrance/signup.js
  website/api/controllers/entrance/view-login.js
  website/api/controllers/try-fleet/view-register.js
  website/api/controllers/try-fleet/view-sandbox-expired.js
  website/api/controllers/try-fleet/view-sandbox-login.js
  website/api/controllers/try-fleet/view-sandbox-teleporter-or-redirect-because-expired.js
  website/api/models/User.js
  website/api/responses/unauthorized.js
  website/assets/images/arrow-right-blue-18x10@2x.png
  website/assets/images/fleet-sandbox-300x244@2x.png
  website/assets/js/cloud.setup.js
  website/assets/js/pages/try-fleet/register.page.js
  website/assets/js/pages/try-fleet/sandbox-expired.page.js
  website/assets/js/pages/try-fleet/sandbox-login.page.js
  website/assets/js/pages/try-fleet/sandbox-teleporter.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/try-fleet/register.less
  website/assets/styles/pages/try-fleet/sandbox-expired.less
  website/assets/styles/pages/try-fleet/sandbox-login.less
  website/assets/styles/pages/try-fleet/sandbox-teleporter.less
  website/config/bootstrap.js
  website/config/policies.js
  website/config/routes.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout-sandbox.ejs
  website/views/pages/entrance/forgot-password.ejs
  website/views/pages/entrance/new-password.ejs
  website/views/pages/try-fleet/register.ejs
  website/views/pages/try-fleet/sandbox-expired.ejs
  website/views/pages/try-fleet/sandbox-login.ejs
  website/views/pages/try-fleet/sandbox-teleporter.ejs
Owners: @mikermcneil, @eashaw

Website: Update button on sandbox expiry page
  website/views/pages/try-fleet/sandbox-expired.ejs
Owners: @eashaw

Fix typo in download installer modal
  frontend/components/AddHostsModal/DownloadInstallers/DownloadInstallers.tsx
Owners: none

Website: Update button on sandbox expiry page (#7194)
  website/views/pages/try-fleet/sandbox-expired.ejs
Owners: @eashaw

update docs scrollbars position (#7193)
  website/assets/styles/pages/docs/basic-documentation.less
Owners: @eashaw

WIP
  cmd/fleet/prepare.go
  cmd/fleet/serve.go
  docker-compose.yml
  go.mod
  go.sum
  server/config/config.go
  server/datastore/mysql/config.go
  server/datastore/mysql/mdm_apple_migrations/data/migration.go
  server/datastore/mysql/mdm_apple_migrations/tables/20220725165245_MDMApple.go
  server/datastore/mysql/mdm_apple_migrations/tables/migration.go
  server/datastore/mysql/mysql.go
  server/mdm/apple/scep/scep_mysql/scep_mysql.go
  server/mdm/apple/scep/scep_mysql/schema.sql
  tools/mdm/apple/docker-entrypoint-initdb.d/init.sql
Owners: @fleetdm/go

Better organize additional MDM code
  cmd/fleet/prepare.go
  cmd/fleet/prepare_mdm_apple.go
  cmd/fleet/serve.go
  server/config/config.go
  server/datastore/mysql/config.go
  server/datastore/mysql/mdm_apple_migrations/tables/20220725165245_MDMApple.go
  server/datastore/mysql/mysql.go
  server/mdm/apple/apple.go
  server/mdm/apple/service/service.go
  tools/mdm/apple/docker-entrypoint-initdb.d/init.sql
Owners: @fleetdm/go

Add cmdr.py and amend API paths
  server/mdm/apple/service/service.go
  tools/mdm/apple/cmdr.py
Owners: @fleetdm/go

Adding DEP functionality to Fleet
  cmd/fleet/prepare.go
  cmd/fleet/serve.go
  go.mod
  go.sum
  server/config/config.go
  server/datastore/mysql/config.go
  server/datastore/mysql/mdm_apple_migrations/tables/20220725165245_MDMApple.go
  server/datastore/mysql/mysql.go
Owners: @fleetdm/go

Add demo file
  tools/mdm/apple/cmdr.py
  tools/mdm/apple/demo.md
Owners: none

Fix lint
  go.mod
  go.sum
  server/mdm/apple/service/service.go
Owners: @fleetdm/go

Fix demo.md
  tools/mdm/apple/demo.md
Owners: none

go mod tidy
  go.mod
  go.sum
Owners: @fleetdm/go

Update README.md
  README.md
Owners: @chris-mcgillicuddy

Update docs/Deploying/Introduction.md
  docs/Deploying/Introduction.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy

Update docs/Deploying/Introduction.md
  docs/Deploying/Introduction.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy

Update docs/Deploying/Introduction.md
  docs/Deploying/Introduction.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy

Update docs/Using-Fleet/Adding-hosts.md
  docs/Using-Fleet/Adding-hosts.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy

Update docs/Using-Fleet/Learn-how-to-use-Fleet.md
  docs/Using-Fleet/Learn-how-to-use-Fleet.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy

Update docs/Using-Fleet/Learn-how-to-use-Fleet.md
  docs/Using-Fleet/Learn-how-to-use-Fleet.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy

Update docs/Using-Fleet/Learn-how-to-use-Fleet.md
  docs/Using-Fleet/Learn-how-to-use-Fleet.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy

Update docs/Using-Fleet/Learn-how-to-use-Fleet.md
  docs/Using-Fleet/Learn-how-to-use-Fleet.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy

Update proposals/Fleet-Installers-4-Sandbox.md
  proposals/Fleet-Installers-4-Sandbox.md
Owners: none

Update proposals/Fleet-Installers-4-Sandbox.md
  proposals/Fleet-Installers-4-Sandbox.md
Owners: none

Update proposals/Fleet-Installers-4-Sandbox.md
  proposals/Fleet-Installers-4-Sandbox.md
Owners: none

Update proposals/Fleet-Installers-4-Sandbox.md
  proposals/Fleet-Installers-4-Sandbox.md
Owners: none

Update proposals/Fleet-Installers.md
  proposals/Fleet-Installers.md
Owners: none

Update articles/osquery-a-tool-to-easily-ask-questions-about-operating-systems.md
  articles/osquery-a-tool-to-easily-ask-questions-about-operating-systems.md
Owners: @chris-mcgillicuddy

Adding a video to the Fleet docs (#7081)
  handbook/community/README.md
  website/assets/images/handbook-video-embed-guide-1280x720.gif
Owners: @timmy-k, @eashaw

Document new response payload, integration tests
  docs/Using-Fleet/REST-API.md
  server/fleet/service.go
  server/service/hosts.go
  server/service/integration_core_test.go
Owners: @ksatter, @fleetdm/go

Add note about stats and filter
  docs/Using-Fleet/REST-API.md
Owners: @ksatter

add email validation
  ee/server/service/users.go
  server/fleet/users.go
  server/fleet/users_test.go
Owners: @fleetdm/go

Enhance UI for host operating systems
  cypress/integration/all/app/dashboard.spec.ts
  frontend/interfaces/operating_system.ts
  frontend/pages/Homepage/Homepage.tsx
  frontend/pages/Homepage/cards/OperatingSystems/OperatingSystems.tsx
  frontend/pages/Homepage/cards/OperatingSystems/OperatingSystemsTableConfig.tsx
  frontend/pages/Homepage/cards/OperatingSystems/_styles.scss
  frontend/pages/Homepage/components/InfoCard/InfoCard.tsx
  frontend/pages/Homepage/components/InfoCard/_styles.scss
  frontend/pages/hosts/ManageHostsPage/ManageHostsPage.tsx
  frontend/services/entities/host_count.ts
  frontend/services/entities/hosts.ts
  frontend/services/entities/operating_systems.ts
Owners: none

add geolocation information to Hosts responses
  docs/Using-Fleet/REST-API.md
Owners: @ksatter

Handle non-existent os id
  frontend/pages/hosts/ManageHostsPage/ManageHostsPage.tsx
Owners: none

Add to changes file
  changes/issue-6475-host-operating-system
Owners: none

WIP: Added msrc parser
  server/vulnerabilities/msrc/input/prod_xml.go
  server/vulnerabilities/msrc/input/prod_xml_test.go
  server/vulnerabilities/msrc/input/result.go
  server/vulnerabilities/msrc/input/vuln_xml.go
  server/vulnerabilities/msrc/input/vuln_xml_test.go
  server/vulnerabilities/msrc/microsoft_product.go
  server/vulnerabilities/msrc/parser.go
Owners: @fleetdm/go

Update Swag request process (#6992)
  handbook/community/README.md
Owners: @timmy-k

Add comments to clarify why we filter in the service
  server/service/hosts.go
Owners: @fleetdm/go

Fix typo
  docs/Using-Fleet/configuration-files/README.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy

CODEOWNERS:

# Go engineers are automatically added as reviewers when changes are made to go
# files or related backend files.
*.go @fleetdm/go
go.sum @fleetdm/go
go.mod @fleetdm/go
/server/ @fleetdm/go
/cmd/ @fleetdm/go

# Infra/terraform
*.tf @edwardsb @zwinnerman-fleetdm @rfairburn
/infrastructure/ @zwinnerman-fleetdm @edwardsb @rfairburn

# GitHub settings + actions
/.github/ @fleetdm/g-platform

# Codeowners file
/CODEOWNERS @zwass @mikermcneil

# Changelog
/CHANGELOG.md @noahtalerman

# Fleet documentation
/docs/ @Desmi-Dizney @chris-mcgillicuddy

# REST API reference documentation
/docs/Using-Fleet/REST-API.md @ksatter
/docs/Contributing/API-for-contributors.md @ksatter

# Standard query library YAML
/docs/01-Using-Fleet/standard-query-library/standard-query-library.yml @guillaumeross

# Articles
/articles @chris-mcgillicuddy

# Website
/website/ @eashaw
/website/views/ @eashaw
/website/assets/ @eashaw

# Website redirects and URLs
/website/config/routes.js @eashaw @mike-j-thomas

# Website backend, scripts, deps
/website/api/ @mikermcneil
/website/config/ @mikermcneil
/website/scripts/ @mikermcneil
/website/package.json @mikermcneil

# GitHub brandfront
/README.md @chris-mcgillicuddy

# NPM brandfront (npmjs.com/package/fleetctl)
/tools/fleetctl-npm/README.md @chris-mcgillicuddy

# Handbook
/handbook/company @mikermcneil
/handbook/people @charlottechance @hollidayn
/handbook/security @guillaumeross
/handbook/engineering @zwass
/handbook/product @noahtalerman
/handbook/sales @alexmitchelliii
/handbook/customers @tgauda
/handbook/growth @timmy-k
/handbook/community @timmy-k
/handbook/digital-experience @mike-j-thomas @chris-mcgillicuddy
/handbook/README.md @chris-mcgillicuddy
/handbook/handbook @chris-mcgillicuddy

#
# For configuration that determines auto-approval + auto-unfreezing, so that contributors
# can merge their own PRs without additional approval, please see the latest version of:
# https://github.com/fleetdm/fleet/blob/74f65447b718663bd04df31ea1da28915d98792c/website/config/custom.js#L88-L128
#
