Repository fleetdm/fleet, changes with the owners that CODEOWNERS names for each.
All owners: @fleetdm/go, @edwardsb, @zwinnerman-fleetdm, @zwass

CODEOWNERS:

# Go engineers are automatically added as reviewers when changes are made to go
# files or related backend files.
*.go @fleetdm/go
go.sum @fleetdm/go
go.mod @fleetdm/go
/server/ @fleetdm/go
/cmd/ @fleetdm/go

# Infra/terraform
*.tf @edwardsb @zwinnerman-fleetdm
/tools/loadtesting/terraform @zwinnerman-fleetdm

# GitHub settings + actions
/.github/ @zwass

Update wording, add hosts-count option in testing tool
  server/worker/jira.go
  tools/jira-integration/main.go
Owners: @fleetdm/go

Remove the "remaining hosts omitted" label
  server/worker/jira.go
Owners: @fleetdm/go

Restrict activities read access to global users
  server/authz/policy.rego
  server/service/activities_test.go
Owners: @fleetdm/go

Add changes file
  changes/issue-rbac-activities
Owners: none

Handle retry-after and adjust test for worker that stops once a job has been processed once
  server/datastore/mysql/jobs.go
  server/service/externalsvc/jira.go
  server/worker/worker.go
  server/worker/worker_test.go
Owners: @fleetdm/go

Add test for retry-after returned by Jira API
  server/service/externalsvc/jira_test.go
Owners: @fleetdm/go

Update with review suggestions
  frontend/interfaces/integration.ts
  frontend/pages/admin/IntegrationsPage/IntegrationsPage.tsx
  frontend/pages/admin/IntegrationsPage/IntegrationsTableConfig.tsx
  frontend/pages/admin/IntegrationsPage/components/IntegrationForm/IntegrationForm.tsx
  frontend/pages/software/ManageSoftwarePage/components/ManageAutomationsModal/ManageAutomationsModal.tsx
Owners: none

Remove e2e tests for this branch
  cypress/integration/all/app/settingsflow.spec.ts
  cypress/integration/free/admin.spec.ts
  cypress/integration/premium/admin.spec.ts
  cypress/integration/premium/maintainer.spec.ts
  cypress/support/commands.ts
  cypress/support/index.d.ts
Owners: none

e2e test only
  frontend/components/EnrollSecretTable/EnrollSecretRow/EnrollSecretRow.tsx
  frontend/components/forms/FormField/_styles.scss
  frontend/components/forms/UserSettingsForm/_styles.scss
  frontend/components/forms/admin/AppConfigForm/AppConfigForm.tsx
  frontend/context/notification.tsx
  frontend/interfaces/config.ts
  frontend/pages/admin/AppSettingsPage/_styles.scss
  frontend/pages/admin/SettingsWrapper/SettingsWrapper.tsx
  frontend/pages/admin/TeamManagementPage/TeamDetailsWrapper/MembersPage/MembersPage.tsx
  frontend/pages/admin/TeamManagementPage/TeamManagementPage.tsx
  frontend/pages/admin/UserManagementPage/components/UserForm/_styles.scss
  frontend/pages/policies/ManagePoliciesPage/components/ManageAutomationsModal/_styles.scss
  frontend/pages/software/ManageSoftwarePage/ManageSoftwarePage.tsx
  frontend/pages/software/ManageSoftwarePage/components/ManageAutomationsModal/ManageAutomationsModal.tsx
  frontend/pages/software/ManageSoftwarePage/components/ManageAutomationsModal/_styles.scss
  frontend/router/index.tsx
  frontend/router/paths.ts
  frontend/services/entities/config.ts
  frontend/services/mock_service/mocks/config.ts
  frontend/services/mock_service/mocks/responses.ts
  frontend/utilities/constants.ts
Owners: none

fix retry job on next cron
  server/worker/worker.go
Owners: @fleetdm/go

Update webhook e2e test only, no jira e2e test
  cypress/integration/free/admin.spec.ts
  cypress/integration/free/maintainer.spec.ts
  cypress/integration/premium/admin.spec.ts
Owners: none

Add worker test for when a middle job fails
  server/worker/worker_test.go
Owners: @fleetdm/go

Add update-interval configuration to fleetctl package (#5050)
  cmd/fleetctl/package.go
  orbit/pkg/packaging/linux_shared.go
  orbit/pkg/packaging/macos_templates.go
  orbit/pkg/packaging/packaging.go
  orbit/pkg/packaging/windows_templates.go
  tools/tuf/init_tuf.sh
Owners: @fleetdm/go

Fix cypress, updateSoftwareAutomation
  cypress/integration/free/admin.spec.ts
  cypress/integration/premium/admin.spec.ts
  frontend/pages/software/ManageSoftwarePage/components/ManageAutomationsModal/ManageAutomationsModal.tsx
Owners: none

Detect the NOPERM error to mean redis cluster is disabled
  server/datastore/redis/redis.go
Owners: @fleetdm/go

Update people.md
  handbook/people.md
Owners: none

Add changes file
  changes/issue-5048-detect-noperm-redis-standalone
Owners: none

Return empty array from os_version endpoint
  frontend/pages/Homepage/cards/OperatingSystems/OperatingSystems.tsx
  server/datastore/mysql/hosts.go
  server/service/hosts.go
Owners: @fleetdm/go

Replace uses of ansi quotes (") in SQL statements (#4726)
  server/datastore/mysql/aggregated_stats_test.go
  server/datastore/mysql/hosts.go
  server/datastore/mysql/migrations/tables/20171116163618_CreateTableOsqueryOptions.go
  server/datastore/mysql/migrations/tables/20211116184030_PolicyWithProprietaryQuery.go
  server/datastore/mysql/queries.go
  server/datastore/mysql/scheduled_queries.go
Owners: @fleetdm/go

clear
  cypress/integration/all/app/policiesflow.spec.ts
  frontend/components/TableContainer/DataTable/LinkCell/LinkCell.tsx
  frontend/components/TableContainer/DataTable/TextCell/TextCell.tsx
  frontend/pages/Homepage/cards/Software/SoftwareTableConfig.tsx
  frontend/pages/policies/ManagePoliciesPage/components/PoliciesListWrapper/PoliciesTableConfig.tsx
Owners: none

Revisions
  frontend/pages/Homepage/cards/Software/SoftwareTableConfig.tsx
Owners: none

Run CodeQL on every commit to main (#4794)
  .github/workflows/codeql-analysis.yml
Owners: @zwass

removed duplicate test
  cypress/integration/premium/admin.spec.ts
Owners: none

Update docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
  docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
Owners: none

Update docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
  docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
Owners: none

Update standard-query-library.yml
  docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
Owners: none

start sort
  frontend/pages/queries/QueryPage/components/QueryResults/QueryResultsTableConfig.tsx
Owners: none

Sort live policy
  frontend/pages/policies/PolicyPage/components/PolicyQueriesListWrapper/PolicyQueriesListWrapper.tsx
  frontend/pages/policies/PolicyPage/components/PolicyQueriesListWrapper/PolicyQueriesTableConfig.tsx
Owners: none

Add changelog
  changes/issue-4572-sort-live-queries
Owners: none

Updated API routes to use current format for frontend use (#5018)
  cypress/support/commands.ts
  docs/Contributing/API-Versioning.md
  docs/Using-Fleet/REST-API-v1.md
  docs/Using-Fleet/REST-API.md
  docs/Using-Fleet/fleetctl-CLI.md
  frontend/components/AddHostsModal/PlatformWrapper/PlatformWrapper.tsx
  frontend/components/forms/RegistrationForm/FleetDetails/FleetDetails.jsx
  frontend/components/forms/admin/AppConfigForm/AppConfigForm.tsx
  frontend/components/forms/validators/validate_yaml/validate_yaml.tests.js
  frontend/fleet/endpoints.ts
  frontend/fleet/entities/config.js
  frontend/fleet/entities/hosts.tests.js
  frontend/fleet/entities/packs.js
  frontend/fleet/entities/scheduled_queries.js
  frontend/pages/packs/EditPackPage/EditPackPage.tsx
  frontend/redux/nodes/entities/base/schemas.js
  frontend/redux/nodes/entities/labels/actions.tests.js
  frontend/redux/nodes/entities/scheduled_queries/config.js
  frontend/services/entities/scheduled_queries.ts
  frontend/services/mock_service/README.md
  frontend/services/mock_service/examples/config.ts
  frontend/services/mock_service/mocks/config.ts
  frontend/test/envSetup.js
  frontend/test/mocks/README.md
  frontend/test/mocks/config_mocks.js
  frontend/test/mocks/global_scheduled_query_mocks.js
  frontend/test/mocks/host_mocks.js
  frontend/test/mocks/invite_mocks.js
  frontend/test/mocks/label_mocks.js
  frontend/test/mocks/pack_mocks.js
  frontend/test/mocks/query_mocks.js
  frontend/test/mocks/scheduled_query_mocks.js
  frontend/test/mocks/session_mocks.js
  frontend/test/mocks/status_label_mocks.js
  frontend/test/mocks/target_mocks.js
  frontend/test/mocks/team_scheduled_query_mocks.js
  frontend/test/mocks/user_mocks.js
  frontend/test/target_mock.js
Owners: none

Detect the NOPERM error to mean redis cluster is disabled (#5058)
  changes/issue-5048-detect-noperm-redis-standalone
  server/datastore/redis/redis.go
Owners: @fleetdm/go

Handle UI error parsing invalid sql (#5016)
  frontend/hooks/usePlatformCompatibility.tsx
  frontend/pages/queries/ManageQueriesPage/ManageQueriesPage.tsx
  frontend/pages/queries/QueryPage/components/QueryForm/QueryForm.tsx
  frontend/utilities/sql_tools.ts
Owners: none

Adding full disk access instructions
  docs/Using-Fleet/Adding-hosts.md
Owners: none

Indicate that a policy's data is not yet accurate (#5031)
  changes/issue-3300-policies-not-yet-accurate
  cypress/integration/all/app/policiesflow.spec.ts
  frontend/components/TableContainer/DataTable/TextCell/TextCell.tsx
  frontend/interfaces/policy.ts
  frontend/pages/policies/ManagePoliciesPage/ManagePoliciesPage.tsx
  frontend/pages/policies/ManagePoliciesPage/components/PoliciesListWrapper/PoliciesListWrapper.tsx
  frontend/pages/policies/ManagePoliciesPage/components/PoliciesListWrapper/PoliciesTableConfig.tsx
  frontend/pages/policies/ManagePoliciesPage/components/PoliciesListWrapper/_styles.scss
Owners: none

Address PR comments
  server/worker/jira.go
Owners: @fleetdm/go

Update docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
  docs/01-Using-Fleet/standard-query-library/standard-query-library.yml
Owners: none

Queue jobs for Jira integration when enabled and new vulnerabilities are found. (#4975)
  changes/issue-4847-queue-jira-ticket-creation-jobs
  cmd/fleet/cron.go
  server/datastore/mysql/jobs.go
  server/datastore/mysql/software.go
  server/datastore/mysql/software_test.go
  server/fleet/datastore.go
  server/fleet/hosts.go
  server/mock/datastore_mock.go
  server/service/appconfig.go
  server/service/externalsvc/jira.go
  server/service/externalsvc/jira_test.go
  server/service/integration_core_test.go
  server/webhooks/vulnerabilities.go
  server/webhooks/vulnerabilities_test.go
  server/worker/jira.go
  server/worker/jira_test.go
  server/worker/worker.go
  server/worker/worker_test.go
  tools/jira-integration/main.go
Owners: @fleetdm/go

Make Orbit update interval configurable (#5032)
  cmd/fleetctl/package.go
  orbit/changes/orbit-update-interval
  orbit/cmd/orbit/orbit.go
  orbit/pkg/packaging/linux_shared.go
  orbit/pkg/packaging/macos_templates.go
  orbit/pkg/packaging/packaging.go
  orbit/pkg/packaging/windows_templates.go
  tools/tuf/init_tuf.sh
Owners: @fleetdm/go

Update company.md
  handbook/company.md
Owners: none

Update Adding-hosts.md
  docs/Using-Fleet/Adding-hosts.md
Owners: none
