Repository fleetdm/fleet, changes with the owners that CODEOWNERS names for each.
All owners: @fleetdm/go, @edwardsb, @zwinnerman-fleetdm, @zwass

CODEOWNERS:

# Go engineers are automatically added as reviewers when changes are made to go
# files or related backend files.
*.go @fleetdm/go
go.sum @fleetdm/go
go.mod @fleetdm/go
/server/ @fleetdm/go
/cmd/ @fleetdm/go

# Infra/terraform
*.tf @edwardsb @zwinnerman-fleetdm
/tools/loadtesting/terraform @zwinnerman-fleetdm

# GitHub settings + actions
/.github/ @zwass

Update people.md
  handbook/people.md
Owners: none

add 300k breakpoint to reference architectures
  docs/Deploying/Reference-Architectures.md
Owners: none

update ref arch documentation with estimated gcp costs (#4876)
  docs/Deploying/Reference-Architectures.md
Owners: none

Remove duplicate error message on create pack page (#5000)
  frontend/components/forms/packs/PackForm/PackForm.tsx
  frontend/pages/packs/PackComposerPage/PackComposerPage.tsx
Owners: none

Mock new select targets service
  frontend/context/query.tsx
  frontend/pages/queries/QueryPage/screens/SelectTargets.tsx
  frontend/services/entities/targets.ts
  frontend/services/mock_service/mocks/config.ts
  frontend/services/mock_service/service/service.ts
Owners: none

added teams webhook calls
  frontend/interfaces/team.ts
  frontend/pages/policies/ManagePoliciesPage/ManagePoliciesPage.tsx
  frontend/pages/policies/ManagePoliciesPage/components/PoliciesListWrapper/PoliciesTableConfig.tsx
  frontend/services/entities/teams.ts
Owners: none

Remove comments and logs
  frontend/components/TableContainer/DataTable/DropdownCell/_styles.scss
  frontend/components/TableContainer/TableContainer.tsx
  frontend/pages/hosts/details/DeviceUserPage/_styles.scss
Owners: none

Add changes file
  changes/issue-3502-tables
Owners: none

split global admin and team admin tests; added policy automation
  cypress/integration/premium/admin.spec.ts
  cypress/integration/premium/team_admin.spec.ts
Owners: none

changes file
  changes/issue-3269-policy-automation-team
Owners: none

fixed type errors
  cypress/integration/premium/admin.spec.ts
  cypress/integration/premium/team_admin.spec.ts
  frontend/interfaces/team.ts
  frontend/pages/admin/TeamManagementPage/TeamDetailsWrapper/TeamDetailsWrapper.tsx
  frontend/pages/admin/TeamManagementPage/TeamManagementPage.tsx
  frontend/pages/policies/ManagePoliciesPage/ManagePoliciesPage.tsx
Owners: none

add reimbursements section
  handbook/people.md
Owners: none

Update people.md
  handbook/people.md
Owners: none

Handbook: add information about reimbursements (#5007)
  handbook/people.md
Owners: none

adjust margin, replace icon
  website/api/helpers/strings/to-html.js
  website/assets/images/icon-info-16x16@2x.png
  website/assets/styles/pages/docs/basic-documentation.less
  website/assets/styles/pages/handbook/basic-handbook.less
Owners: none

Website: Fix table rendering in content generated from Markdown (#5002)
  website/package.json
Owners: none

increase margin on image
  website/assets/styles/pages/docs/basic-documentation.less
  website/assets/styles/pages/handbook/basic-handbook.less
Owners: none

address feedback
  cmd/fleet/cron.go
  server/datastore/mysql/software.go
  server/fleet/datastore.go
  server/fleet/hosts.go
  server/mock/datastore_mock.go
  server/webhooks/vulnerabilities.go
  server/webhooks/vulnerabilities_test.go
  server/worker/jira.go
  server/worker/jira_test.go
  tools/jira-integration/main.go
Owners: @fleetdm/go

Handbook: add section about onboarding and onboarding calls (#4980)
  handbook/people.md
Owners: none

Equity verbage
  handbook/people.md
Owners: none

Equity verbage (#5010)
  handbook/people.md
Owners: none

UI: Enter button presses action button for forms/modals (#4939)
  changes/issue-4864-enter-submits-form
  cypress/integration/all/app/labelflow.spec.ts
  frontend/components/EnrollSecretModal/EnrollSecretModal.tsx
  frontend/components/forms/LabelForm/LabelForm.tsx
  frontend/components/forms/packs/PackForm/PackForm.tsx
  frontend/pages/admin/TeamManagementPage/TeamDetailsWrapper/MembersPage/components/AddMemberModal/AddMemberModal.tsx
  frontend/pages/admin/TeamManagementPage/TeamDetailsWrapper/MembersPage/components/RemoveMemberModal/RemoveMemberModal.tsx
  frontend/pages/hosts/ManageHostsPage/ManageHostsPage.tsx
  frontend/pages/hosts/ManageHostsPage/components/DeleteLabelModal/DeleteLabelModal.tsx
  frontend/pages/hosts/ManageHostsPage/components/DeleteLabelModal/_styles.scss
  frontend/pages/hosts/ManageHostsPage/components/DeleteLabelModal/index.ts
  frontend/pages/hosts/ManageHostsPage/components/EditColumnsModal/EditColumnsModal.jsx
  frontend/pages/policies/ManagePoliciesPage/components/ManageAutomationsModal/ManageAutomationsModal.tsx
  frontend/pages/schedule/ManageSchedulePage/components/ScheduleEditorModal/ScheduleEditorModal.tsx
Owners: none

Style updates
  website/assets/styles/mixins-and-variables/colors.less
  website/assets/styles/pages/docs/basic-documentation.less
  website/assets/styles/pages/handbook/basic-handbook.less
Owners: none

Prepared Brand page for new blockquotes
  handbook/brand.md
Owners: none

chore(test): rewritten registration form page's test using rtl
  frontend/components/forms/RegistrationForm/AdminDetails/AdminDetails.tests.jsx
  frontend/components/forms/RegistrationForm/FleetDetails/FleetDetails.tests.jsx
  frontend/components/forms/RegistrationForm/OrgDetails/OrgDetails.tests.jsx
Owners: none

Prepared Brand page for new blockquotes (#5012)
  handbook/brand.md
Owners: none

Moved files per suggestion by Ben
  infrastructure/dogfood/terraform/aws/.terraform-version
  infrastructure/dogfood/terraform/aws/ecs-iam.tf
  infrastructure/dogfood/terraform/aws/ecs-sgs.tf
  infrastructure/dogfood/terraform/aws/ecs.tf
  infrastructure/dogfood/terraform/aws/firehose.tf
  infrastructure/dogfood/terraform/aws/main.tf
  infrastructure/dogfood/terraform/aws/monitoring/monitoring.tf
  infrastructure/dogfood/terraform/aws/outputs.tf
  infrastructure/dogfood/terraform/aws/percona/network.tf
  infrastructure/dogfood/terraform/aws/percona/percona.tf
  infrastructure/dogfood/terraform/aws/percona/security_groups.tf
  infrastructure/dogfood/terraform/aws/percona/variables.tf
  infrastructure/dogfood/terraform/aws/r53.tf
  infrastructure/dogfood/terraform/aws/rds.tf
  infrastructure/dogfood/terraform/aws/readme.md
  infrastructure/dogfood/terraform/aws/redis.tf
  infrastructure/dogfood/terraform/aws/remote-state/main.tf
  infrastructure/dogfood/terraform/aws/s3.tf
  infrastructure/dogfood/terraform/aws/variables.tf
  infrastructure/dogfood/terraform/aws/vpc.tf
Owners: @edwardsb, @zwinnerman-fleetdm

Update docs with new links
  docs/Contributing/Releasing-Fleet.md
  docs/Deploying/Reference-Architectures.md
  docs/Deploying/Server-Installation.md
  docs/Using-Fleet/Osquery-logs.md
Owners: none

fix lint issue
  server/worker/jira.go
Owners: @fleetdm/go

chore(test): rewritten registration form page's test using rtl (#5013)
  frontend/components/forms/RegistrationForm/AdminDetails/AdminDetails.tests.jsx
  frontend/components/forms/RegistrationForm/FleetDetails/FleetDetails.tests.jsx
  frontend/components/forms/RegistrationForm/OrgDetails/OrgDetails.tests.jsx
Owners: none

Continue work on select targets
  frontend/components/TargetsInput/TargetsInput.tsx
  frontend/components/TargetsInput/_styles.scss
  frontend/pages/policies/PolicyPage/PolicyPage.tsx
  frontend/pages/policies/PolicyPage/screens/SelectTargets.tsx
  frontend/pages/queries/QueryPage/QueryPage.tsx
  frontend/pages/queries/QueryPage/_styles.scss
  frontend/pages/queries/QueryPage/screens/SelectTargets.tsx
Owners: none

Fix unhandled error
  frontend/hooks/usePlatformCompatibility.tsx
  frontend/pages/queries/ManageQueriesPage/ManageQueriesPage.tsx
  frontend/utilities/sql_tools.ts
Owners: none

Fix loading state
  frontend/hooks/usePlatformCompatibility.tsx
  frontend/pages/queries/QueryPage/components/QueryForm/QueryForm.tsx
  frontend/utilities/sql_tools.ts
Owners: none

Update people.md
  handbook/people.md
Owners: none

Add config for multi account assume role
  infrastructure/loadtesting/terraform/backend-frontend-loadtesting.conf
  infrastructure/loadtesting/terraform/backend-loadtesting.conf
  infrastructure/loadtesting/terraform/main.tf
  infrastructure/loadtesting/terraform/variables.tf
Owners: @edwardsb, @zwinnerman-fleetdm

Handbook: update onboarding process (#4979)
  handbook/people.md
Owners: none

fixed e2e test
  cypress/integration/premium/team_admin.spec.ts
Owners: none

removed global api routes; using 'latest' instead of v1 for api routes
  frontend/fleet/endpoints.ts
Owners: none

lint fixes
  frontend/fleet/endpoints.ts
Owners: none

updated docs and tests
  cypress/support/commands.ts
  docs/Contributing/API-Versioning.md
  docs/Contributing/API-for-contributors.md
  docs/Using-Fleet/REST-API-v1.md
  docs/Using-Fleet/REST-API.md
  docs/Using-Fleet/fleetctl-CLI.md
  frontend/components/AddHostsModal/PlatformWrapper/PlatformWrapper.tsx
  frontend/components/forms/RegistrationForm/FleetDetails/FleetDetails.jsx
  frontend/components/forms/admin/AppConfigForm/AppConfigForm.tsx
  frontend/components/forms/validators/validate_yaml/validate_yaml.tests.js
  frontend/fleet/endpoints.ts
  frontend/fleet/entities/config.js
  frontend/fleet/entities/hosts.tests.js
  frontend/fleet/entities/packs.js
  frontend/pages/policies/PolicyPage/screens/RunQuery.tsx
  frontend/pages/queries/QueryPage/screens/RunQuery.tsx
  frontend/redux/nodes/entities/labels/actions.tests.js
  frontend/services/mock_service/README.md
  frontend/services/mock_service/examples/config.ts
  frontend/services/mock_service/mocks/config.ts
  frontend/test/envSetup.js
  frontend/test/mocks/README.md
  frontend/test/mocks/account_mocks.js
  frontend/test/mocks/config_mocks.js
  frontend/test/mocks/global_scheduled_query_mocks.js
  frontend/test/mocks/host_mocks.js
  frontend/test/mocks/invite_mocks.js
  frontend/test/mocks/label_mocks.js
  frontend/test/mocks/pack_mocks.js
  frontend/test/mocks/query_mocks.js
  frontend/test/mocks/scheduled_query_mocks.js
  frontend/test/mocks/session_mocks.js
  frontend/test/mocks/status_label_mocks.js
  frontend/test/mocks/target_mocks.js
  frontend/test/mocks/team_scheduled_query_mocks.js
  frontend/test/mocks/user_mocks.js
  frontend/test/target_mock.js
Owners: none
