Repository fleetdm/fleet, changes with the owners that CODEOWNERS names for each.
All owners: @fleetdm/go, @edwardsb, @zwinnerman-fleetdm, @rfairburn, @fleetdm/g-platform, @zwass, @mikermcneil, @noahtalerman, @Desmi-Dizney, @chris-mcgillicuddy, @ksatter, @guillaumeross, @eashaw, @mike-j-thomas, @charlottechance, @hollidayn, @alexmitchelliii, @tgauda, @timmy-k

CODEOWNERS:

# Go engineers are automatically added as reviewers when changes are made to go
# files or related backend files.
*.go @fleetdm/go
go.sum @fleetdm/go
go.mod @fleetdm/go
/server/ @fleetdm/go
/cmd/ @fleetdm/go

# Infra/terraform
*.tf @edwardsb @zwinnerman-fleetdm @rfairburn
/infrastructure/ @zwinnerman-fleetdm @edwardsb @rfairburn

# GitHub settings + actions
/.github/ @fleetdm/g-platform

# Codeowners file
/CODEOWNERS @zwass @mikermcneil

# Changelog
/CHANGELOG.md @noahtalerman

# Fleet documentation
/docs/ @Desmi-Dizney @chris-mcgillicuddy

# REST API reference documentation
/docs/Using-Fleet/REST-API.md @ksatter
/docs/Contributing/API-for-contributors.md @ksatter

# Standard query library YAML
/docs/01-Using-Fleet/standard-query-library/standard-query-library.yml @guillaumeross

# Articles
/articles @chris-mcgillicuddy

# Website
/website/ @eashaw
/website/views/ @eashaw
/website/assets/ @eashaw

# Website redirects and URLs
/website/config/routes.js @eashaw @mike-j-thomas

# Website backend, scripts, deps
/website/api/ @mikermcneil
/website/config/ @mikermcneil
/website/scripts/ @mikermcneil
/website/package.json @mikermcneil

# GitHub brandfront
/README.md @chris-mcgillicuddy

# NPM brandfront (npmjs.com/package/fleetctl)
/tools/fleetctl-npm/README.md @chris-mcgillicuddy

# Handbook
/handbook/company @mikermcneil
/handbook/people @charlottechance @hollidayn
/handbook/security @guillaumeross
/handbook/engineering @zwass
/handbook/product @noahtalerman
/handbook/sales @alexmitchelliii
/handbook/customers @tgauda
/handbook/growth @timmy-k
/handbook/community @timmy-k
/handbook/digital-experience @mike-j-thomas @chris-mcgillicuddy
/handbook/README.md @chris-mcgillicuddy
/handbook/handbook @chris-mcgillicuddy

#
# For configuration that determines auto-approval + auto-unfreezing, so that contributors
# can merge their own PRs without additional approval, please see the latest version of:
# https://github.com/fleetdm/fleet/blob/74f65447b718663bd04df31ea1da28915d98792c/website/config/custom.js#L88-L128
#

remove sso_settings from example
  docs/Using-Fleet/configuration-files/README.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy

remove sso settings from config examples
  docs/Using-Fleet/configuration-files/multi-file-configuration/organization-settings.yml
  docs/Using-Fleet/configuration-files/single-file-configuration.yml
Owners: @Desmi-Dizney, @chris-mcgillicuddy

Add runbooks for sandbox
  infrastructure/sandbox/readme.md
Owners: @zwinnerman-fleetdm, @edwardsb, @rfairburn

Revert "remove sso settings from config examples"
  docs/Using-Fleet/configuration-files/multi-file-configuration/organization-settings.yml
  docs/Using-Fleet/configuration-files/single-file-configuration.yml
Owners: @Desmi-Dizney, @chris-mcgillicuddy

Revert "remove sso_settings from example"
  docs/Using-Fleet/configuration-files/README.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy

Revert to refetch defaults
  frontend/pages/Homepage/cards/OperatingSystems/OperatingSystems.tsx
Owners: none

Fix typo (#7200)
  docs/Using-Fleet/configuration-files/README.md
Owners: @Desmi-Dizney, @chris-mcgillicuddy
