Repository fleetdm/fleet, changes with the owners that CODEOWNERS names for each.
All owners: @fleetdm/go, @fleetdm/frontend, @rfairburn, @ksatter, @lukeheath, @edwardsb, @noahtalerman, @rachaelshaw, @eashaw, @dherder, @mikermcneil, @sampfluger88, @lucasmrod, @roperzh, @ghernandez345, @getvictor

Add error handling for invalid JSON, escape characters from placeholder text
  frontend/pages/admin/IntegrationsPage/cards/Calendars/Calendars.tsx
  tsconfig.json
Owners: @fleetdm/frontend

Adding vendor process to handbook (#17554)
  handbook/business-operations/README.md
Owners: @sampfluger88

[StepSecurity] ci: Harden GitHub Actions (#17767)
  .github/workflows/deploy-vulnerability-dashboard.yml
  .github/workflows/dogfood-gitops.yml
  .github/workflows/test-vulnerability-dashboard-changes.yml
Owners: @eashaw, @getvictor

finalize disabled dropdown option styles
  frontend/pages/policies/ManagePoliciesPage/ManagePoliciesPage.tsx
  frontend/pages/policies/ManagePoliciesPage/_styles.scss
Owners: @fleetdm/frontend

Update reduced footer height.
  website/assets/styles/layout.less
Owners: none

CODEOWNERS:

##############################################################################################
#   ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ïó    ‚ñà‚ñà‚ïó‚ñà‚ñà‚ñà‚ïó   ‚ñà‚ñà‚ïó‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó
#  ‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ïê‚ïù‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ñà‚ñà‚ïó‚ñà‚ñà‚ïî‚ïê‚ïê‚ñà‚ñà‚ïó‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ïê‚ïù‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ñà‚ñà‚ïó‚ñà‚ñà‚ïë    ‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ñà‚ïó  ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ïê‚ïù‚ñà‚ñà‚ïî‚ïê‚ïê‚ñà‚ñà‚ïó‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ïê‚ïù
#  ‚ñà‚ñà‚ïë     ‚ñà‚ñà‚ïë   ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïë  ‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó  ‚ñà‚ñà‚ïë   ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïë ‚ñà‚ïó ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïî‚ñà‚ñà‚ïó ‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó  ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïî‚ïù‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó
#  ‚ñà‚ñà‚ïë     ‚ñà‚ñà‚ïë   ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïë  ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïî‚ïê‚ïê‚ïù  ‚ñà‚ñà‚ïë   ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ïó‚ñà‚ñà‚ïë‚ñà‚ñà‚ïë‚ïö‚ñà‚ñà‚ïó‚ñà‚ñà‚ïë‚ñà‚ñà‚ïî‚ïê‚ïê‚ïù  ‚ñà‚ñà‚ïî‚ïê‚ïê‚ñà‚ñà‚ïó‚ïö‚ïê‚ïê‚ïê‚ïê‚ñà‚ñà‚ïë
#  ‚ïö‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó‚ïö‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïî‚ïù‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïî‚ïù‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó‚ïö‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïî‚ïù‚ïö‚ñà‚ñà‚ñà‚ïî‚ñà‚ñà‚ñà‚ïî‚ïù‚ñà‚ñà‚ïë ‚ïö‚ñà‚ñà‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó‚ñà‚ñà‚ïë  ‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïë
#   ‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù ‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù ‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù ‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù ‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù  ‚ïö‚ïê‚ïê‚ïù‚ïö‚ïê‚ïê‚ïù ‚ïö‚ïê‚ïù  ‚ïö‚ïê‚ïê‚ïê‚ïù‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù‚ïö‚ïê‚ïù  ‚ïö‚ïê‚ïù‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù
##############################################################################################
# ‚õî This file indicates REQUIRED reviewers for changes to certain file paths in this repo.
#
# > How? This "requiredness" is provided natively by GitHub.  If a team is specified, then
# > the logic behaves slightly differently.  See GitHub's latest documentation on CODEOWNERS
# > for more information.  CODEOWNERS is especially useful for paths that usually end up
# > in PRs with lots of other reviewers.)
#
# ‚ö†Ô∏è For file paths not listed, the DRI is instead indicated in website/config/custom.js.
# Regardless of whether a path's DRI is configured in CODEOWNERS or custom.js, the DRI is
# automatically requested for review when changes are proposed.
#   [!] But beware: No path should ever be configured as a DRI in both CODEOWNERS _and_
#       the website config.
#   [!] In addition, no path should ever be configured in CODEOWNERS if there is ALSO one
#       of its ancestral paths configured in website/config/custom.js.
#
# ‚úÖ Some paths also have multiple individuals who are allowed to make changes without review,
# even though they are not the DRI.  These are called "maintainers".
#
# For more information on how this works, see:
# - What is a DRI and how is this configured? https://fleetdm.com/handbook/company/why-this-way#why-direct-responsibility
# - Historical context: https://github.com/fleetdm/fleet/pull/12786
##############################################################################################


##############################################################################################
# üöÄ Golang files and other files related to the core product backend.
# (1 or more Golang-literate engineers is required to review changes.)
# FUTURE: Look for a way to not have this notify every single person in this "github team".
##############################################################################################
*.go @fleetdm/go
go.sum @fleetdm/go
go.mod @fleetdm/go
/server/ @fleetdm/go
/cmd/ @fleetdm/go

##############################################################################################
# üöÄ React files and other files related to the core product frontend.
# (1 or more React-literate engineers is required to review changes.)
# FUTURE: Look for a way to not have this notify every single person in this "github team".
##############################################################################################
/frontend/ @fleetdm/frontend

##############################################################################################
# üöÄ Config as code for infrastructure, internal security and IT use cases, and more.
# (1 or more infra-literate engineers is required to review changes.)
# FUTURE: Look for a way to not have this notify every single person in this "github team".
##############################################################################################

/infrastructure/ @rfairburn @ksatter @lukeheath @edwardsb
/charts/ @rfairburn @ksatter @lukeheath @edwardsb
/terraform/ @rfairburn @ksatter @lukeheath @edwardsb
/it-and-security/ @noahtalerman

##############################################################################################
# ‚öóÔ∏è Reference, config surface, built-in queries, API, and other documentation.
#
# (see website/config/custom.js for DRIs of other paths not listed here)
##############################################################################################
/docs                                           @rachaelshaw
/docs/Using-Fleet/REST-API.md                   @rachaelshaw # ¬´ REST API reference documentation
/docs/Contributing/API-for-contributors.md      @rachaelshaw # ¬´ Advanced / contributors-only API reference documentation
/schema                                         @eashaw # ¬´ Data tables (osquery/fleetd schema) documentation
/docs/Deploy/kubernetes/ @dherder # ¬´ Kubernetes best practice
##############################################################################################
# ü´ß Pricing and features
#
# (see website/config/custom.js for DRIs of other paths not listed here)
##############################################################################################
/handbook/company/pricing-features-table.yml          @mikermcneil # ¬´ CEO is current DRI for features table

##############################################################################################
# ü¶ø Repo automation and change control settings
##############################################################################################
# /CODEOWNERS                 @mikermcneil  # Covered in DRIs

##############################################################################################
# ü¶ø Handbook
#
# (see website/config/custom.js for DRIs of other paths not listed here)
##############################################################################################
/handbook/company/README.md            @mikermcneil
/handbook/company/communications.md    @mikermcneil
/handbook/company/leadership.md        @mikermcneil
/handbook/company/why-this-way.md      @mikermcneil
/handbook/README.md                    @mikermcneil
/handbook/company/open-positions.yml   @sampfluger88
/handbook/company/product-groups.md    @mikermcneil @sampfluger88 @lukeheath
/handbook/business-operations       @sampfluger88
/handbook/digital-experience        @sampfluger88
/handbook/customer-success          @sampfluger88
/handbook/demand                    @sampfluger88
/handbook/engineering               @sampfluger88 @lukeheath
/handbook/sales                     @sampfluger88
/handbook/product-design            @sampfluger88

##############################################################################################
# ü¶ø GitHub issue templates
##############################################################################################
/.github/ISSUE_TEMPLATE     @mikermcneil @sampfluger88 @lukeheath  # See https://github.com/fleetdm/fleet/pull/16203

##############################################################################################
# üåê GitHub workflows
##############################################################################################
/.github/workflows/markdown-link-check-config.json @eashaw
/.github/workflows/deploy-vulnerability-dashboard.yml @eashaw
/.github/workflows/test-website.yml @eashaw
/.github/workflows/test-vulnerability-dashboard-changes.yml @eashaw
/.github/workflows/docs.yml @eashaw
/.github/workflows/deploy-fleet-website.yml @eashaw

##############################################################################################
# üöÄ GitHub workflows
##############################################################################################
/.github/workflows/README.md @lukeheath
/.github/workflows/goreleaser-fleet.yaml @lukeheath
/.github/workflows/update-certs.yml @lukeheath
/.github/workflows/codeql-analysis.yml @lukeheath
/.github/workflows/codeql.yml @lukeheath
/.github/workflows/scorecards-analysis.yml @lukeheath
/.github/workflows/integration.yml @lukeheath
/.github/workflows/fleetctl-preview.yml @lukeheath
/.github/workflows/fleetctl-preview-latest.yml @lukeheath
/.github/workflows/goreleaser-orbit.yaml @lukeheath
/.github/workflows/trivy-scan.yml @lukeheath
/.github/workflows/goreleaser-snapshot-fleet.yaml @lukeheath
/.github/workflows/build-and-push-fleetctl-docker.yml @lukeheath
/.github/workflows/fleetd-tuf.yml @lucasmrod
/.github/workflows/generate-desktop-targets.yml @lucasmrod
/.github/workflows/test-yml-specs.yml @lucasmrod
/.github/workflows/build-binaries.yaml @lucasmrod
/.github/workflows/fleet-and-orbit.yml @lucasmrod
/.github/workflows/build-orbit.yaml @lucasmrod
/.github/workflows/generate-osqueryd-targets.yml @lucasmrod
/.github/workflows/test-packaging.yml @lucasmrod
/.github/workflows/release-helm.yaml @rfairburn
/.github/workflows/pr-helm.yaml @rfairburn
/.github/workflows/tfvalidate.yml @rfairburn
/.github/workflows/dogfood-deploy.yml @rfairburn
/.github/workflows/test-db-changes.yml @roperzh
/.github/workflows/test-go.yaml @roperzh
/.github/workflows/golangci-lint.yml @roperzh
/.github/workflows/test-native-tooling-packaging.yml @roperzh
/.github/workflows/check-tuf-timestamps.yml @roperzh
/.github/workflows/test-puppet.yml @roperzh
/.github/workflows/generate-nudge-targets.yml @roperzh
/.github/workflows/test-js.yml @ghernandez345
/.github/workflows/dogfood-gitops.yml @getvictor
/.github/workflows/test-fleetd-chrome.yml @getvictor
/.github/workflows/release-fleetd-chrome.yml @getvictor
/.github/workflows/release-fleetd-chrome-beta.yml @getvictor

# ‚ÑπÔ∏è But wait, there's more!
# See the comments up top to learn where else DRIs and maintainers are configured.
