Repository fleetdm/fleet, changes with the owners that CODEOWNERS names for each.
All owners: @fleetdm/go, @edwardsb, @zwinnerman-fleetdm, @zwass, @noahtalerman

CODEOWNERS:

# Go engineers are automatically added as reviewers when changes are made to go
# files or related backend files.
*.go @fleetdm/go
go.sum @fleetdm/go
go.mod @fleetdm/go
/server/ @fleetdm/go
/cmd/ @fleetdm/go

# Infra/terraform
*.tf @edwardsb @zwinnerman-fleetdm
/infrastructure/ @zwinnerman-fleetdm @edwardsb

# GitHub settings + actions
/.github/ @zwass

CHANGELOG.md @noahtalerman

Remove -2px movement of button icon
  frontend/pages/queries/QueryPage/components/QueryResults/_styles.scss
Owners: none

Registering in a new state w/ Gusto
  handbook/people.md
Owners: none

Responsive checkbox on small screen widths, logo does not overlap org info
  frontend/components/forms/fields/Checkbox/_styles.scss
  frontend/pages/admin/AppSettingsPage/_styles.scss
Owners: none

Fix typos and amend PR template (#5227)
  .github/pull_request_template.md
  orbit/README.md
  orbit/cmd/orbit/orbit.go
  server/datastore/mysql/policies.go
  tools/tuf/init_tuf.sh
Owners: @zwass, @fleetdm/go

Update to Slack channel list (#5135)
  handbook/product.md
Owners: none

Remove recursion and return doRetryErr on getOrGenerateSoftwareIdDB
  server/datastore/mysql/hosts_test.go
  server/datastore/mysql/mysql.go
  server/datastore/mysql/software.go
Owners: @fleetdm/go

Website editor pass - Contribution
  docs/Contributing/README.md
Owners: none

Update README.md
  docs/Contributing/README.md
Owners: none

fix selinux issue
  go.mod
  go.sum
  orbit/pkg/packaging/linux_shared.go
  orbit/pkg/packaging/packaging.go
  orbit/pkg/update/options_linux.go
  orbit/pkg/update/update.go
  tools/tuf/init_tuf.sh
Owners: @fleetdm/go

Correct formatting issues
  handbook/community.md
Owners: none

Update brand.md
  handbook/brand.md
Owners: none

Update brand.md (#5240)
  handbook/brand.md
Owners: none

Add links to community PR process
  handbook/community.md
Owners: none

Change Communitiy contributions > Pull requests
  handbook/community.md
Owners: none

add changes file
  orbit/changes/4176-orbit-fix-selinux-permissions
Owners: none

update cleanup script
  orbit/tools/cleanup/cleanup_linux.sh
Owners: none

Validate article page metaData
  website/scripts/build-static-content.js
Owners: none

add articles linked from header, remove test articles
  articles/deploying-fleet-on-aws-with-terraform.md
  articles/deploying-fleet-on-render.md
  articles/fleet-user-stories-f100.md
  articles/fleet-user-stories-schrodinger.md
  articles/fleet-user-stories-wayfair.md
  articles/how-to-uninstall-osquery.md
  articles/osquery-a-tool-to-easily-ask-questions-about-operating-systems.md
  articles/security-testing-at-fleet-orbit-auto-updater-audit.md
  articles/tales-from-fleet-security-securing-google-workspace.md
Owners: none

update article styles
  website/assets/styles/pages/articles/basic-article.less
  website/views/pages/articles/basic-article.ejs
Owners: none

Website: Fix broken link
  website/views/pages/press-kit.ejs
Owners: none

Website: Fix broken link (#5242)
  website/views/pages/press-kit.ejs
Owners: none

formatting and typo fixes
  handbook/README.md
  handbook/community.md
Owners: none

comment out /articles route, update blog post links
  website/api/controllers/articles/view-basic-article.js
  website/config/routes.js
  website/views/layouts/layout.ejs
  website/views/pages/articles/articles.ejs
Owners: none

articles page
  website/api/controllers/articles/view-articles.js
  website/assets/js/pages/articles/articles.page.js
  website/assets/styles/pages/articles/articles.less
  website/config/routes.js
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout.ejs
  website/views/pages/articles/articles.ejs
Owners: none

Move article category page to different branch for future PR
  website/api/controllers/articles/view-articles.js
  website/assets/js/pages/articles/articles.page.js
  website/assets/styles/importer.less
  website/assets/styles/pages/articles/articles.less
  website/config/routes.js
  website/views/layouts/layout-landing.ejs
  website/views/pages/articles/articles.ejs
Owners: none

Update build-static-content.js
  website/scripts/build-static-content.js
Owners: none

remove pagescript
  website/views/layouts/layout-customer.ejs
  website/views/layouts/layout-landing.ejs
  website/views/layouts/layout.ejs
Owners: none

Update deploying-fleet-on-render.md
  articles/deploying-fleet-on-render.md
Owners: none

update meta tags
  articles/deploying-fleet-on-aws-with-terraform.md
  articles/deploying-fleet-on-render.md
  articles/fleet-user-stories-f100.md
  articles/fleet-user-stories-schrodinger.md
  articles/fleet-user-stories-wayfair.md
Owners: none

lint fixes
  website/assets/styles/pages/articles/basic-article.less
  website/views/pages/articles/basic-article.ejs
Owners: none

Update handbook/engineering.md
  handbook/engineering.md
Owners: none

Update handbook/engineering.md
  handbook/engineering.md
Owners: none

Update handbook/engineering.md
  handbook/engineering.md
Owners: none

Update handbook/engineering.md
  handbook/engineering.md
Owners: none

Update handbook/engineering.md
  handbook/engineering.md
Owners: none

Update handbook/engineering.md
  handbook/engineering.md
Owners: none

Update handbook/engineering.md
  handbook/engineering.md
Owners: none

Update handbook/engineering.md
  handbook/engineering.md
Owners: none

Update handbook/engineering.md
  handbook/engineering.md
Owners: none

Update handbook/engineering.md
  handbook/engineering.md
Owners: none
