Repository fleetdm/fleet, changes with the owners that CODEOWNERS names for each.
All owners: @fleetdm/go, @fleetdm/frontend, @fleetdm/infra, @edwardsb, @rachaelshaw, @eashaw, @mikermcneil, @sampfluger88

Match code style between pages
  frontend/pages/policies/ManagePoliciesPage/ManagePoliciesPage.tsx
Owners: @fleetdm/frontend

Remove unused css styling
  frontend/pages/policies/ManagePoliciesPage/ManagePoliciesPage.tsx
  frontend/pages/policies/ManagePoliciesPage/_styles.scss
  frontend/pages/queries/ManageQueriesPage/_styles.scss
Owners: @fleetdm/frontend

go 1.21.7 upgrade (#16980)
  Dockerfile-desktop-linux
  changes/issue-16794-update-go-to-1.21.7
  infrastructure/loadtesting/terraform/docker/loadtest.Dockerfile
  orbit/changes/issue-16794-upgrade-go-to-1.21.7
Owners: @fleetdm/infra, @edwardsb

Fixes from code review #2.
  changes/17048-updating-policy-name
  server/datastore/mysql/migrations/tables/20240221112844_FixUniquePolicyNameBug.go
Owners: @fleetdm/go

Add doc page
  docs/Contributing/MDM-custom-configuration-web-url
Owners: @rachaelshaw

[tiny released bug] Fleet UI: Fix live query/policy host search icon
  changes/16608-search-target-icon
  frontend/components/LiveQuery/TargetsInput/TargetsInput.tsx
  frontend/components/LiveQuery/TargetsInput/_styles.scss
  frontend/components/forms/fields/InputFieldWithIcon/_styles.scss
Owners: @fleetdm/frontend

refactor
  server/datastore/mysql/mdm.go
  server/datastore/mysql/mdm_test.go
  server/datastore/mysql/migrations/tables/20240222073518_AddCertInfoToNanoCertAssociations.go
  server/datastore/mysql/migrations/tables/20240222073518_AddCertInfoToNanoCertAssociations_test.go
  server/datastore/mysql/schema.sql
  server/fleet/apple_mdm.go
  server/fleet/datastore.go
  server/mdm/nanomdm/service/certauth/certauth.go
  server/mdm/nanomdm/storage/allmulti/certauth.go
  server/mdm/nanomdm/storage/file/certauth.go
  server/mdm/nanomdm/storage/mysql/certauth.go
  server/mdm/nanomdm/storage/pgsql/certauth.go
  server/mdm/nanomdm/storage/storage.go
  server/mock/datastore_mdm_mock.go
  server/mock/datastore_mock.go
  server/service/apple_mdm.go
  server/service/apple_mdm_test.go
Owners: @fleetdm/go

Fleet UI: Rename user settings/profile page to account page (#17032)
  changes/16029-account-page
  frontend/components/EmailTokenRedirect/EmailTokenRedirect.tsx
  frontend/components/forms/fields/InputFieldWithIcon/InputFieldWithIcon.stories.tsx
  frontend/components/top_nav/UserMenu/UserMenu.tsx
  frontend/pages/AccountPage/APITokenModal/TokenSecretField/SecretField.stories.tsx
  frontend/pages/AccountPage/APITokenModal/TokenSecretField/SecretField.tsx
  frontend/pages/AccountPage/APITokenModal/TokenSecretField/_styles.scss
  frontend/pages/AccountPage/APITokenModal/TokenSecretField/index.ts
  frontend/pages/AccountPage/AccountPage.tsx
  frontend/pages/AccountPage/AccountSidePanel/AccountSidePanel.tsx
  frontend/pages/AccountPage/AccountSidePanel/_styles.scss
  frontend/pages/AccountPage/AccountSidePanel/index.ts
  frontend/pages/AccountPage/_styles.scss
  frontend/pages/AccountPage/index.ts
  frontend/pages/UserSettingsPage/UserSidePanel/index.ts
  frontend/pages/UserSettingsPage/index.ts
  frontend/pages/admin/UserManagementPage/components/UsersTable/UsersTable.tsx
  frontend/router/index.tsx
  frontend/router/page_titles.ts
  frontend/router/paths.ts
  frontend/styles/global/_icons.scss
Owners: @fleetdm/frontend

Fleet UI: Update empty policy states (#17030)
  changes/16025-empty-policy-state
  frontend/components/graphics/EmptyPolicies.tsx
  frontend/pages/policies/ManagePoliciesPage/components/PoliciesTable/PoliciesTable.tsx
Owners: @fleetdm/frontend

Added explicit checksum checks.
  server/datastore/mysql/migrations/tables/20240221112844_FixUniquePolicyNameBug_test.go
  server/datastore/mysql/policies_test.go
Owners: @fleetdm/go

Update device-management-transparency-380x320@2x.png (#17075)
  website/assets/images/device-management-transparency-380x320@2x.png
Owners: none

Fix lint issue.
  server/datastore/mysql/migrations/tables/20240221112844_FixUniquePolicyNameBug_test.go
  server/datastore/mysql/policies_test.go
Owners: @fleetdm/go

improve integration test
  server/service/integration_mdm_test.go
Owners: @fleetdm/go

Detect 5XX alongside network errors
  orbit/cmd/orbit/orbit.go
  server/service/base_client.go
  server/service/orbit_client.go
  tools/tuf/test/README.md
  tools/tuf/test/gen_pkgs.sh
Owners: @fleetdm/go

fix integration
  server/service/integration_mdm_test.go
Owners: @fleetdm/go

Fix lint issue. for real this time.
  server/datastore/mysql/migrations/tables/20240221112844_FixUniquePolicyNameBug_test.go
  server/datastore/mysql/policies_test.go
Owners: @fleetdm/go

Minor spell check corrections
  handbook/company/open-positions.yml
Owners: @mikermcneil

Fix lint issue. for real this time #2.
  server/datastore/mysql/migrations/tables/20240221112844_FixUniquePolicyNameBug_test.go
  server/datastore/mysql/policies_test.go
Owners: @fleetdm/go

Fix UI styling of loading state for automatic enrollment settings page (#16959)
  changes/16820-loading-state-auto-enroll-ui
  frontend/pages/admin/IntegrationsPage/cards/AutomaticEnrollment/AutomaticEnrollment.tsx
Owners: @fleetdm/frontend

Fleet UI: Update queries and policies page descriptions (#17080)
  changes/15923-page-descriptions-part-2
  frontend/pages/policies/ManagePoliciesPage/ManagePoliciesPage.tsx
  frontend/pages/policies/ManagePoliciesPage/_styles.scss
  frontend/pages/queries/ManageQueriesPage/ManageQueriesPage.tsx
  frontend/pages/queries/ManageQueriesPage/_styles.scss
Owners: @fleetdm/frontend

Fix lint issue. for real this time #3.
  server/datastore/mysql/migrations/tables/20240221112844_FixUniquePolicyNameBug_test.go
  server/datastore/mysql/policies_test.go
Owners: @fleetdm/go

fix lint
  server/datastore/mysql/mdm.go
Owners: @fleetdm/go

test cert hashes are not hardcoded credentials
  server/datastore/mysql/migrations/tables/20240222073518_AddCertInfoToNanoCertAssociations_test.go
Owners: @fleetdm/go

Fixing tests.
  server/datastore/mysql/software_titles_test.go
  server/service/software.go
  server/service/software_titles.go
Owners: @fleetdm/go

Minor spell check corrections (#17085)
  handbook/company/open-positions.yml
Owners: @mikermcneil

[GCP] Fixed typo in terraform instructions - readme.md (#17025)
  infrastructure/dogfood/terraform/gcp/readme.md
Owners: @fleetdm/infra, @edwardsb

Update rest-api.md
  docs/REST API/rest-api.md
Owners: @rachaelshaw

CODEOWNERS:

##############################################################################################
#   ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ïó    ‚ñà‚ñà‚ïó‚ñà‚ñà‚ñà‚ïó   ‚ñà‚ñà‚ïó‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó
#  ‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ïê‚ïù‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ñà‚ñà‚ïó‚ñà‚ñà‚ïî‚ïê‚ïê‚ñà‚ñà‚ïó‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ïê‚ïù‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ñà‚ñà‚ïó‚ñà‚ñà‚ïë    ‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ñà‚ïó  ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ïê‚ïù‚ñà‚ñà‚ïî‚ïê‚ïê‚ñà‚ñà‚ïó‚ñà‚ñà‚ïî‚ïê‚ïê‚ïê‚ïê‚ïù
#  ‚ñà‚ñà‚ïë     ‚ñà‚ñà‚ïë   ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïë  ‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó  ‚ñà‚ñà‚ïë   ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïë ‚ñà‚ïó ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïî‚ñà‚ñà‚ïó ‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó  ‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïî‚ïù‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó
#  ‚ñà‚ñà‚ïë     ‚ñà‚ñà‚ïë   ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïë  ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïî‚ïê‚ïê‚ïù  ‚ñà‚ñà‚ïë   ‚ñà‚ñà‚ïë‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ïó‚ñà‚ñà‚ïë‚ñà‚ñà‚ïë‚ïö‚ñà‚ñà‚ïó‚ñà‚ñà‚ïë‚ñà‚ñà‚ïî‚ïê‚ïê‚ïù  ‚ñà‚ñà‚ïî‚ïê‚ïê‚ñà‚ñà‚ïó‚ïö‚ïê‚ïê‚ïê‚ïê‚ñà‚ñà‚ïë
#  ‚ïö‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó‚ïö‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïî‚ïù‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïî‚ïù‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó‚ïö‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïî‚ïù‚ïö‚ñà‚ñà‚ñà‚ïî‚ñà‚ñà‚ñà‚ïî‚ïù‚ñà‚ñà‚ïë ‚ïö‚ñà‚ñà‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïó‚ñà‚ñà‚ïë  ‚ñà‚ñà‚ïë‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ïë
#   ‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù ‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù ‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù ‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù ‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù  ‚ïö‚ïê‚ïê‚ïù‚ïö‚ïê‚ïê‚ïù ‚ïö‚ïê‚ïù  ‚ïö‚ïê‚ïê‚ïê‚ïù‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù‚ïö‚ïê‚ïù  ‚ïö‚ïê‚ïù‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù
##############################################################################################
# ‚õî This file indicates REQUIRED reviewers for changes to certain file paths in this repo.
#
# > How? This "requiredness" is provided natively by GitHub.  If a team is specified, then
# > the logic behaves slightly differently.  See GitHub's latest documentation on CODEOWNERS
# > for more information.  CODEOWNERS is especially useful for paths that usually end up
# > in PRs with lots of other reviewers.)
#
# ‚ö†Ô∏è For file paths not listed, the DRI is instead indicated in website/config/custom.js.
# Regardless of whether a path's DRI is configured in CODEOWNERS or custom.js, the DRI is
# automatically requested for review when changes are proposed.
#   [!] But beware: No path should ever be configured as a DRI in both CODEOWNERS _and_
#       the website config.
#   [!] In addition, no path should ever be configured in CODEOWNERS if there is ALSO one
#       of its ancestral paths configured in website/config/custom.js.
#
# ‚úÖ Some paths also have multiple individuals who are allowed to make changes without review,
# even though they are not the DRI.  These are called "maintainers".
#
# For more information on how this works, see:
# - What is a DRI and how is this configured? https://fleetdm.com/handbook/company/why-this-way#why-direct-responsibility
# - Historical context: https://github.com/fleetdm/fleet/pull/12786
##############################################################################################


##############################################################################################
# üöÄ Golang files and other files related to the core product backend.
# (1 or more Golang-literate engineers is required to review changes.)
# FUTURE: Look for a way to not have this notify every single person in this "github team".
##############################################################################################
*.go @fleetdm/go
go.sum @fleetdm/go
go.mod @fleetdm/go
/server/ @fleetdm/go
/cmd/ @fleetdm/go

##############################################################################################
# üöÄ React files and other files related to the core product frontend.
# (1 or more React-literate engineers is required to review changes.)
# FUTURE: Look for a way to not have this notify every single person in this "github team".
##############################################################################################
/frontend/ @fleetdm/frontend

##############################################################################################
# üöÄ Config as code for infrastructure, internal security and IT use cases, and more.
# (1 or more infra-literate engineers is required to review changes.)
# FUTURE: Look for a way to not have this notify every single person in this "github team".
##############################################################################################
/infrastructure/ @fleetdm/infra @edwardsb
/charts/ @fleetdm/infra @edwardsb
/terraform/ @fleetdm/infra @edwardsb

##############################################################################################
# ‚öóÔ∏è Reference, config surface, built-in queries, API, and other documentation.
#
# (see website/config/custom.js for DRIs of other paths not listed here)
##############################################################################################
/docs                                           @rachaelshaw
/docs/Using-Fleet/REST-API.md                   @rachaelshaw # ¬´ REST API reference documentation
/docs/Contributing/API-for-contributors.md      @rachaelshaw # ¬´ Advanced / contributors-only API reference documentation
/schema                                         @eashaw # ¬´ Data tables (osquery/fleetd schema) documentation

##############################################################################################
# ü´ß Pricing and features
#
# (see website/config/custom.js for DRIs of other paths not listed here)
##############################################################################################
/handbook/company/pricing-features-table.yml          @mikermcneil # ¬´ CEO is current DRI for features table

##############################################################################################
# ü¶ø Repo automation and change control settings
##############################################################################################
/CODEOWNERS                 @mikermcneil  # See https://github.com/fleetdm/fleet/pull/13195

##############################################################################################
# ü¶ø Handbook
#
# (see website/config/custom.js for DRIs of other paths not listed here)
##############################################################################################
/handbook/company               @mikermcneil  
/handbook/README.md             @mikermcneil
/handbook/business-operations   @sampfluger88
/handbook/digital-experience    @sampfluger88
/handbook/customer-success      @sampfluger88
/handbook/demand                @sampfluger88
/handbook/engineering           @sampfluger88
/handbook/sales                 @sampfluger88
/handbook/product-design        @sampfluger88

##############################################################################################
# ü¶ø GitHub issue templates
##############################################################################################
/.github/ISSUE_TEMPLATE     @sampfluger88  # See https://github.com/fleetdm/fleet/pull/16203

# ‚ÑπÔ∏è But wait, there's more!
# See the comments up top to learn where else DRIs and maintainers are configured.
