Repository fleetdm/fleet, changes with the owners that CODEOWNERS names for each.
All owners: @fleetdm/go, @edwardsb, @zwinnerman-fleetdm, @rfairburn, @fleetdm/g-platform, @noahtalerman, @Desmi-Dizney, @ksatter

CODEOWNERS:

# Go engineers are automatically added as reviewers when changes are made to go
# files or related backend files.
*.go @fleetdm/go
go.sum @fleetdm/go
go.mod @fleetdm/go
/server/ @fleetdm/go
/cmd/ @fleetdm/go

# Infra/terraform
*.tf @edwardsb @zwinnerman-fleetdm @rfairburn
/infrastructure/ @zwinnerman-fleetdm @edwardsb @rfairburn

# GitHub settings + actions
/.github/ @fleetdm/g-platform

# Changelog
CHANGELOG.md @noahtalerman

# Markdown docs
*.md @Desmi-Dizney

# API documentation
/docs/Using-Fleet/REST-API.md @ksatter

Adding a video to the Fleet docs
  handbook/community/README.md
Owners: @Desmi-Dizney

Quick typo fix
  articles/tales-from-fleet-security-google-groups-scams.md
Owners: @Desmi-Dizney

Tales from Fleet security: mailing list scams with Google Groups (#6953)
  articles/tales-from-fleet-security-google-groups-scams.md
  website/assets/images/articles/tales-from-fleet-security-google-groups-scams-1-1600x900@2x.jpg
  website/assets/images/articles/tales-from-fleet-security-google-groups-scams-cover-1600x900@2x.jpg
Owners: @Desmi-Dizney

Demo packaging (#7020)
  infrastructure/sandbox/.terraform.lock.hcl
  infrastructure/sandbox/PreProvisioner/lambda/Dockerfile
  infrastructure/sandbox/PreProvisioner/lambda/deploy_terraform/.terraform.lock.hcl
  infrastructure/sandbox/PreProvisioner/lambda/deploy_terraform/fleet/templates/deployment.yaml
  infrastructure/sandbox/PreProvisioner/lambda/deploy_terraform/fleet/values.yaml
  infrastructure/sandbox/PreProvisioner/lambda/deploy_terraform/main.tf
  infrastructure/sandbox/PreProvisioner/lambda/go.mod
  infrastructure/sandbox/PreProvisioner/lambda/go.sum
  infrastructure/sandbox/PreProvisioner/lambda/main.go
  infrastructure/sandbox/PreProvisioner/main.tf
  infrastructure/sandbox/PreProvisioner/variables.tf
  infrastructure/sandbox/SharedInfrastructure/eks.tf
  infrastructure/sandbox/SharedInfrastructure/variables.tf
  infrastructure/sandbox/main.tf
  infrastructure/sandbox/readme.md
Owners: @zwinnerman-fleetdm, @edwardsb, @rfairburn, @Desmi-Dizney

lock Docker version to 4.10.0 on macOS runners
  .github/workflows/fleet-and-orbit.yml
  .github/workflows/fleetctl-preview-latest.yml
  .github/workflows/fleetctl-preview.yml
  .github/workflows/test-packaging.yml
Owners: @fleetdm/g-platform

lock Docker version to 4.10.0 on macOS runners (#7082)
  .github/workflows/fleet-and-orbit.yml
  .github/workflows/fleetctl-preview-latest.yml
  .github/workflows/fleetctl-preview.yml
  .github/workflows/test-packaging.yml
Owners: @fleetdm/g-platform
